.top { height: 33px; line-height: 33px; border-bottom: 1px solid #ddd; background-color: #f8f8f8;}

.lab_icon_home { padding-left: 18px; height: 16px; background: url(../images/icon_home_16.png) no-repeat;}

.nav_w { height: 40px; line-height: 40px; border-top: 1px solid #8cb7d7; border-bottom: 1px solid #8cb7d7; outline: 1px solid #377fbc; color: #fff; background-color: #478dc8;}
.nav_w > .wrap980 > ul > li { float: left; font-size: 16px;}
.nav_w > .wrap980 > ul > li > a,
.nav_w > .wrap980 > ul > li > a:visited { display: block; padding-right: 20px; padding-left: 20px; color: #fff;}
.nav_w > .wrap980 > ul > li.cur > a,
.nav_w > .wrap980 > ul > li.cur > a:visited { margin-top: -1px; height: 41px; border-bottom: 1px solid #ffbf47; outline: 1px solid #da8300;  background-color: #f90;}
.nav_w.empty {border: 0; outline: none; height: 20px;}



.jq_tabs_gb001 {}
.jq_tabs_gb001 .tabTitle { height: 50px; line-height: 50px; border-bottom:1px solid #ddd; background-color: #f7f7f7;}
.jq_tabs_gb001 .tabTitle ul { }
.jq_tabs_gb001 .tabTitle ul li { float: left; font-size: 16px; color: #666; padding-right: 20px; cursor: pointer; padding-left: 20px; }
.jq_tabs_gb001 .tabTitle ul li.tabin { border-top:2px solid #478dc8; border-left:1px solid #ddd; border-right:1px solid #ddd; cursor: default; background-color: #fff;}
.jq_tabs_gb001 .tabTitle ul li:first-child.tabin { border-left:0;}


.service_bx > .wrap980 > dl { float: left; margin-right: 5%; margin-left: 5%; width: 10%; line-height: 180%;}
.service_bx > .wrap980 > dl > dt { margin-bottom: 3px;}
.service_bx > .wrap980 > dl > dd { font-size: 13px;}
.service_bx > .wrap980 > dl > dd a,
.service_bx > .wrap980 > dl > dd a:visited { color: #999;}


.u_v_bx { clear: both; }
.u_v_bx > label { float:left; display: inline-block; zoom:1; width: 96px; height: 36px; line-height: 36px; text-align: center; font-size: 22px; color: #fff; border-left: 10px solid #478dc8;  background-color: #6db7eb;}
.u_v_bx > p { margin-right: 300px; margin-left: 120px; color: #666; line-height: 150%;}

.m_nav_bg { position: relative; height: 46px; border: 1px solid #ddd; background-color: #f1f1f1;}

.m_nav_s02 { width: 100%;}
.m_nav_s02 li { float: left; width: 12.5%; text-align: center; font-size: 14px;}
.m_nav_s02 li a { display: inline-block; zoom:1; padding: 5px 20px;}
.m_nav_s02 li.cur a,
.m_nav_s02 li.cur a:visited { border-radius: 5px; color: #fff;  background-color: #e96558;}



.m_nav_s02 .mn_icon_01 { display: inline-block; zoom:1; margin-top: 2px; padding: 0 5px; width: 32px; height: 42px; border:0; border-radius: 8px; background: url(../images/m_nav_l_bg.png) no-repeat center 0;}
.m_nav_s02 .mn_icon_02 { display: inline-block; zoom:1; margin-top: 2px; padding: 0 5px; width: 32px; height: 42px; border:0; border-radius: 8px; background: url(../images/m_nav_l_bg.png) no-repeat center -100px;}
.m_nav_s02 .mn_icon_03 { display: inline-block; zoom:1;margin-top: 2px; padding: 0 5px; width: 32px; height: 42px; border:0; border-radius: 8px; background: url(../images/m_nav_l_bg.png) no-repeat center -200px;}
.m_nav_s02 .mn_icon_04 { display: inline-block; zoom:1;margin-top: 2px; padding: 0 5px; width: 32px; height: 42px; border:0; border-radius: 8px; background: url(../images/m_nav_l_bg.png) no-repeat center -300px;}
.m_nav_s02 .mn_icon_05 { display: inline-block; zoom:1;margin-top: 2px; padding: 0 5px; width: 32px; height: 42px; border:0; border-radius: 8px; background: url(../images/m_nav_l_bg.png) no-repeat center -400px;}
.m_nav_s02 .mn_icon_06 { display: inline-block; zoom:1;margin-top: 2px; padding: 0 5px; width: 32px; height: 42px; border:0; border-radius: 8px; background: url(../images/m_nav_l_bg.png) no-repeat center -500px;}
.m_nav_s02 .mn_icon_07 { display: inline-block; zoom:1;margin-top: 2px; padding: 0 5px; width: 32px; height: 42px; border:0; border-radius: 8px; background: url(../images/m_nav_l_bg.png) no-repeat center -600px;}
.m_nav_s02 .mn_icon_08 { display: inline-block; zoom:1;margin-top: 2px; padding: 0 5px; width: 32px; height: 42px; border:0; border-radius: 8px; background: url(../images/m_nav_l_bg.png) no-repeat center -700px;}

.m_nav_s02 li.cur > p > span { border:1px solid #ddd; background-color: #fff;}


.m_nav_s02 li.cur { position: relative;}
.m_nav_s02 li.cur a { position: absolute; left:20%;}
.m_nav_s02 li.cur a .arrow { position:absolute; height:30px; left:40%; top:-16px; }
.m_nav_s02 li.cur a .arrow * { display:block; border-width:8px; position:absolute; border-style:solid dashed dashed dashed; font-size:0; line-height:0; }
.m_nav_s02 li.cur a .arrow em { border-color: transparent transparent #d8c9ba transparent;}
.m_nav_s02 li.cur a .arrow span { border-color: transparent  transparent #e96558 transparent;} 

.bg_fa { background-color: #fafafa;}
.login_banner { min-height:400px; background: url(../images/login_banner.jpg) no-repeat 20px 0px;}


.login_bx { margin-right: 0; margin-left: auto; background-color: #fff;}
 .login_bx .jq_login_banner input[type=text],
 .login_bx .jq_login_banner input[type=password] { padding-left: 32px; height: 36px; font-size: 14px; border: 1px solid #ddd;}

.jq_login_banner .tabTitle {  background-color: #f5f5f5;}
.jq_login_banner .tabTitle ul { }
.jq_login_banner .tabTitle ul li { float: left; border-bottom: 1px solid #eee; font-size: 18px; width: 140px; height: 47px; line-height: 48px; text-align: center; cursor: pointer;}
.jq_login_banner .tabTitle ul li.cur { width: 138px; cursor: default; border-right: 1px solid #eee; border-bottom: 1px solid transparent;  background-color: #fff;}
.jq_login_banner .tabTitle ul li:last-child.cur { width: 138px; cursor: default; border-left: 1px solid #eee; border-bottom: 1px solid transparent; background-color:#fff;}

 .login_bx .jq_login_banner input.c1 { background: url(../images/ipt_login_c1_24.png) #fff no-repeat 3px center;}
 .login_bx .jq_login_banner input.c2 { background: url(../images/ipt_login_c2_24.png) #fff no-repeat 3px center;}
 .login_bx .jq_login_banner input.c3 { background: url(../images/ipt_login_c3_24.png) #fff no-repeat 3px center;}

.abtn_refresh { display: inline-block; zoom:1; width: 32px; height: 32px; font-size: 0; vertical-align: middle; border: 0; background: url(../images/abtn_refresh.png) no-repeat;}
.abtn_refresh2 { display: inline-block; zoom:1; width: 24px; height: 24px; font-size: 0; vertical-align: middle; border: 0; background: url(../images/abtn_refresh2.png) no-repeat;}

.idx_banner_bx { background-color: #ece5de;}


.idx_abtn_list { display: table; width: 100%;}
.idx_abtn_list li { display: table-cell; width:12.5%; text-align: center;}


.idx_login_bx { position: absolute; top: 90px; right: 0; padding: 3px; width: 302px; border: 3px solid #fff; background: rgba(255,255,255,0);}

.idx_login_bx > .login_sub_bx { background-color: #fff;}

.idx_login_bx > .login_sub_bx .tabTitle {}
.idx_login_bx > .login_sub_bx .tabTitle ul {}
.idx_login_bx > .login_sub_bx .tabTitle ul li { float: left; width: 150px; height: 30px; line-height: 30px; text-align: center; font-size: 14px; background-color: #f0ece8; cursor: pointer;}
.idx_login_bx > .login_sub_bx .tabTitle ul li.cur { cursor: default; color: #fff; background-color: #54afce;}


.idx_login_bx > .login_sub_bx .tabTitle ul li.cur { position: relative;}
.idx_login_bx > .login_sub_bx .tabTitle ul li.cur b { position: absolute; left:30%;}
.idx_login_bx > .login_sub_bx .tabTitle ul li.cur b .arrow { position:absolute; height:30px; left:40%; bottom:-28px; }
.idx_login_bx > .login_sub_bx .tabTitle ul li.cur b .arrow * { display:block; border-width:8px; position:absolute; border-style:solid dashed dashed dashed; font-size:0; line-height:0; }
.idx_login_bx > .login_sub_bx .tabTitle ul li.cur b .arrow em { border-color: #d8c9ba transparent transparent transparent;}
.idx_login_bx > .login_sub_bx .tabTitle ul li.cur b .arrow span { border-color: #54afce transparent  transparent  transparent;} 


.idx_login_bx > .login_sub_bx input[type=text],
.idx_login_bx > .login_sub_bx input[type=password] { border: 1px solid #ddd; padding-left: 28px; height: 26px;}
.idx_login_bx > .login_sub_bx input.c1 { background: url(../images/ipt_login_c1_24.png) #fff no-repeat 3px center;}
.idx_login_bx > .login_sub_bx input.c2 { background: url(../images/ipt_login_c2_24.png) #fff no-repeat 3px center;}
.idx_login_bx > .login_sub_bx input.c3 { background: url(../images/ipt_login_c3_24.png) #fff no-repeat 3px center;}


.idx_login_bx .btm_link {}
.idx_login_bx .btm_link li { float: left; width: 33.1%; text-align: center; }