<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
 "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>		
	<bean id="riskBlackListService" class="com.pay.risk.commons.RiskBlackWhiteListService">
	    <property name="blackWhiteListService" ref="blackWhiteListService"/>
	</bean>
	
	<bean id="riskValidateListService" class="com.pay.risk.service.impl.RiskValidateServiceImpl">
	    <property name="riskValidateService" ref="crosspayValidateService"/>
	    <property name="clientService" ref="accountingClientService"/>
	    <property name="enterpriseBaseService" ref="acc-enterpriseBaseService" />
	    <property name="riskOrderDAO" ref="riskOrderDAO"/>
	</bean>
</beans> 