<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
 "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
	<bean id="gatewayBaseDAO" class="com.pay.inf.dao.impl.BaseDAOImpl"
		abstract="true">
		<property name="sqlMapClient" ref="gatewaySqlMapClient" />
	</bean>
	<bean id="orderQueryDAO" class="com.pay.inf.dao.impl.BaseDAOImpl"
		parent="gatewayBaseDAO">
		<property name="namespace" value="orderQueryCrop" />
	</bean>
</beans> 