<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
 "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>	
	<bean id="recurringService" class="com.pay.recurring.service.impl.RecurringServiceImpl">
		<property name="recurringDao" ref="recurringDao" />
	</bean>
	
	<bean id="taskRecurringService" class="com.pay.recurring.service.impl.TaskRecurringServiceImpl">
		<property name="taskRecurringDao" ref="taskRecurringDao" />
	</bean>
	
	<bean id="channelMidAmtService" class="com.pay.channel.service.impl.ChannelMidAmtServiceImpl">
		<property name="channelMidAmtDao" ref="channelMidAmtDao" />
		<property name="txncoreClientService" ref="txncoreClientService" />
	</bean>
	
	<bean id="orderMonitorService" class="com.pay.monitor.service.impl.OrderMonitorServiceImpl">
		<property name="orderMonitorDao" ref="orderMonitorDao" />
		<property name="monitorTradelistDAO" ref="monitorTradelistDAO" />
	</bean>
	
 
	<bean id="merchantWebsiteCheckService" class="com.pay.order.service.impl.MerchantWebsiteCheckServiceImpl">
		<property name="merchantWebsiteCheckDao" ref="merchantWebsiteCheckDao"/>
	</bean>
 	<!-- 异常卡 -->
	<bean id="exceptionCardSender" class="com.pay.notification.impl.ExceptionCardSenderImpl">
		<property name="exceptionCardService" ref="exceptionCardService" />
	</bean>
	<!-- 交易日报表数据更新 -->
	<bean id="tranDailyReportSender" class="com.pay.notification.impl.TranDailyReportSenderImpl">
		<property name="settleClientService" ref="settleClientService" />
	</bean>
	
</beans> 