body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{margin: 0;padding: 0;list-style: none;font-family:Tahoma,Arial,Roboto,”Droid Sans”,”Helvetica Neue”,”Droid Sans Fallback”,”Heiti SC”,sans-self;}
body{ 
padding:0px 12px;
background: #ECEEEF;

}
@media (min-width: 540px) {
 html,body{
 margin:0 auto;
 width:540px;
 }
 
}
a,input{
background:none;
outline:none;
border:none;
}
a:link{
text-decoration:none;
}
a:visited{
text-decoration:none;
}
a:hover{
text-decoration:none;
}
a:active{
text-decoration:none;
}
p{ text-indent:2em}
.container{
width:100%;
padding-bottom:50px;
}
.list_title{
 padding: 15px 0px 9px;
 text-align:left;
 line-height: 16px;
}
.list_title span{
 font-size: 14px;
 color: #000000;
 line-height: 14px;
 

}
.list_title_histrory{
 padding: 20px 0px 10px;
 text-align:left;
 
}
.list_title_histrory span{
 font-size: 16px;
 color: #000000;
 

}
.list_title_histrory a{
float:right;
 font-size: 16px;
color: #02ADED;
 

}
.sign_title{
 padding: 20px 0px 14px;
 text-align:left;
 
}
.sign_title span{
 font-size: 14px;
 color: #000000;
 line-height: 14px;
 

}
ul {
border-top:1px solid #CBCFD6;
border-bottom:1px solid #CBCFD6;
margin:0px -12px;
padding:0px 0px 0px 12px;
background-color:#FFFFFF;
}

ul li{
border-bottom:1px solid #CBCFD6; 
background: url('../img/icon_list_rightarrow.png') transparent;
background-repeat:no-repeat;
background-position:right center;
background-size:auto 100%;
-webkit-background-size:auto 100%;
position: relative;
}
ul li:last-child  {
border-bottom:none; 
}
ul li input{
border:none; 
margin:0px; 
padding:10px 0px;
font-size:16px;
height:44px;
line-height:22px;
border-radius:0px; 

background:none;
color:#4B4C4D; 
box-sizing: border-box;
-webkit-box-sizing: border-box;

/*text-indent:10px;*/
}
ul li a.x{
display:none;
width:44px;
height:44px;
position: absolute;
right:0px;
top:0px;
background: url('../img/x.png') transparent;
background-repeat:no-repeat;
 background-position:center center;
 background-size:auto 50%;
 -webkit-background-size:auto 50%;
}
ul li.public{
overflow:hidden;
background: none;
position: relative;
height: 44px;
}
ul li.public input{
/*1229*/
position: absolute;     
left: 0px;
width: 100%;
padding-left: 0px;

padding-right: 44px;

}
ul li.public a{
display:none;
width:44px;
height:44px;
position: absolute;
right:0px;
top:0px;
background: url('../img/x.png') transparent;
background-repeat:no-repeat;
 background-position:center center;
 background-size:auto 50%;
 -webkit-background-size:auto 50%;
 
}
ul li.tag{
overflow:hidden;
background: none;
position: relative;

}
ul li.tag input{
float:left;
/*1229*/
position: absolute;     
left: 0px;
width: 100%;
padding-left: 88px;
box-sizing: border-box;
padding-right: 44px;
}
ul li.tag label{
font-size: 16px;
color: #4B4C4D;
text-align:left;
float:left;
width: 88px;
display: block;
line-height: 44px;
}
ul li.tag a{
display:none;
width:44px;
height:44px;
position: absolute;
right:0px;
top:0px;
background: url('../img/x.png') transparent;
background-repeat:no-repeat;
 background-position:center center;
 background-size:auto 50%;
 -webkit-background-size:auto 50%;
}

ul li.tag_select{
overflow:hidden;
position: relative;
}
ul li.tag_select input{
float:left;
/*1229*/
position: absolute;     
left: 0px;
width: 100%;
padding-left: 88px;
box-sizing: border-box;
padding-right: 44px;
}
ul li.tag_select label{
font-size: 16px;
color: #4B4C4D;
text-align:left;
float:left;
width: 88px;
display: block;
line-height: 44px;
}
ul li.tag_select a{
display:none;
width:44px;
height:44px;
position: absolute;
right:0px;
top:0px;
background: url('../img/x.png') transparent;
background-repeat:no-repeat;
 background-position:center center;
 background-size:auto 50%;
 -webkit-background-size:auto 50%;
}
ul li.readonly{
overflow:hidden;
background: none;
}
ul li.readonly input{
color: #CCCCCC;
 word-break:keep-all;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}
ul li.readonly label{
 float:right;
 margin-right:12px;
 line-height: 44px;
 font-size: 14px; 
 color: #12C427;
 display:block;
 height:44px;
}
ul li.readonly img{
 float:right;
 margin-right:10px;
}
ul li.readonly span{
 float:right;
 margin-right:10px;
 line-height: 44px;
 background: url('../img/icon_list_right.png') transparent;
 background-repeat:no-repeat;
 background-position:center center;
 background-size:auto 100%;
 -webkit-background-size:auto 100%;
}
ul li.tag_readonly{
overflow:hidden;
background: none;
}
ul li.tag_readonly input{
color: #CCCCCC;

}
ul li.tag_readonly span{
line-height:44px;
margin-left: 10px;
color: #CCC;

}
ul li.tag_readonly label:nth-child(1){
 font-size: 16px;
color: #4B4C4D;
text-align:left;
float:left;
width: 88px;
display: block;
line-height: 44px;
}
ul li.tag_readonly label:nth-child(3){
 float:right;
 margin-right:12px;
 line-height: 44px;
 font-size: 14px; 
 color: #12C427;
}
ul li.tag_readonly img{
 float:right;
 margin-right:10px;
}
ul li.tagpic{
position: relative;
background: url('../img/icon_phone.png') transparent;
background-repeat:no-repeat;
background-position:left 2px;
background-size:auto 100%;
-webkit-background-size:auto 100%;
height:44px;
}
ul li.tagpic input{
/*margin-left:36px;*/
/*1229*/
position: absolute;     
left: 0px;
width: 100%;
padding-left: 36px;
box-sizing: border-box;
padding-right: 44px;
}
ul li.tagpic a{
display:none;
width:44px;
height:44px;
position: absolute;
right:0px;
top:0px;
background: url('../img/x.png') transparent;
background-repeat:no-repeat;
 background-position:center center;
 background-size:auto 50%;
 -webkit-background-size:auto 50%;
}
.button_a{
display:block;
margin-top:20px;
margin-bottom:26px;
text-align:center;

height:44px;
border-radius: 4px;
background-image: -o-linear-gradient(-90deg, #FF562B 0%, #FE4B2C 100%);
background-image: -moz-linear-gradient(-90deg, #FF562B 0%, #FE4B2C 100%);
background-image: -ms-linear-gradient(-90deg, #FF562B 0%, #FE4B2C 100%);
background-image: linear-gradient(-180deg, #FF562B 0%, #FE4B2C 100%);
background: -webkit-gradient(linear, 0 0, 0 100%, from(#FF562B), to(#FE4B2C));
-moz-box-shadow: inset 0px 1px 0px 0px #FF562B, inset 0px -2px 0px 0px #EE3E1E, inset 0px 2px 0px 0px rgba(255,255,255,0.20);
box-shadow: inset 0px 1px 0px 0px #FF562B, inset 0px -2px 0px 0px #EE3E1E, inset 0px 2px 0px 0px rgba(255,255,255,0.20);
font-size: 16px;
color: #FFFFFF;
line-height: 44px;
text-shadow: 0px 1px 1px rgba(0,0,0,0.50);

}
.button_a:active{
-webkit-transition:0.3s;
-ms-transition:0.3s;
transition:0.3s;

height:44px;
border-radius: 4px;
background-image: -o-linear-gradient(-90deg, #E04B26 0%, #E04226 100%);
background-image: -moz-linear-gradient(-90deg, #E04B26 0%, #E04226 100%);
background-image: -ms-linear-gradient(-90deg, #E04B26 0%, #E04226 100%);
background-image: linear-gradient(-180deg, #E04B26 0%, #E04226 100%);
background: -webkit-gradient(linear, 0 0, 0 100%, from(#FF562B), to(#E04226));
-moz-box-shadow: inset 0px -2px 0px 0px #CC351B, inset 0px 2px 0px 0px rgba(224,109,67,0.80);
box-shadow: inset 0px -2px 0px 0px #CC351B, inset 0px 2px 0px 0px rgba(224,109,67,0.80);
font-size: 16px;
color: #FFFFFF;
line-height: 44px;
text-shadow: 0px 1px 1px rgba(0,0,0,0.50);
}
.button_b{
display:block;
margin-top:20px;
margin-bottom:26px;
text-align:center;

height:44px;
border-radius: 4px;
background-image: -o-linear-gradient(-90deg, #D4D5D6 0%, #CFD0D1 100%);
background-image: -moz-linear-gradient(-90deg, #D4D5D6 0%, #CFD0D1 100%);
background-image: -ms-linear-gradient(-90deg, #D4D5D6 0%, #CFD0D1 100%);
background-image: linear-gradient(-180deg, #D4D5D6 0%, #CFD0D1 100%);
background: -webkit-gradient(linear, 0 0, 0 100%, from(#D4D5D6), to(#CFD0D1));
-moz-box-shadow: inset 0px 1px 0px 0px #D4D5D6, inset 0px -2px 0px 0px rgba(0,0,0,0.10), inset 0px 2px 0px 0px rgba(255,255,255,0.40);
box-shadow: inset 0px 1px 0px 0px #D4D5D6, inset 0px -2px 0px 0px rgba(0,0,0,0.10), inset 0px 2px 0px 0px rgba(255,255,255,0.40);
font-size: 16px;
color: #333333;
line-height: 44px;
text-shadow: 0px 1px 1px #FFFFFF;
}
.button_b:active{
-webkit-transition:0.3s;
-ms-transition:0.3s;
transition:0.3s;
height:44px;
border-radius: 4px;
background-image: -o-linear-gradient(-90deg, #C5C6C7 0%, #BBBCBD 100%);
background-image: -moz-linear-gradient(-90deg, #C5C6C7 0%, #BBBCBD 100%);
background-image: -ms-linear-gradient(-90deg, #C5C6C7 0%, #BBBCBD 100%);
background-image: linear-gradient(-180deg, #C5C6C7 0%, #BBBCBD 100%);
background: -webkit-gradient(linear, 0 0, 0 100%, from(#C5C6C7), to(#BBBCBD));
-moz-box-shadow: inset 0px 1px 0px 0px #C5C6C7, inset 0px -2px 0px 0px rgba(0,0,0,0.10), inset 0px 2px 0px 0px rgba(255,255,255,0.40);
box-shadow: inset 0px 1px 0px 0px #C5C6C7, inset 0px -2px 0px 0px rgba(0,0,0,0.10), inset 0px 2px 0px 0px rgba(255,255,255,0.40);
font-size: 16px;
color: #FFFFFF;
line-height: 44px;
text-shadow: 0px 1px 1px rgba(0,0,0,0.50);
}
.button_c{
display:block;
margin-top:20px;
margin-bottom:26px;
text-align:center;

height:44px;
border-radius: 4px;
background-image: -o-linear-gradient(-90deg, #444D5C 0%, #39404D 100%);
background-image: -moz-linear-gradient(-90deg, #444D5C 0%, #39404D 100%);
background-image: -ms-linear-gradient(-90deg, #444D5C 0%, #39404D 100%);
background-image: linear-gradient(-180deg, #444D5C 0%, #39404D 100%);
background: -webkit-gradient(linear, 0 0, 0 100%, from(#444D5C), to(#39404D));
-moz-box-shadow: inset 0px -1px 0px 0px #303947, inset 0px 1px 0px 0px #6B7C8F;
box-shadow: inset 0px -1px 0px 0px #303947, inset 0px 1px 0px 0px #6B7C8F;
font-size: 16px;
color: #FFFFFF;
line-height: 44px;
text-shadow: 0px 1px 1px rgba(0,0,0,0.50);
}
.button_c:active{
-webkit-transition:0.3s;
-ms-transition:0.3s;
transition:0.3s;
height:44px;
border-radius: 4px;
background-image: -o-linear-gradient(-90deg, #262B33 0%, #1E2229 100%);
background-image: -moz-linear-gradient(-90deg, #262B33 0%, #1E2229 100%);
background-image: -ms-linear-gradient(-90deg, #262B33 0%, #1E2229 100%);
background-image: linear-gradient(-180deg, #262B33 0%, #1E2229 100%);
background: -webkit-gradient(linear, 0 0, 0 100%, from( #262B33), to(#1E2229));
-moz-box-shadow: inset 0px -1px 0px 0px #303947, inset 0px 1px 0px 0px #6B7C8F;
box-shadow: inset 0px -1px 0px 0px #303947, inset 0px 1px 0px 0px #6B7C8F;
font-size: 16px;
color: #FFFFFF;
line-height: 44px;
text-shadow: 0px 1px 1px rgba(0,0,0,0.50);
}
.button_disable{
display:block;
margin-top:20px;
margin-bottom:26px;
text-align:center;
height:44px;
border-radius: 4px;
background-image: -o-linear-gradient(-90deg, #D4D5D6 0%, #CFD0D1 100%);
background-image: -moz-linear-gradient(-90deg, #D4D5D6 0%, #CFD0D1 100%);
background-image: -ms-linear-gradient(-90deg, #D4D5D6 0%, #CFD0D1 100%);
background-image: linear-gradient(-180deg, #D4D5D6 0%, #CFD0D1 100%);
background: -webkit-gradient(linear, 0 0, 0 100%, from( #D4D5D6), to(#CFD0D1));
font-size: 16px;
color: #B9BABB;
line-height: 44px;
}

/*input[type='checkbox']
  {
    width: 100%;
    height: 1.4em;
    -webkit-mask-image:url("../img/checkbox_on.png");
    -webkit-appearance: none;
    -webkit-mask-repeat: round;
    -webkit-mask-size: 1.7em;
    -webkit-mask-position: right;


    background-color: #dcdce3;
  }
  */
 label.checkbox
{
background: url('../img/checkbox_off.png') no-repeat 0 0 transparent;
display:inline-block;
margin:10px 0px;
height:24px;
padding-left:34px;
background-size:auto 100%;
-webkit-background-size:auto 100%;
font-size: 14px;
color: #333333;
line-height: 24px;
}
input.checkbox
{
visibility:hidden;
display: none;
}
label.checkbox.checked
{
background-image: url('../img/checkbox_on.png');
} 
 label.radio
{
background: url('../img/radiobutton_off.png') no-repeat 0 0 transparent;
display:inline-block;
margin:10px 0px;
height:24px;
padding-left:34px;
background-size:auto 100%;
-webkit-background-size:auto 100%;
font-size: 14px;
color: #333333;
line-height: 24px;
}
 label.radio.radio_ass{
 margin:0px 0px 20px 0px;
 font-size:14px;
 color:#8f9196;
 padding-left: 48px;
 background-position: left top;
 background-size: 24px 24px;
 -webkit-background-size:24px 24px;
 min-height:24px;
 height: auto;
 }
.questionnaire div:last-child label.radio.radio_ass{
 margin:0px;
 }
input.radio
{
visibility:hidden;
display: none;
}
label.radio.checked
{
background-image: url('../img/radiobutton_on.png');
} 
.prompt{
margin:0px -12px;
padding:12px;
background-color: #FBE4E3;
font-size: 12px;
color: #FA8484;
line-height: 18px;
}
/*弹出层样式*/
#close{ 
	background:url(../img/close.png) no-repeat; 
	background-size:cover;
    -webkit-background-size:cover;
	width:16px; 
	height:16px; 
	cursor:pointer; 
	position:absolute; 
	right:10px; 
	top:17px; 
	text-indent:-999em;
	}
#mask{ 
	background: rgba(51,51,51,0.60);
    
	

    position:absolute; 
	left:0;
	top:0;
	z-index:1000;
	}
#login{ 
	position:fixed;
	z-index:1301;
	border-radius: 3px;
    background: #FAFAFA;
    -moz-box-shadow:    0px 6px 12px 0px rgba(0,0,0,0.20);
    box-shadow:         0px 6px 12px 0px rgba(0,0,0,0.20);

	}
.loginCon{ 
	position:relative; 
	width:240px;
	height:auto;
	padding:0px 15px;
	
	/*
	box-sizing: padding-box;
	-webkit-box-sizing: padding-box;
	background:url(img/Bg.png) #fafafa center center no-repeat;*/
	}
.loginCon .head{
    text-align:center;
	
	font-size:17px;
	padding:24px 0px 20px 0px;
}
.loginCon .head p{
    text-indent:0em;
    font-size:16px;
	line-height:16px;
}
.loginCon .body{
   font-size: 14px;
   
   text-align:left;
}
.loginCon .body p{
   color: #666666;
   line-height: 22px;
}
.loginCon .foot{
    text-align:center;
	
	padding:15px 0px 20px 0px;
}
.loginCon .foot a{
    margin-top:0px;
	margin-bottom:0px;
}
.loginCon .title{
font-size: 16px;
color: #000000;

border-radius: 3px 3px 0px 0px;
background-color: #ECEEEF;

line-height:50px;
text-align:center;
margin:0px -15px;
}
.loginCon  .menu{
width:100%;
padding-bottom:15px;
}
.loginCon .menu ul.media{
 border:none;
 margin: 0px -15px 0px;
 padding: 0px 0px 0px 15px;
 background:none;
}
.loginCon .menu ul.media li{
    padding-right: 15px;
	padding-top:16px;
	padding-bottom:20px;
	background:none;

}
.loginCon .menu ul.media li .icontitle{
    left: 0px;
	width:42px;
	height:42px;
	margin-top:-21px;
}

.loginCon .menu ul.media li p{
 margin-left: 55px;
 font-size: 16px;
 color: #4B4C4D;
 line-height: 16px;
}
.loginCon .menu ul.media li p:nth-child(3) {
 margin-top: 10px;
 font-size: 14px;
 color: #999999;
 line-height: 22px;

}
.row{
    margin:12px -12px;
	clear: both;

}
.row:after{
 display: table;
 content: " ";
 clear: both;
}
.row:before{
 display: table;
 content: " ";
 clear: both;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-right: 12px;
  padding-left: 12px;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left;
  box-sizing: border-box;
}
.col-xs-12 {
  width: 100%;
}
.col-xs-11 {
  width: 91.66666667%;
}
.col-xs-10 {
  width: 83.33333333%;
}
.col-xs-9 {
  width: 75%;
}
.col-xs-8 {
  width: 66.66666667%;
}
.col-xs-7 {
  width: 58.33333333%;
}
.col-xs-6 {
  width: 50%;
}
.col-xs-5 {
  width: 41.66666667%;
}
.col-xs-4 {
  width: 33.33333333%;
}
.col-xs-3 {
  width: 25%;
}
.col-xs-2 {
  width: 16.66666667%;
}
.col-xs-1 {
  width: 8.33333333%;
}
.col-xs-pull-12 {
  right: 100%;
}
.col-xs-pull-11 {
  right: 91.66666667%;
}
.col-xs-pull-10 {
  right: 83.33333333%;
}
.col-xs-pull-9 {
  right: 75%;
}
.col-xs-pull-8 {
  right: 66.66666667%;
}
.col-xs-pull-7 {
  right: 58.33333333%;
}
.col-xs-pull-6 {
  right: 50%;
}
.col-xs-pull-5 {
  right: 41.66666667%;
}
.col-xs-pull-4 {
  right: 33.33333333%;
}
.col-xs-pull-3 {
  right: 25%;
}
.col-xs-pull-2 {
  right: 16.66666667%;
}
.col-xs-pull-1 {
  right: 8.33333333%;
}
.col-xs-pull-0 {
  right: auto;
}
.col-xs-push-12 {
  left: 100%;
}
.col-xs-push-11 {
  left: 91.66666667%;
}
.col-xs-push-10 {
  left: 83.33333333%;
}
.col-xs-push-9 {
  left: 75%;
}
.col-xs-push-8 {
  left: 66.66666667%;
}
.col-xs-push-7 {
  left: 58.33333333%;
}
.col-xs-push-6 {
  left: 50%;
}
.col-xs-push-5 {
  left: 41.66666667%;
}
.col-xs-push-4 {
  left: 33.33333333%;
}
.col-xs-push-3 {
  left: 25%;
}
.col-xs-push-2 {
  left: 16.66666667%;
}
.col-xs-push-1 {
  left: 8.33333333%;
}
.col-xs-push-0 {
  left: auto;
}
.col-xs-offset-12 {
  margin-left: 100%;
}
.col-xs-offset-11 {
  margin-left: 91.66666667%;
}
.col-xs-offset-10 {
  margin-left: 83.33333333%;
}
.col-xs-offset-9 {
  margin-left: 75%;
}
.col-xs-offset-8 {
  margin-left: 66.66666667%;
}
.col-xs-offset-7 {
  margin-left: 58.33333333%;
}
.col-xs-offset-6 {
  margin-left: 50%;
}
.col-xs-offset-5 {
  margin-left: 41.66666667%;
}
.col-xs-offset-4 {
  margin-left: 33.33333333%;
}
.col-xs-offset-3 {
  margin-left: 25%;
}
.col-xs-offset-2 {
  margin-left: 16.66666667%;
}
.col-xs-offset-1 {
  margin-left: 8.33333333%;
}
.col-xs-offset-0 {
  margin-left: 0;
}
@media (min-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
  }
  .col-sm-12 {
    width: 100%;
  }
  .col-sm-11 {
    width: 91.66666667%;
  }
  .col-sm-10 {
    width: 83.33333333%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-8 {
    width: 66.66666667%;
  }
  .col-sm-7 {
    width: 58.33333333%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-5 {
    width: 41.66666667%;
  }
  .col-sm-4 {
    width: 33.33333333%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-2 {
    width: 16.66666667%;
  }
  .col-sm-1 {
    width: 8.33333333%;
  }
  .col-sm-pull-12 {
    right: 100%;
  }
  .col-sm-pull-11 {
    right: 91.66666667%;
  }
  .col-sm-pull-10 {
    right: 83.33333333%;
  }
  .col-sm-pull-9 {
    right: 75%;
  }
  .col-sm-pull-8 {
    right: 66.66666667%;
  }
  .col-sm-pull-7 {
    right: 58.33333333%;
  }
  .col-sm-pull-6 {
    right: 50%;
  }
  .col-sm-pull-5 {
    right: 41.66666667%;
  }
  .col-sm-pull-4 {
    right: 33.33333333%;
  }
  .col-sm-pull-3 {
    right: 25%;
  }
  .col-sm-pull-2 {
    right: 16.66666667%;
  }
  .col-sm-pull-1 {
    right: 8.33333333%;
  }
  .col-sm-pull-0 {
    right: auto;
  }
  .col-sm-push-12 {
    left: 100%;
  }
  .col-sm-push-11 {
    left: 91.66666667%;
  }
  .col-sm-push-10 {
    left: 83.33333333%;
  }
  .col-sm-push-9 {
    left: 75%;
  }
  .col-sm-push-8 {
    left: 66.66666667%;
  }
  .col-sm-push-7 {
    left: 58.33333333%;
  }
  .col-sm-push-6 {
    left: 50%;
  }
  .col-sm-push-5 {
    left: 41.66666667%;
  }
  .col-sm-push-4 {
    left: 33.33333333%;
  }
  .col-sm-push-3 {
    left: 25%;
  }
  .col-sm-push-2 {
    left: 16.66666667%;
  }
  .col-sm-push-1 {
    left: 8.33333333%;
  }
  .col-sm-push-0 {
    left: auto;
  }
  .col-sm-offset-12 {
    margin-left: 100%;
  }
  .col-sm-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-sm-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-sm-offset-9 {
    margin-left: 75%;
  }
  .col-sm-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-sm-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-sm-offset-6 {
    margin-left: 50%;
  }
  .col-sm-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-sm-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-sm-offset-3 {
    margin-left: 25%;
  }
  .col-sm-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-sm-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-sm-offset-0 {
    margin-left: 0;
  }
}
@media (min-width: 992px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
  }
  .col-md-12 {
    width: 100%;
  }
  .col-md-11 {
    width: 91.66666667%;
  }
  .col-md-10 {
    width: 83.33333333%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-8 {
    width: 66.66666667%;
  }
  .col-md-7 {
    width: 58.33333333%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-5 {
    width: 41.66666667%;
  }
  .col-md-4 {
    width: 33.33333333%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-2 {
    width: 16.66666667%;
  }
  .col-md-1 {
    width: 8.33333333%;
  }
  .col-md-pull-12 {
    right: 100%;
  }
  .col-md-pull-11 {
    right: 91.66666667%;
  }
  .col-md-pull-10 {
    right: 83.33333333%;
  }
  .col-md-pull-9 {
    right: 75%;
  }
  .col-md-pull-8 {
    right: 66.66666667%;
  }
  .col-md-pull-7 {
    right: 58.33333333%;
  }
  .col-md-pull-6 {
    right: 50%;
  }
  .col-md-pull-5 {
    right: 41.66666667%;
  }
  .col-md-pull-4 {
    right: 33.33333333%;
  }
  .col-md-pull-3 {
    right: 25%;
  }
  .col-md-pull-2 {
    right: 16.66666667%;
  }
  .col-md-pull-1 {
    right: 8.33333333%;
  }
  .col-md-pull-0 {
    right: auto;
  }
  .col-md-push-12 {
    left: 100%;
  }
  .col-md-push-11 {
    left: 91.66666667%;
  }
  .col-md-push-10 {
    left: 83.33333333%;
  }
  .col-md-push-9 {
    left: 75%;
  }
  .col-md-push-8 {
    left: 66.66666667%;
  }
  .col-md-push-7 {
    left: 58.33333333%;
  }
  .col-md-push-6 {
    left: 50%;
  }
  .col-md-push-5 {
    left: 41.66666667%;
  }
  .col-md-push-4 {
    left: 33.33333333%;
  }
  .col-md-push-3 {
    left: 25%;
  }
  .col-md-push-2 {
    left: 16.66666667%;
  }
  .col-md-push-1 {
    left: 8.33333333%;
  }
  .col-md-push-0 {
    left: auto;
  }
  .col-md-offset-12 {
    margin-left: 100%;
  }
  .col-md-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-md-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-md-offset-9 {
    margin-left: 75%;
  }
  .col-md-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-md-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-md-offset-6 {
    margin-left: 50%;
  }
  .col-md-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-md-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-md-offset-3 {
    margin-left: 25%;
  }
  .col-md-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-md-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-md-offset-0 {
    margin-left: 0;
  }
}
@media (min-width: 1200px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
  }
  .col-lg-12 {
    width: 100%;
  }
  .col-lg-11 {
    width: 91.66666667%;
  }
  .col-lg-10 {
    width: 83.33333333%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-8 {
    width: 66.66666667%;
  }
  .col-lg-7 {
    width: 58.33333333%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-5 {
    width: 41.66666667%;
  }
  .col-lg-4 {
    width: 33.33333333%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-2 {
    width: 16.66666667%;
  }
  .col-lg-1 {
    width: 8.33333333%;
  }
  .col-lg-pull-12 {
    right: 100%;
  }
  .col-lg-pull-11 {
    right: 91.66666667%;
  }
  .col-lg-pull-10 {
    right: 83.33333333%;
  }
  .col-lg-pull-9 {
    right: 75%;
  }
  .col-lg-pull-8 {
    right: 66.66666667%;
  }
  .col-lg-pull-7 {
    right: 58.33333333%;
  }
  .col-lg-pull-6 {
    right: 50%;
  }
  .col-lg-pull-5 {
    right: 41.66666667%;
  }
  .col-lg-pull-4 {
    right: 33.33333333%;
  }
  .col-lg-pull-3 {
    right: 25%;
  }
  .col-lg-pull-2 {
    right: 16.66666667%;
  }
  .col-lg-pull-1 {
    right: 8.33333333%;
  }
  .col-lg-pull-0 {
    right: auto;
  }
  .col-lg-push-12 {
    left: 100%;
  }
  .col-lg-push-11 {
    left: 91.66666667%;
  }
  .col-lg-push-10 {
    left: 83.33333333%;
  }
  .col-lg-push-9 {
    left: 75%;
  }
  .col-lg-push-8 {
    left: 66.66666667%;
  }
  .col-lg-push-7 {
    left: 58.33333333%;
  }
  .col-lg-push-6 {
    left: 50%;
  }
  .col-lg-push-5 {
    left: 41.66666667%;
  }
  .col-lg-push-4 {
    left: 33.33333333%;
  }
  .col-lg-push-3 {
    left: 25%;
  }
  .col-lg-push-2 {
    left: 16.66666667%;
  }
  .col-lg-push-1 {
    left: 8.33333333%;
  }
  .col-lg-push-0 {
    left: auto;
  }
  .col-lg-offset-12 {
    margin-left: 100%;
  }
  .col-lg-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-lg-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-lg-offset-9 {
    margin-left: 75%;
  }
  .col-lg-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-lg-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-lg-offset-6 {
    margin-left: 50%;
  }
  .col-lg-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-lg-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-lg-offset-3 {
    margin-left: 25%;
  }
  .col-lg-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-lg-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-lg-offset-0 {
    margin-left: 0;
  }
}
.col-xs-6 input{
box-sizing: border-box;
-webkit-box-sizing: border-box;
width:100%;
border-radius:4px;
margin: 0px;
padding: 10px 0px;
font-size: 16px;
line-height: 24px;
height:44px;
border: 0px none;
background: none repeat scroll 0% 0% #ffffff;
color: #4B4C4D;
padding-left: 10px;
}
.col-xs-6 a{
 margin-top:0px;
 margin-bottom:0px;
}

ul.media {
border-top:1px solid #CBCFD6;
border-bottom:1px solid #CBCFD6;
margin:0px -12px 12px;
padding:0px 0px 0px 70px;
background-color:#FFFFFF;
}

ul.media li.finish{
border-bottom:1px solid #CBCFD6; 
background: none;
position: relative;
background: url('../img/finish.png') transparent;
background-repeat:no-repeat;
background-position:right center;
background-size:auto 80%;
-webkit-background-size:auto 80%;
}
ul.media li{
border-bottom:1px solid #CBCFD6; 
background: none;
position: relative;
padding:10px 0px;
background: url('../img/icon_list_rightarrow.png') transparent;
background-repeat:no-repeat;
background-position:right center;
background-size:auto 80%;
-webkit-background-size:auto 80%;
}
ul.media li:after{
display: table;
content: " ";
clear: both;
}
ul.media li:before{
display: table;
content: " ";
clear: both;
}
ul.media li:last-child  {
border-bottom:none; 
}
ul.media li .icontitle{
position: absolute;
top:50%;
left:-58px;
margin-top:-20px;
/*margin-left:-70px;*/
height:40px;
width:40px;
float:left;
}
ul.media li .icontitle.shimingrenzheng{
background: url('../img/shimingrenzheng.png') transparent;
background-repeat:no-repeat;
background-position:left center;
background-size:auto 100%;
-webkit-background-size:auto 100%;
}
ul.media li .icontitle.gerenxinxi{
background: url('../img/gerenxinxi.png') transparent;
background-repeat:no-repeat;
background-position:left center;
background-size:auto 100%;
-webkit-background-size:auto 100%;
}
ul.media li .icontitle.fengxianpinggu{
background: url('../img/fengxianpinggu.png') transparent;
background-repeat:no-repeat;
background-position:left center;
background-size:auto 100%;
-webkit-background-size:auto 100%;
}
ul.media li .icontitle.yinhangka{
background: url('../img/yinhangka.png') transparent;
background-repeat:no-repeat;
background-position:left center;
background-size:auto 100%;
-webkit-background-size:auto 100%;
}
ul.media li .icontitle.icon_auth1{
background: url('../img/icon_auth1.png') transparent;
background-repeat:no-repeat;
background-position:left center;
background-size:auto 100%;
-webkit-background-size:auto 100%;
}
ul.media li .icontitle.icon_auth2{
background: url('../img/icon_auth2.png') transparent;
background-repeat:no-repeat;
background-position:left center;
background-size:auto 100%;
-webkit-background-size:auto 100%;
}
ul.media li p:nth-child(2){
position: relative;
text-indent: 0em;
font-size: 16px;
color: #000000;
}
ul.media li p:nth-child(3){
position: relative;
margin-top:7px;
text-indent: 0em;
font-size: 12px;
color: #999999;
}
.quarter1,.quarter2,.quarter3,.quarter4{
 overflow:hidden;
 width:80%;
}
.quarter1 div,.quarter2 div,.quarter3 div,.quarter4 div{
  float:left;
  width:25%;
}
.quarter1 div:nth-child(1){
 border-top:1px solid #12c427;
 border-bottom:1px solid #12c427;
 
}
.quarter1 div:nth-child(2){
 border-top:1px solid #dde2ec;
 border-bottom:1px solid #dde2ec;
 
}
.quarter1 div:nth-child(3){
 border-top:1px solid #dde2ec;
 border-bottom:1px solid #dde2ec;
 
}
.quarter1 div:nth-child(4){
 border-top:1px solid #dde2ec;
 border-bottom:1px solid #dde2ec;
 
}

.quarter2 div:nth-child(1){
 border-top:1px solid #12c427;
 border-bottom:1px solid #12c427;
 
}
.quarter2 div:nth-child(2){
 border-top:1px solid #12c427;
 border-bottom:1px solid #12c427;
 
}
.quarter2 div:nth-child(3){
 border-top:1px solid #dde2ec;
 border-bottom:1px solid #dde2ec;
 
}
.quarter2 div:nth-child(4){
 border-top:1px solid #dde2ec;
 border-bottom:1px solid #dde2ec;
 
}
.quarter3 div:nth-child(1){
 border-top:1px solid #12c427;
 border-bottom:1px solid #12c427;
 
}
.quarter3 div:nth-child(2){
 border-top:1px solid #12c427;
 border-bottom:1px solid #12c427;
 
}
.quarter3 div:nth-child(3){
 border-top:1px solid #12c427;
 border-bottom:1px solid #12c427;
 
}
.quarter3 div:nth-child(4){
 border-top:1px solid #dde2ec;
 border-bottom:1px solid #dde2ec;
 
}

ul.media li p:nth-child(3).progressbar {
 position: relative;
}
ul.media li p:nth-child(3).progressbar .quarter1{
 position: absolute;
 bottom:0px;
 left:0px;
}
div.mediahead {
border:none; 
position: relative;
margin:0px -12px 0px;
padding:15px 0px 15px 70px;
background-color:none;
overflow:hidden;
background-image:url("../img/header_mask.png");
background-repeat:no-repeat;
background-position:10px 13px;
background-size:auto 59px;
}

div.mediahead img{
float:left;
border:none; 
margin-left:-58px;
display:block;
width:50px;
height:50px;
border-radius: 50px;
}
div.mediahead p:nth-child(2){
margin-top:3px;
text-indent: 0em;
font-size: 16px;
color: #000000;
}
div.mediahead p:nth-child(3){
margin-top:7px;
text-indent: 0em;
font-size: 14px;
color: #929394;
}
.banner{
 background-image:url("../img/index_banner.png");
 background-repeat:no-repeat;
 background-position:center;
 background-size:auto 100%;
 border-bottom: 10px solid #F5F5F5;
 margin:0px -12px;
 height:115px;
}
.banner p{
 color: #FFF;
 text-align:center;
 text-indent: 0em;
 margin:15px;
}
.banner p.head{

text-shadow: none;
text-align: center;
font-size: 1.5em;
}
.contain{
 border-top: 1px solid #CBCBCB;
 
 margin:0px -12px;
 background-color:#ffffff;
 padding:0px 12px 12px;
}
.title_link{
 padding: 0.8em 0px;
 margin: 0px;
 overflow: visible;
 border-bottom: 2px solid #EEE;
}
.title_link p{
 text-shadow: none;
 margin: 0px;
 text-indent: 0em;
 text-align: center;
 
}
.title_link p a{
 font-size: 1.2em;
 color: #2A2A2A;
}
.footer{
 padding:16px 0px 25px;

 
 margin:0px -12px;

}
.footer p{
 font-size: 12px;
 color: #999999;
 line-height: 18px;
  text-shadow: none;
 
 text-indent: 0em;
 text-align: center;

}
.paper_panal{
text-align:center;
margin:0px -12px 0px;
overflow: hidden;
height:340px;
background-image:url("../img/test_result.png"), url("../img/test_result_bg.png");
background-repeat:no-repeat , repeat-x;
background-position:center center;
background-size:320px 340px,auto 100%;
box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);

}
.paper_panal img.titlepic{
 display:block;
 max-width:100%;
 height:auto;
 border:none;
 margin-bottom:30px;

}
.paper_panal img.pointline{
 display:block;
 width:200px;
 height:auto;
 border:none;
 margin:25px auto 25px;
}
 .paper_panal span{
  color:#999999;
 }
.paper_panal p{
 width:210px;
 height:90px;
 font-size: 12px;
 color: #999999;
 line-height: 18px;
 text-align:left;
 text-indent: 2em;
 margin:0 auto;
}
.paper_panal h1{
 font-size: 30px;
 color: #000000;
 height:30px;
 line-height: 30px;
 margin:100px auto 15px;
 text-align:center;
}
.paper_panal a{

 font-size: 14px;
 color: #2C9BF4;
 line-height: 14px;
 
 display:block;
 width:4em;
 text-align:center;
 margin:34px auto 0px;
}
.paper_shadow{
margin:0px 12px 0px;
padding:0px;
 
}

.paper_shadow img{
  display:block;
 max-width:100%;
 height:auto;
 border:none;
 
}
.panelbox{
position: relative;
 height:auto;
 background-color:#ffffff;
 margin:0px -12px 0px;
 padding:0 12px 18px;
 overflow:hidden; 
}
.panelhead{
 border:none; 
 position: relative;
 margin:0px -12px 0px 0px;
 padding:20px 0px 14px;
 background-color:none;
 overflow:hidden;
}
div.panelhead img{
display:block;
position: absolute;
top:50%;
right:12px;
margin-top:-30px;
/*margin-left:-70px;*/
height:60px;
width:60px;
}
div.panelhead a{
display:block;
position: absolute;
top:50%;
right:12px;
margin-top:-22px;
/*margin-left:-70px;*/
height:44px;
width:44px;
background-image:url("../img/icon_history.png");
background-repeat:no-repeat;
background-position:center center;
background-size:100% auto;

}
div.panelhead a .num{
position: absolute;
top: -2px;
right: -2px;
height: 20px;
max-width: 60px;
min-width: 20px;
font-size: 12px;
color: #FFFFFF;
line-height: 20px;
text-align:center;
background-color: #FBAB49;
padding:0px 0px;
border-radius: 20px;


}
div.panelhead p:nth-child(1){
font-size: 16px;
color: #000000;
line-height: 16px;
text-indent: 0em;

}
div.panelhead p:nth-child(2){
margin-top:8px;
text-indent: 0em;
font-size: 12px;
color: #999999;
}
div.panelhead p:nth-child(2) span{
margin-left:1em;

}
.label{
 display:block;
 padding-left:24px;
 margin:16px 0px 14px;
 font-size: 16px;
color: #000000;
height:18px;
line-height: 18px;
text-align:left;


}
.label_noicon{
 display:block;
 margin:16px 0px 14px;
 font-size: 16px;
color: #000000;
height:18px;
line-height: 18px;
text-align:left;
}
.panelbox input {
width:100%;
border-radius: 4px;
height:44px;
line-height:44px;
background: #FFFFFF;
border: 1px solid #B1B2B3;
font-family: STHeitiSC-Light;
font-size: 16px;
color: #4B4C4D;

text-indent:10px;
box-sizing: content-box;
box-shadow: inset 0px 0px 0px 0px rgba(255,255,255,0.20);

}
.label.icon_amount{
background: url('../img/icon_amount.png') transparent;
background-repeat:no-repeat;
background-position:left center;
background-size:auto 100%;
}
.label.icon_shouyi{
background: url('../img/icon_shouyi.png') transparent;
background-repeat:no-repeat;
background-position:left center;
background-size:auto 100%;
}
.label.icon_longth{
background: url('../img/icon_longth.png') transparent;
background-repeat:no-repeat;
background-position:left center;
background-size:auto 100%;
}
.button_group{
  
  margin-left:-5px;
 
}
.button_group:after{
 display: table;
 content: " ";
 clear: both;
}
.button_group:before{
 display: table;
 content: " ";
 clear: both;
}
.button_group div{
  -moz-box-sizing: border-box;  
  -webkit-box-sizing: border-box; 
  -o-box-sizing: border-box; 
  -ms-box-sizing: border-box; 
   box-sizing: border-box; 
  width:20%;
  padding-left:5px;
  float:left;
 
}
.button_group div a{
position: relative;
text-align:center;
display:block;
width:100%;
height:30px;
border-radius: 4px;
background: #ECEEEF;
padding:10px 0px; 
color: #333333;
}
.button_group div a.select{
 text-align:center;
display:block;
width:100%;
height:30px;
border-radius: 4px;
background: #FF633F;
padding:10px 0px;  
color: #ffffff;
}
.button_group div a p:nth-child(1){
 text-align:center;
 text-indent: 0em;
font-size: 10px;
color: #8F9196;
line-height: 10px;
  
}
.button_group div a p:nth-child(2){
 margin-top:6px;
 text-align:center;
 text-indent: 0em;
font-size: 14px;
color: #333333;
line-height: 14px;
}
.button_group div a.select p:nth-child(1){
 text-align:center;
 text-indent: 0em;
 font-size: 10px;
 color: #ffffff;
 line-height: 10px;
  
}
.button_group div a.select p:nth-child(2){
 margin-top:6px;
 text-align:center;
 text-indent: 0em;
font-size: 14px;
color: #ffffff;
line-height:14px;  
}
.prompt1{
 padding:14px 0px;
 font-size: 12px;
 color: #999999;
 line-height: 24px;
} 
.prompt2{
 font-size: 14px;
 color: #999999;
 line-height:22px;
 padding:10px 0px;

} 
.itemcollapse{
 height:98px;
 background: #72757D;
 -moz-box-shadow: inset 0px 2px 8px 0px rgba(0,0,0,0.20);
 box-shadow: inset 0px 2px 8px 0px rgba(0,0,0,0.20);
 padding:0px 12px;
 margin:14px -12px 0px;
}
.itemcollapse .prompt2{
 padding:16px 0px 12px;
 font-size: 12px;
 color: #FFFFFF;
 line-height: 12px;

} 
.panelbox ul li{
 background:none;
 padding:16px 12px 16px 0px;
}
.panelbox ul li label.label{
 margin:0px 0px 12px 0px;
 font-size: 14px;
 color: #8F9196;
 height:18px;
 line-height: 18px;
}
.panelbox ul li label.label_noicon {
margin: 0px 0px 12px 0px;
font-size: 14px;
color: #8F9196;
height: 18px;
line-height: 18px;
}
.panelbox ul li p{
 text-indent: 0em;
 text-align:right;
}
.panelbox ul li p span{
 font-size: 14px;
 color: #333333;
 line-height: 14px;
}
.panelbox ul li p span font{
 font-size: 24px;
 color: #FF633F;
 line-height: 24px;
}
.panelbox .row{
 margin:0px -12px;
 font-size: 14px;
 color: #8F9196;
}
.panelbox .row div:nth-child(2n+1){
text-align:left;
}
.panelbox .row div:nth-child(2n){
text-align:right;
}
/*.panelbox .row div:nth-child(3),.panelbox .row div:nth-child(4),.panelbox .row div:nth-child(5),.panelbox .row div:nth-child(6),.panelbox .row div:nth-child(7),.panelbox .row div:nth-child(8){
margin-top:12px;
}*/
ul.panellist{
border:none;
background:none;
}
ul li.panellist{
border:none;
margin-bottom:10px;
padding-right:12px;
background-color:#ffffff;
}
ul li.panellist .panelbox ul{
background:none;
border:none;
}
ul li.panellist .panelbox ul li:nth-child(2){
padding-top:10px;
padding-bottom:10px;
background: url('../img/icon_list_rightarrow.png') transparent;
background-repeat:no-repeat;
background-position:right center;
background-size:auto 50%;

}
ul li.panellist .panelbox ul li:nth-child(3){
padding-top:10px;
padding-bottom:14px;
}
ul li.panellist .panelbox ul li .row div:nth-child(1){
font-size: 16px;
color: #000000;
line-height: 16px;
}
ul li.panellist .panelbox ul li .row div:nth-child(2){

font-size: 14px;
color: #8F9196;
line-height: 14px;
}
ul li.panellist .panelbox ul li .row div:nth-child(2) span{
margin-left:1em;
}
.move_right{
margin-left:34px;
margin-right:-34px;
}
.icon_del{
position: absolute;
top:50%;
margin-top:-15px;
left:12px;
opacity:0;
}
.up_triangle{
display:block;
position: absolute;
left:50%;
top:56px;
width:20px;
height:20px;
margin-left:-10px;
background: url('../img/top_arrow.png') transparent;
background-repeat:no-repeat;
background-position:center center;
background-size:auto;

}
.blur {    
    -webkit-filter: blur(5px); /* Chrome, Opera */
       -moz-filter: blur(5px);
        -ms-filter: blur(5px);    
            filter: blur(5px);    
}
ul.tab{
margin:0px;
padding-left:0px;
border-top:1px solid #CBCFD6;
border-bottom:none;
}
ul.tab li{
padding-top:0px;
padding-bottom:0px;
padding-left:20px;
padding-right:20px;
border-bottom:none;
}

ul.tab li .row div{
font-size: 14px;
height:40px;
line-height: 40px;
}
ul.tab li:nth-child(1) .row div{
font-size: 14px;
color: #666666;
height:40px;
line-height: 40px;
}
ul.tab li:nth-child(2n){
background: #FFFFFF;
}
ul.tab li:nth-child(2n+1){
background: #F9FAFA;;
}
ul.tab li:nth-child(1){
background: #EDF0F0;

}
ul.tab li:nth-child(5){
border-bottom:1px solid #CBCFD6;

}
ul.tab li .row div:nth-child(2n+1){
color:#666666;
}
ul.tab li .row div:nth-child(2n){
color:#969696;
}
ul.tab li:nth-child(1) .row div{
color:#666666;
}
.text-overflow {
    display:block;
    word-break:keep-all;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}
.text-small{
color: #8F9196;
padding-top:2px;
font-size: 14px;

}
.text-medium{
color: #000000;
font-size: 16px;

}
.panelbox .row.sprite div{
text-align:left;
}
.panelbox .row.sprite div:nth-child(1){
border-right: 1px dotted #D8DCE4;
}
.sprite div s{
display:block;
float:left;
margin:0px 10px 0px 0px;
background-image:url("../img/CssGaga.png");
}
.sprite div a{
line-height:40px;
font-size: 14px;
color: #4B4C4D;

}

.sprite div s.icon_help1{
height:40px;
width:40px;
background-position:0 0;
}
.sprite div s.icon_help2{
height:40px;
width:40px;
background-position:40px 0;
}
.sprite div s.icon_help3{
height:40px;
width:40px;
background-position:81px 0;
}
.sprite div s.icon_help4{
height:40px;
width:40px;
background-position:122px 0;

}
.sprite div s.icon_product1{
height:40px;
width:14px;
margin:0px 6px 0px 0px;
background-image:url("../img/icon_shouyi_high.png");
background-position:center;
background-size:100% auto;
background-repeat:no-repeat;
}
.sprite div s.icon_point{
height:18px;
width:20px;
margin:0px 0px 0px -20px;
background-image:url("../img/li_list_icon.png");
background-position:left center;
background-size:auto;
background-repeat:no-repeat;
}
ul.sprite{
border:none;
}
.sprite li:after{
 display: table;
 content: " ";
 clear: both;
}
.sprite li:before{
 display: table;
 content: " ";
 clear: both;
}
.sprite li s{
display:block;
float:left;
margin:16px 10px 16px 8px;
background-image:url("../img/CssGaga_small.png");
}
.sprite li a{
line-height:72px;

}
.sprite li a.extlink{


}
.sprite li span{
font-size: 14px;
color: #4B4C4D;
line-height: 44px;
display: block;
height: 44px
}
.sprite li s.s-icon1{
height:40px;
width:40px;
background-position:0 0;
}
.sprite li s.s-icon2{
height:40px;
width:40px;
background-position:40px 0;
}
.sprite li s.s-icon3{
height:40px;
width:40px;
background-position:80px 0;
}
.sprite li s.s-icon4{
height:40px;
width:40px;
background-position:121px 0;

}
.panelbox ul.sprite li{
padding: 0px 12px 0px 0px;
border-bottom: 1px solid #D8DCE4;
background: url('../img/icon_list_rightarrow.png') transparent;
background-repeat: no-repeat;
background-position: right center;
background-size: auto 100%;
}
.panelbox ul.sprite li:last-child {
border-bottom: none;
}
.content{
font-size: 14px;
color: #4B4C4D;
line-height: 21px;
}
.content p{
 margin-top:16px;
 margin-bottom:16px;
 text-indent:2em;
}
ul.product{
overflow: hidden;

}
ul.product li{
background:none;
padding-right:12px;

}
ul.product li .row {
margin-top:0px;
margin-bottom:0px;
}
ul.product li .row div{
font-size: 16px;
color: #000000;
height:40px;
line-height: 40px;
}
ul.product li:nth-child(1) .row div:nth-child(2){
font-size: 16px;
color: #fd5e2e;
line-height: 40px;
}
ul.product li:nth-child(2){

padding:16px 12px 16px 0px;

}
ul.product li:nth-child(2) .row{
margin-bottom:12px;
}
ul.product li:nth-child(2) .row div{
font-size: 14px;
color: #8F9196;
height: 16px;
line-height: 16px;

}
ul.product li:nth-child(2) .row div:nth-child(2){
text-align:right;

}
ul.product li:nth-child(2) .row:nth-child(3){
margin-bottom:0px;

}
.filterbox{
margin: 0px 0px 16px;
position: relative;
height:105px;
overflow:hidden;
 
}
.filtercover{
position:absolute;

top:0px;
height:0px;
width:100%;
height:100%;
background: #eff7f9;
opacity:0.8;
filter: alpha(opacity=80); 
z-index:1000;
}
#chart{
 /*-webkit-filter: blur(1px); 
       -moz-filter: blur(1px);
        -ms-filter: blur(1px);    
            filter: blur(1px);*/    
}
.filterbox p{
position: relative;
padding-left:40px;
text-indent: 0em;
}
.filterbox p:nth-child(3) {
z-index:1001;
font-size: 12px;
color: #969696;
line-height: 12px;
margin-top:20px;
}
.filterbox p:nth-child(4) {
z-index:1001;
font-size: 36px;
color: #FE6E42;
line-height: 36px;
margin-top:16px;
}

.dem{padding:20px;padding-left:0px;padding-right:12px;position: relative;background-color: #fff;border: 0px solid #CCC; margin-left:50px;}
.dem h6{ margin-bottom:5px}
.dem .dialog p{text-indent: 2em; line-height:20px}
.dem .userPic{border-radius: 50px; float:left; margin:0 0 0 -70px;}
.dem .pubTime{position:absolute; right: 10%;color: #999;top: 30px;}
.paopao{
 /*background-color:#eee;*/
 padding:24px 24px 0px 10px;
 border-radius: 5px;
 border: 0px solid #CCC;
}
.paopap .msg{

}
.paopao h5{
font-size: 14px;
color: #666666;
line-height: 20px;
}
.paopao p{
text-indent: 0em;
font-size: 8px;
color: #969696;
line-height: 12px;
margin-top:8px;
}
.paopao.msg p{
font-size: 12px;
color: #969696;
line-height: 18px;
margin-top:8px;
}
.three{
    position: absolute;
    width:0; height:0;border-width: 8px 5px; border-style:solid; border-color: #fe6e42 transparent transparent transparent;
	top: 60px;
    left: 50%;
	margin-left:-5px;
	z-index:4000;
}
.left_line{
    position: absolute;
    width:0; height:100%;border-width: 0px 1px; border-style:solid; border-color: #eee;top:0px;left: -25px;
	z-index:2000;
}
.left_line_bottom{
     position: absolute;
    width:0; height:100%;border-width: 0px 1px; border-style:solid; border-color: #eee;top:0px;left: 13px;
	z-index:2000;

}
.left_line_top{
    position: absolute;
    width:0; height:100%;border-width: 0px 1px; border-style:solid; border-color: #eee;top:0px;left: 13px;
	z-index:2000;

}
.dem .red_point{
width:12px;
height:12px;
border-radius: 12px;
float:left; 
margin:24px 0 0 -34px;
background-color:#fe6e42;
border: 4px solid #fff;
z-index:3000;
position: relative;

}
.dem .gray_point{
width:12px;
height:12px;
border-radius: 12px; 
float:left; 
margin:24px 0 0 -34px;
background-color:#eee;
border: 4px solid #fff;
z-index:3000;
position: relative;

}
.tab_two_c{
position:fixed;
top:0px;
left:0px;
width:100%;
z-index:8000;
}
@media (min-width: 540px) {
  
.tab_two_c{
 
 width:540px;
 left:50%;
 margin-left:-270px;
 
 }
}
.row.tab_two{
margin:0px -12px;
height:60px;
background-color:#fe6e42;
}
.row.tab_two div{
line-height:60px;
text-align:center;
color:#fff;

}

.row.tab_two div:nth-child(2){
border-left: 0px solid #CBCFD6;
border-right: 1px solid #CBCFD6;
box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
}
.point_group{
margin:0px -12px;
height:50px;
overflow:hidden;
}
.point_group .line{
position: relative;
width:160px;
margin:25px auto;
border-bottom:1px solid #d8dbe0;
height:0px;
}

.point_group .line .line_left{
 position:absolute;
 width:57px;
 border-bottom:1px solid #ff7a4f;
 top:0px;
 left:10px;
 height:0px;

}
.panelbox_border{
 border-top: 1px solid #D8DCE4;
 border-bottom: 1px solid #D8DCE4;
 position: relative;
 height:auto;
 background-color:#ffffff;
 margin:0px -12px 0px;
 padding:0 12px 0px;
 overflow:hidden; 
}
.upfile_input{
 position:absolute;
 width:100%;
 top:0px;
 left:0px;
 width:100%;
 height:100%;
 opacity:0.0;
 filter: alpha(opacity=0);
}
.auth_canvas{
height:200px;
width:200px;
position:absolute;

 top:50%;
 left:50%;
 margin-left:-100px;
 margin-top:-100px;

}
.panelbox_border_title{
font-size:16px;
color:#000000;
line-height:16px;
text-indent: 0em;
margin-bottom:16px;
}
.panelbox_border_num{
font-size:14px;
color:#ff7a4f;
margin-right:0.5em;
}
.font_style1{
font-size:14px;
color:#666666;
line-height:14px;
}
.font_style1{
font-size:14px;
color:#999999;
line-height:14px;
}
.font_style2{
font-size:14px;
color:#666666;
line-height:14px;
}
.no_input_bg{
background:none;
}
.confirm_title{
font-size:16px;
height:50px;
line-height:50px;
color:#000000;
background:none;
}
.confirm_context{
padding-right:12px;
font-size:14px;
line-height:24px;
color:#8f9196;
background:none;
}
.confirm_context .row div:nth-child(1){
text-align:left;
}
.confirm_context .row div:nth-child(2){
text-align:right;
}
label.checkbox a{
color:#2c9bf4;
}
.confirm_agree {
min-height:12em;

}
.confirm_agree label.checkbox{
font-size:14px;
color:#666666;
line-height:22px;
}
.risk_head{
text-indent:2em;
padding:20px 0px 14px;
font-size:14px;
color:#000000;
line-height:22px;
}
ul li.questionnaire{
margin-left:-12px;
padding:20px 0px 14px;
padding-left:12px;
background:none;

}
.risk_body{
position: relative;
height: auto;
background-color: #ffffff;
margin: 0px -12px 0px;
padding: 0 12px 0px;
overflow: hidden;
}
.risk_body  .fqr{
margin-bottom:14px;
font-size:16px;
color:#000000;
line-height: 24px;
}

ul li.cardlist{
margin-left:-12px;
padding:0px 12px 0px 12px;

background-image: linear-gradient(0deg, rgba(215,221,224,0.30) 0%, #CFD6DA 100%);
background: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(215,221,224,0.30)), to(#CFD6DA));
border-bottom:#ABB2B5;
height:99px;
position: relative;
}

.cardlist .cardon{
width:300px;
height:99px;

position: absolute;
top:50%;
margin-top:-49.5px;
left:50%;
margin-left:-150px;
background: url('../img/bonk_on.png') transparent;
background-repeat:no-repeat;
background-position:center;
background-size:auto 100%;
overflow:hidden;
}
.cardlist .cardoff{
width:300px;
height:99px;
position: absolute;
top:50%;
margin-top:-49.5px;
left:50%;
margin-left:-150px;
background: url('../img/bonk_off.png') transparent;
background-repeat:no-repeat;
background-position:center;
background-size:auto 100%;
overflow:hidden;
}
.cardlist .cardon img.logo, .cardlist .cardoff img.logo{
display:block;
margin:20px 0px 0px 20px;
width:150px;
}
.cardlist .cardon p.on,.cardlist .cardoff p.on{
margin:4px 0px 0px 20px;
font-size: 14px;
color: #fff;
line-height: 14px;
text-indent: 0em;

}
.cardlist .cardon p.off,.cardlist .cardoff p.off{
margin:4px 0px 0px 20px;
font-size: 14px;
color: #8F9196;
line-height: 14px;
text-indent: 0em;

}
.list_title_card{
height: 44px;
line-height: 44px;
}
.list_title_card span{
font-size: 16px;
color: #000000;

}
.list_title_card a{
font-size: 16px;
color: #2C9BF4;
float:right;

}
.icon_del_card{
position: absolute;
top:50%;
margin-top:-13px;
left:12px;
opacity:0;
}
.canvasbox{
padding:40px 0px 30px;
margin:0px -12px;
height:auto;
text-align:center;

}
.canvasbox.zhang{
background: url('../img/buy_icon_verify_shadow.png') transparent;
background-repeat:no-repeat;
background-position:center 85px;
background-size:135px auto;
}
.canvasbox.zhang img{
width:120px;
}
.canvasbox.zhang p{
margin-top:60px;
text-indent: 0em;
font-size: 14px;
color: #666666;
line-height: 22px;
text-align:center;
}
#login.windowbg{
background: #FAFAFA;
box-shadow: 0px 6px 12px 0px rgba(0,0,0,0.10);
border-radius: 4px;

}
.center_zone{
 position:fixed;
 width:100px;
 height:100px;
 z-index:1000;
}
.loading_text{
 
}
.cap{
 background-color:#FFFFFF;
 padding-top:5px;
 padding-bottom:10px;
 margin:4px -12px 9px -12px;
 border-bottom: 1px solid #CBCFD6;
 z-index: 100;
 position: relative;
}
.cap_num{
position: absolute;
right:12px;
top:50%;
margin-top:-9px;
width:16px;
padding:0px 0px;
border-radius: 8px;
font-size: 10px;
color: #FF633F;
height:16px;
line-height: 16px;
text-align:center;
background-color:#FFFFFF;
border:1px solid #FF633F;
}
.capsule{
 margin:0 auto;
 height:36px;
 width:260px;
}
.cap_left{
 height:36px; 
 
 border-radius: 18px 0px 0px 18px ;
 font-size: 16px;
 color: #FF562B;
 line-height: 34px;
 text-align:center;
 border: 1px solid #FF562B;
}
.cap_right{
 height:36px; 
 
 border-radius: 0px 18px 18px 0px ;
 font-size: 16px;
 color: #FF562B;
 line-height: 34px;
 text-align:center;
 border: 1px solid #FF562B;
}
.cap_selected{
 color: #FFFFFF;
 background-image: linear-gradient(-180deg, #FF562B 0%, #FE4B2C 100%);
 background: -webkit-gradient(linear, 0 0, 0 100%, from( #FF562B), to(#FE4B2C));
}

ul.have{
overflow: hidden;
margin-bottom:10px;
}
ul.have li{

padding-right:12px;

}
ul.have li .row {
margin-top:0px;
margin-bottom:0px;
}
ul.have li .row div{
font-size: 16px;
color: #000000;
line-height: 40px;
}
ul.have li:nth-child(1){
height:40px;
line-height:40px;
font-size:18px;
vertical-align:middle;
}

ul.have li:nth-child(2){
background:none;
padding:16px 12px 16px 0px;

}
ul.have li:nth-child(2) .row{
margin-bottom:12px;
}
ul.have li:nth-child(2) .row div:nth-child(1){
font-size: 14px;
color: #8F9196;
line-height: 14px;

}
ul.have li:nth-child(2) .row div:nth-child(2){
font-size: 14px;
color: #969696;
line-height: 14px;
text-align:right;

}
ul.have li:nth-child(2) .row:nth-child(3){
margin-bottom:0px;

}
.payback{
height:16px;
border-radius: 2px ;
padding: 0px 2px;
margin-left:10px;
border: 1px solid #16A085;
font-size: 12px;
color: #16A085;
line-height: 16px;
text-align:center;
display: inline-block;
vertical-align: middle;
margin-top: -4px;
}
.own{
height:16px;
border-radius: 2px ;
padding:0px 2px;
margin-left:10px;
border: 1px solid #FF633F;
font-size: 12px;
color: #FF633F;
line-height: 16px;
text-align:center;
display: inline-block;
vertical-align: middle;
margin-top: -4px;
}
.static_link{
color:#1793E6;


}
ul.order{
border-top: 1px solid #CBCFD6;
border-bottom: 1px solid #CBCFD6;
margin: 0px -12px 0px;
padding: 0px 0px 0px 12px;
background-color: #FFFFFF;
}
ul.order li{
border-bottom:1px solid #CBCFD6; 
background: none;
position: relative;
padding:14px 0px 12px;
background: url('../img/icon_list_rightarrow.png') transparent;
background-repeat:no-repeat;
background-position:right center;
background-size:auto 80%;

}
ul.order li:after{
display: table;
content: " ";
clear: both;
}
ul.order li:before{
display: table;
content: " ";
clear: both;
}
ul.order li:last-child  {
border-bottom:none; 
}
ul.order li p:nth-child(1){
position: relative;
text-indent: 0em;

font-size: 16px;
color: #000000;
line-height: 16px;
}
ul.order li p:nth-child(2){
position: relative;
margin-top:12px;
text-indent: 0em;
font-size: 14px;
color: #969696;
line-height: 14px;
}
ul li.l_button{
 height:44px;
 
 color: #000000;
}
ul li.l_button a{
 margin-left:-12px;
 padding-left:12px;
 display:block;
 height:100%;
 color: #000000;
 line-height:44px;
 font-size: 16px;
}
ul li.trading_record{
margin-left:-12px;
margin-right:-12px;
padding:16px 12px;
background:none;
}

ul li.trading_record div{
margin-bottom:12px;
font-size: 14px;
color: #969696;
line-height: 14px;
padding-right:12px;
}
ul li.trading_record div:last-child{
margin-bottom:0px;
}
.buy{
height:14px;
border-radius: 2px;
padding:0px 2px;
background-color:#FF633F;
font-size: 7px;
color: #FFFFFF;
line-height: 14px;
text-align:center;
display: inline-block;
vertical-align: middle;
margin-top: 0px;
float:right;
}
.atone{
height:14px;
border-radius: 2px;
padding:0px 2px;
background-color:#16A085;
font-size: 7px;
color: #FFFFFF;
line-height: 14px;
text-align:center;
display: inline-block;
vertical-align: middle;
margin-top: 0px;
float:right;
}
.stone_detail{
padding:16px 0px;
background:none;
}
.stone_detail p{
text-indent: 0em;
}
.stone_detail p.line1{
 margin-bottom:16px;
}
.stone_detail p.line2{
 margin-bottom:12px;
}
.stone_detail p.product_name{
 font-size: 16px;
color: #000000;
line-height: 16px;
}
.stone_detail p.context1{
 font-size: 14px;
color: #666666;
line-height: 14px;
}
.stone_detail p.context1{
 font-size: 14px;
color: #666666;
line-height: 14px;
}

.stone_detail p.context2{
font-size: 14px;
color: #969696;
line-height: 14px;
}
.stone_detail p:last-child{
 margin-bottom:0px;
}
label.radio_atone{
margin:0px;
}
.keyb_head{
padding:20px 0px 20px;
margin:0px -12px;

}
.keyb_title{
font-size: 14px;
color: #FFFFFF;
line-height: 14px;
text-align:center;
}
.progress_bar{
margin:0 auto;
width:108px;
margin-top:12px;
overflow:hidden;
}
.progress_bar div{
width:10px;
height:10px;
border-radius: 5px;
border:1px solid #FFFFFF;
margin-left:20px;
float:left;
}
.progress_bar div.touch{
background-color:#FFFFFF;
}
.progress_bar div:first-child{
margin-left:0px;
}
.keyboard{
height:324px;
background-color:#red;
width:246px;
margin:14px auto 0px;
position: relative;
}
.keyboard .key{
position: absolute;
width:64px;
height:64px;
border-radius: 32px;
border:1px solid #FFFFFF;

}
.keyboard .key:nth-child(1){
left:0px;
top:0px;
}
.keyboard .key:nth-child(2){
left:90px;
top:0px;
}
.keyboard .key:nth-child(3){
left:180px;
top:0px;
}
.keyboard .key:nth-child(4){
left:0px;
top:86px;
}
.keyboard .key:nth-child(5){
left:90px;
top:86px;
}
.keyboard .key:nth-child(6){
left:180px;
top:86px;
}
.keyboard .key:nth-child(7){
left:0px;
top:172px;
}
.keyboard .key:nth-child(8){
left:90px;
top:172px;
}
.keyboard .key:nth-child(9){
left:180px;
top:172px;
}
.keyboard .key:nth-child(10){
left:90px;
top:258px;
}
.keyboard .key:nth-child(11){
left:180px;
top:172px;
}
.keyboard .key span{
  
  
  font-size:1.2em;
}
.keyboard .key p{
  line-height: 0em;
  margin-top:-1em;
  font-size:0.6em;
}
.keyboard .del{
  position: absolute;
  width:64px;
  height:64px;
  line-height:64px;
  text-align:center;
  left:180px;
  top:258px;
  font-size: 14px;
  color: #FFFFFF;
}
.keyboard .key p:first-child{
margin-top:12px;
font-size: 26px;
color: #FFFFFF;
line-height: 26px;
text-align:center;
text-indent: 0em;
}
.keyboard .key p:last-child{
margin-top:8px;
font-size: 10px;
color: #FFFFFF;
line-height: 10px;
text-align:center;
text-indent: 0em;
}
.keyb_foot{
padding:40px 20px 0px;
margin:0px -12px;
}
.keyb_foot .row div{
font-size: 14px;
color: #FFFFFF;
line-height: 14px;
}
.keyb_foot .row div:last-child{
text-align:right;
}
.keyboard .key:active{
position: absolute;
width:64px;
height:64px;
border-radius: 32px;
background: rgba(255,255,255,0.10);
border: 1px solid #FFFFFF;


}
p.bankname{
position: relative;
padding-left:1em;
}
p.bankname img.bankicon_s{
position: absolute;
top: 50%;
margin-top: -7px;
left:0px;

}
.radiobox{
padding-right:12px;

}
#wrapper{
position: absolute;
z-index: 1;
top: 0px;
bottom: 0px;
left: 0px;
right:0px;
padding:0px 12px;
overflow:hidden;
-webkit-backface-visibility: hidden;
-webkit-transform-style: preserve-3d; 
}
#wrapper div{
-webkit-backface-visibility: hidden;
-webkit-transform-style: preserve-3d;
-webkit-transform:translate3d(0,0,0); 
}
@media (min-width: 540px) {
  
    #wrapper{
 
     width:540px;
     left:50%;
     margin-left:-270px;
    
    }
}
label.checkbox.agree{
background-position: left top;
background-size: 24px;
height: auto;
}
ul li.l_button a:active{
 
 
}

a,img,button,input,textarea{-webkit-tap-highlight-color:rgba(255,255,255,0);}
a,input,textarea{-webkit-appearance:none;}
input{ outline:0;}
@keyframes wbox
{
from {opacity:0;-webkit-transform:scale(0);}
to {opacity:1;-webkit-transform:scale(1);}
}

@-moz-keyframes wbox /* Firefox */
{
from {opacity:0;-webkit-transform:scale(0);}
to {opacity:1;-webkit-transform:scale(1);}

}

@-webkit-keyframes wbox /* Safari 和 Chrome */
{
from {opacity:0;-webkit-transform:scale(0);}
to {opacity:1;-webkit-transform:scale(1);}
}

@-o-keyframes wbox /* Opera */
{
from {opacity:0;-webkit-transform:scale(0);}
to {opacity:1;-webkit-transform:scale(1);}
}
@keyframes wbox_x
{
from {-webkit-transform: rotate(0deg);}
to {-webkit-transform: rotate(360deg);}
}

@-moz-keyframes wbox_x /* Firefox */
{
from {-webkit-transform: rotate(0deg);}
to {-webkit-transform: rotate(360deg);}

}

@-webkit-keyframes wbox_x /* Safari 和 Chrome */
{
from {-webkit-transform: rotate(0deg);}
to {-webkit-transform: rotate(360deg);}
}

@-o-keyframes wbox_x /* Opera */
{
from {-webkit-transform: rotate(0deg);}
to {-webkit-transform: rotate(360deg);}
}

div.box_animation
{
animation: wbox 0.3s;
-moz-animation: wbox 0.3s;	/* Firefox */
-webkit-animation: wbox 0.3s;	/* Safari 和 Chrome */
-o-animation: wbox 0.3s;	/* Opera */
}
#close {
animation: wbox_x 3s;
-moz-animation: wbox_x 3s;	/* Firefox */
-webkit-animation: wbox_x 3s;	/* Safari 和 Chrome */
-o-animation: wbox_x 3s;	/* Opera */	
}
#close:active {
	-webkit-transition:0.3s;
	-ms-transition:0.3s;
	transition:0.3s;
	-webkit-transform: rotate(360deg);
	-ms-transform: rotate(360deg);
	transform: rotate(360deg);
}
ul li.button {
overflow: hidden;
position: relative;
height: 44px;
}
ul li.button input{
/*1229*/
position: absolute;     
left: 0px;
width: 100%;
padding-left: 0px;

padding-right: 44px;

}

