@charset "utf-8";
.container {
width: 960px;
margin: 0 auto;
position: relative;
background: #FFF;
}
.reg_enter {
position: relative;
min-height: 400px;
_height: 400px;
margin: 0 0 40px;
}
.reg_enter_box {
width: 310px;
padding: 38px 0 20px 545px;
z-index: 2;
position: relative;
}
.reg_enter_bg {
position: absolute;
top: 0;
left: 0;
}