/* CSS Document */
/* ====================
     公共样式
==================== */
body{
	font-family: Arial, '微软雅黑';
	font: 12px/1.5 arial;
	color: #343434; margin: 0; padding:0;
}

div{
	/*margin:0 auto; */
	padding:0;
}
h1,h2,h3,h4,h5,h6,ul,li,dl,dt,dd,form,img,p{
	margin:0; 
	padding:0;
	border:none;
	list-style-type:none;
}
.clear{
	clear:both;
}
.box01{
	margin-top:0px;
	display:block;
	width:auto;
	height:520px;
	border:1px solid #EEEEEE;			
	background-color:#EEEEEE;
}
.box_inner_01{
	margin:20px auto auto auto;
	width:800px;
	height:36px;
	background-color:#F7F7F7;
	border:1px solid #E6E6E6;
	border-bottom:0px;
}

.box_inner_02{
    display:block;
	position:relative;
	margin:0 auto auto auto;
	width:800px;
	height:360px;
	border:1px solid #E6E6E6;		  
	background-color:#FFFFFF;
}
.inner_title{
	width:380px;
	height:36px;
	padding-left:30px;
	/*text-align:center;*/
	line-height:36px;
	/*border:1px solid red;*/
	font-weight:bold;
	font-size:16px;
}
.image_show{
	margin-left:120px;
	height:50px;
	padding:10px 0px 10px 0px;
	/*border:1px solid red;*/

}
.show01{
	float:left;
	height:60px;
	width:183px;
	text-align:center;
	padding-top:10px;
	/*border:1px solid green;*/

}
.show02{
	float:left;
	height:60px;
	width:183px;
	text-align:center;
	padding-top:5px;
	/*border:1px solid yellow;*/
}
/*.show01 img,.show02 img{
	vertical-align:middle;
	vertical-align:bottom;
}*/
/*填写卡号样式开始*/
.form{
	height:300px;
	/*border:1px solid green;*/
}
.fitem{
	padding-bottom:10px;
}
label{
	display:inline-block;
	width:120px;
	height:30px;
	text-align:right;
	line-height:30px;
	
}
.fitem input{
	padding:0px 0px 0px 5px;
	width:366px;
	height:30px;
	line-height:center;
	border:1px solid #C1C1C1;
}
.fitem span{
	/*float:right;*/
	display:inline-block;
	font-weight:bold;
	color:red;
	width:10px;
	text-align:center;
	height:30px;
	line-height:30px;
	/*border:1px solid red;*/
}
.fitem tip{
	color:red;
}
/*下拉框样式*/
select{
	width:170px;
	height:30px;
	position:relative;left:-3px;
}
.fsubmit{
	
	background:url(../images/03.png) no-repeat;	
}
/*填写卡号样式END*/
/*订单成功页面样式开始*/
.pay_tip_img{
	float:left;
	margin-top:20px;
	width:120px;
	height:200px;
	text-align:right;
}
.pay_tip_result{
	float:left;
	margin:20px 0px 0 20px;
	height:220px;
	/*border:1px solid green;*/
	
}
.success_back{
	height:70px;
	/*border:1px solid red;*/
	text-align:center;
}
#back{
	width:181px;
	height:31px;
	font-weight:bold;
	color:#FEFFFF;
	background:url(../images/03.png) ;
}
/*底部图片*/
.box_inner_03{
	text-align:center;
	margin:20px auto ;
	width:800px;
	height:auto;
}
.buttom_img_01,.buttom_img_02,.buttom_img_03,.buttom_img_04{
	float:left;
	width:200px;
}

/*订单成功页面结束*/

/*visa卡｜master卡用户展示页面Start*/
.box_inner_common{
	margin:20px auto auto auto;
	width:800px;
	height:396px;
	border:1px solid #E6E6E6;		  
	background-color:#FFFFFF;	
}
.box_common_01{
	height:130px;
	padding-left:200px;
	
}
.box_common_02{
	height:130px;
}

.box_common_01 span{
	float:left;
	display:block;
	margin-top:20px;
	font-weight:bold;
	width:126px;
	text-align:left;
}
.img{
	clear:both;
	position:relative;
	top:30px;	
}
.img input{
	border:0;
	margin-right:10px;
	background:url(../images/03.png) no-repeat;
	width:181px;
	height:32px;
	color:#000;
}
.box_common_02 p{
	font-weight:bold;
	padding:50px;	
}
/*visa卡｜master卡用户展示页面End*/








