<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>

	<bean id="fundout-withdrawFirstAccounting" parent="accountingExternalService"
		class="com.pay.pe.service.accounting.impl.AccountingServiceImpl">
		<property name="orderCode">
			<value>300</value>
		</property>
		<property name="dealCode">
			<value>300</value>
		</property>
		<property name="payerOrgType">
			<value>1</value>
		</property>
		<property name="payeeOrgType">
			<value>2</value>
		</property>
	</bean>

	<bean id="fundout-withdrawSuccessAccounting" parent="accountingExternalService"
		class="com.pay.pe.service.accounting.impl.AccountingServiceImpl">
		<property name="orderCode">
			<value>300</value>
		</property>
		<property name="dealCode">
			<value>301</value>
		</property>
		<property name="payerOrgType">
			<value>2</value>
		</property>
		<property name="payeeOrgType">
			<value>2</value>
		</property>
	</bean>

	<bean id="fundout-withdrawFailAccounting" parent="accountingExternalService"
		class="com.pay.pe.service.accounting.impl.AccountingServiceImpl">
		<property name="orderCode">
			<value>300</value>
		</property>
		<property name="dealCode">
			<value>302</value>
		</property>
		<property name="payerOrgType">
			<value>2</value>
		</property>
		<property name="payeeOrgType">
			<value>1</value>
		</property>
	</bean>

	<bean id="fundout-withdrawReturnAccounting" parent="accountingExternalService"
		class="com.pay.pe.service.accounting.impl.AccountingServiceImpl">
		<property name="orderCode">
			<value>400</value>
		</property>
		<property name="dealCode">
			<value>400</value>
		</property>
		<property name="payerOrgType">
			<value>2</value>
		</property>
		<property name="payeeOrgType">
			<value>1</value>
		</property>
	</bean>

	<bean id="fundout-pay2bankFirstAccounting" parent="accountingExternalService"
		class="com.pay.pe.service.accounting.impl.AccountingServiceImpl">
		<property name="orderCode">
			<value>300</value>
		</property>
		<property name="dealCode">
			<value>300</value>
		</property>
		<property name="payerOrgType">
			<value>1</value>
		</property>
		<property name="payeeOrgType">
			<value>2</value>
		</property>
	</bean>

	<bean id="fundout-pay2bankSuccessAccounting" parent="accountingExternalService"
		class="com.pay.pe.service.accounting.impl.AccountingServiceImpl">
		<property name="orderCode">
			<value>300</value>
		</property>
		<property name="dealCode">
			<value>301</value>
		</property>
		<property name="payerOrgType">
			<value>2</value>
		</property>
		<property name="payeeOrgType">
			<value>2</value>
		</property>
	</bean>

	<bean id="fundout-pay2bankFailAccounting" parent="accountingExternalService"
		class="com.pay.pe.service.accounting.impl.AccountingServiceImpl">
		<property name="orderCode">
			<value>300</value>
		</property>
		<property name="dealCode">
			<value>302</value>
		</property>
		<property name="payerOrgType">
			<value>2</value>
		</property>
		<property name="payeeOrgType">
			<value>1</value>
		</property>
	</bean>

	<bean id="fundout-pay2bankReturnAccounting" parent="accountingExternalService"
		class="com.pay.pe.service.accounting.impl.AccountingServiceImpl">
		<property name="orderCode">
			<value>400</value>
		</property>
		<property name="dealCode">
			<value>400</value>
		</property>
		<property name="payerOrgType">
			<value>2</value>
		</property>
		<property name="payeeOrgType">
			<value>1</value>
		</property>
	</bean>

	<bean id="fundout-batchPay2bankFirstAccounting" parent="accountingExternalService"
		class="com.pay.pe.service.accounting.impl.AccountingServiceImpl">
		<property name="orderCode">
			<value>300</value>
		</property>
		<property name="dealCode">
			<value>300</value>
		</property>
		<property name="payerOrgType">
			<value>1</value>
		</property>
		<property name="payeeOrgType">
			<value>2</value>
		</property>
	</bean>

	<bean id="fundout-batchPay2bankSuccessAccounting" parent="accountingExternalService"
		class="com.pay.pe.service.accounting.impl.AccountingServiceImpl">
		<property name="orderCode">
			<value>300</value>
		</property>
		<property name="dealCode">
			<value>301</value>
		</property>
		<property name="payerOrgType">
			<value>2</value>
		</property>
		<property name="payeeOrgType">
			<value>2</value>
		</property>
	</bean>

	<bean id="fundout-batchPay2bankFailAccounting" parent="accountingExternalService"
		class="com.pay.pe.service.accounting.impl.AccountingServiceImpl">
		<property name="orderCode">
			<value>300</value>
		</property>
		<property name="dealCode">
			<value>302</value>
		</property>
		<property name="payerOrgType">
			<value>2</value>
		</property>
		<property name="payeeOrgType">
			<value>1</value>
		</property>
	</bean>

	<bean id="fundout-batchPay2bankReturnAccounting" parent="accountingExternalService"
		class="com.pay.pe.service.accounting.impl.AccountingServiceImpl">
		<property name="orderCode">
			<value>400</value>
		</property>
		<property name="dealCode">
			<value>400</value>
		</property>
		<property name="payerOrgType">
			<value>2</value>
		</property>
		<property name="payeeOrgType">
			<value>1</value>
		</property>
	</bean>

	<bean id="fundout-pay2acctPayerFeeAccounting" parent="accountingExternalService"
		class="com.pay.pe.service.accounting.impl.AccountingServiceImpl">
		<property name="orderCode">
			<value>360</value>
		</property>
		<property name="dealCode">
			<value>361</value>
		</property>
		<property name="payerOrgType">
			<value>1</value>
		</property>
		<property name="payeeOrgType">
			<value>1</value>
		</property>
	</bean>

	<bean id="fundout-batchPay2acctAccounting" parent="accountingExternalService"
		class="com.pay.pe.service.accounting.impl.AccountingServiceImpl">
		<property name="orderCode">
			<value>370</value>
		</property>
		<property name="dealCode">
			<value>371</value>
		</property>
		<property name="payerOrgType">
			<value>1</value>
		</property>
		<property name="payeeOrgType">
			<value>3</value>
		</property>
	</bean>

	<bean id="fundout-batchPay2ItemAcctSuccessAccounting" parent="accountingExternalService"
		class="com.pay.pe.service.accounting.impl.AccountingServiceImpl">
		<property name="orderCode">
			<value>370</value>
		</property>
		<property name="dealCode">
			<value>372</value>
		</property>
		<property name="payerOrgType">
			<value>3</value>
		</property>
		<property name="payeeOrgType">
			<value>1</value>
		</property>
	</bean>

	<bean id="fundout-batchPay2ItemAcctFailAccounting" parent="accountingExternalService"
		class="com.pay.pe.service.accounting.impl.AccountingServiceImpl">
		<property name="orderCode">
			<value>370</value>
		</property>
		<property name="dealCode">
			<value>373</value>
		</property>
		<property name="payerOrgType">
			<value>3</value>
		</property>
		<property name="payeeOrgType">
			<value>1</value>
		</property>
	</bean>

	<bean id="fundout-adjustmentRequestAccounting" parent="accountingExternalService"
		class="com.pay.pe.service.accounting.impl.AccountingServiceImpl">
		<property name="orderCode">
			<value>380</value>
		</property>
		<property name="dealCode">
			<value>381</value>
		</property>
		<property name="payerOrgType">
			<value>2</value>
		</property>
		<property name="payeeOrgType">
			<value>2</value>
		</property>
	</bean>

</beans>
