<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>

	<bean id="accountingExternalService" abstract="true">
		<property name="peService" ref="peService" />
		<property name="accountBalanceHandlerService" ref="acc-accountBalanceHandlerService" />
		<property name="accountQueryService" ref="acc-accountQueryService" />
		<property name="memberQueryService" ref="acc-memberQueryService" />
		<property name="dealTypeMap" ref="dealTypeMap" />
	</bean>

</beans>
