<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>

	<!-- 根据记账规则中的dealCode映射ma的dealType, PayForEnum 中进行枚举 -->
	<bean id="dealTypeMap" class="java.util.HashMap">
		<constructor-arg>
			<map>
				<entry key="100" value="100" />
				<entry key="101" value="101" />
				<entry key="102" value="102" />
				<entry key="103" value="103" />
				<entry key="104" value="103" />
				<entry key="105" value="103" />
				<entry key="106" value="103" />
				<!-- add by tom for boleto
				/> -->
				<!--添加Computop记账规则 by davis.guo at 2016-08-03 begin-->
				<entry key="108" value="108" />
				<entry key="109" value="109" />
				<entry key="110" value="110" />
				<entry key="111" value="111" />
				<entry key="112" value="112" />
				<entry key="113" value="113" />
				<entry key="114" value="114" />
				<entry key="115" value="115" />
				<entry key="116" value="116" />
				<entry key="117" value="117" />
				<entry key="118" value="118" />
				<entry key="119" value="119" />
				<entry key="120" value="120" />
				<entry key="121" value="121" />
				<entry key="122" value="122" />
				<entry key="123" value="123" />
				<!--添加Computop记账规则  end-->
				
				<entry key="124" value="124" /><!--添加Computop记账规则 by davis.guo at 2016-08-14-->

				<entry key="200" value="200" />
				<entry key="201" value="201" />
				
				<entry key="202" value="202" />
				<entry key="203" value="203" />
				<entry key="204" value="204" />
				<entry key="205" value="205" />
				<entry key="206" value="206" />

				<entry key="300" value="300" />
				<entry key="301" value="301" />
				<entry key="302" value="302" />
				
				<entry key="400" value="400" />
				
				<entry key="500" value="500" />
				<entry key="501" value="501" />
				<entry key="502" value="502" />
				
				<entry key="503" value="503" />
				<entry key="504" value="504" />
				
				<entry key="505" value="505" />
				<entry key="506" value="506" />
				
				<entry key="507" value="507" />
				<entry key="508" value="508" />
				
				<entry key="509" value="509" />
				<entry key="510" value="510" />
				
				<entry key="511" value="511" />
				
				<entry key="512" value="512" />
				<entry key="513" value="513" />
				
				<entry key="514" value="514" />
				<entry key="515" value="515" />
				
				<entry key="516" value="516" />
				<entry key="517" value="517" />
				<entry key="518" value="518" />

				<entry key="600" value="600" />
				<entry key="601" value="601" />
				<entry key="602" value="602" />
				<entry key="603" value="603" />
				<entry key="604" value="604" />
				<entry key="605" value="605" />
				<entry key="606" value="606" />
				<entry key="607" value="607" />
				<entry key="608" value="608" />
				<entry key="609" value="609" />
				<entry key="610" value="610" />
				<entry key="618" value="618" />
				<entry key="619" value="619" />
				<entry key="620" value="620" />
				
				<entry key="700" value="700" />
				
				<entry key="800" value="800" />
				<entry key="900" value="900" />
				<entry key="901" value="901" />
				<entry key="902" value="902" />
				<entry key="903" value="903" />
				<entry key="207" value="207" />
				<!-- add delin 2016年8月12日14:43:54 by  资金池头寸调拨 -->
				<entry key="1201" value="1201" />
				<entry key="1202" value="1202" />
				<entry key="1203" value="1203" />
				<entry key="1204" value="1204" />
				<entry key="1205" value="1205" />
				<!--add wenzhe 2016年8月15号10:57 by 结汇  -->
				<entry key="1001" value="1001" />	
				<entry key="1002" value="1002" />	
				<entry key="1003" value="1003" />	
				<entry key="1004" value="1004" />	
				<entry key="1005" value="1005" />	
				<entry key="1006" value="1006" />	
				<entry key="1007" value="1007" />	
				<!--add wenzhe 2016年8月15号10:57 by 购汇  -->
				<entry key="1101" value="1101" />	
				<entry key="1102" value="1102" />	
				<entry key="1103" value="1103" />	
				<entry key="1104" value="1104" />	
				<entry key="1105" value="1105" />	
				<entry key="1106" value="1106" />	
				<entry key="1107" value="1107" />
				<!--add wenzhe 2016年9月6号10:57 by 跨境付款申请  -->
				<entry key="2001" value="2001" />	
				<entry key="2002" value="2002" />	
				<entry key="2003" value="2003" />	
				<entry key="2004" value="2004" />	
				<entry key="2005" value="2005" />	
				<!--add wenzhe 2016年9月6号10:57 by 跨境付款审核拒绝  -->
				<entry key="2101" value="2101" />	
				<entry key="2102" value="2102" />	
				<entry key="2103" value="2103" />	
				<entry key="2104" value="2104" />	
				<entry key="2105" value="2105" />
				<!--add wenzhe 2016年9月6号10:57 by 跨境出款成功  -->
				<entry key="2206" value="2206" />
				<!--add wenzhe 2016年9月6号10:57 by 跨境出款失败  -->
				<entry key="2305" value="2305" />
				<entry key="2306" value="2306" />
				<entry key="2307" value="2307" />
				<entry key="2308" value="2308" />
				<entry key="2309" value="2309" />
			</map>
		</constructor-arg>
	</bean>
	
	
	<bean id="fundin-orgCodeMapping" class="java.util.HashMap">
		<constructor-arg>
			<map>
				<!-- Mock bank -->
				<entry key="000000001" value="010010001" />
				
				<!-- 快钱b2c渠道 -->
				<entry key="202000001" value="030010001" />
				<entry key="202000002" value="030010001" />
				<entry key="202000003" value="030010001" />
				<entry key="202000004" value="030010001" />
				<entry key="202000005" value="030010001" />
				
				<!-- 快钱快捷借记卡银行 -->
				<entry key="203000001" value="030010005" />
				<entry key="203000002" value="030010005" />
				<entry key="203000003" value="030010005" />
				<entry key="203000004" value="030010005" />
				<entry key="203000005" value="030010005" />
				<entry key="203000006" value="030010005" />
				<entry key="203000007" value="030010005" />
				<entry key="203000008" value="030010005" />
				<entry key="203000009" value="030010005" />
				<entry key="203000010" value="030010005" />
				<entry key="203000011" value="030010005" />
				<entry key="203000012" value="030010005" />
				<entry key="203000013" value="030010005" />
				<entry key="203000014" value="030010005" />
				<entry key="203000015" value="030010005" />
				
				<!-- 银联IVR -->
				<entry key="204000001" value="010010001" />
				<entry key="205000001" value="010020001" />
				<entry key="206000001" value="010030001" />
				<entry key="202000006" value="010010001" />
				<entry key="202000007" value="010010001" />
				<entry key="202000008" value="010010001" />
				<entry key="202000009" value="010010001" />
				<entry key="202000010" value="010010001" />
				<entry key="202000011" value="010010001" />
				<entry key="202000012" value="010010001" />
				<entry key="202000013" value="010010001" />
				<entry key="202000014" value="010010001" />
				<entry key="202000015" value="010010001" />
			    <entry key="202000016" value="010010001" />
				<entry key="202000017" value="010010001" />
				<entry key="202000018" value="010010001" />
				<entry key="202000019" value="010010001" />
				<entry key="202000020" value="010010001" />
				<entry key="202000021" value="010010001" />
				<entry key="202000022" value="010010001" />
				<entry key="202000023" value="010010001" />
				<entry key="202000024" value="010010001" />
				<entry key="202000025" value="010010001" />
				<entry key="202000026" value="010010001" />
				<entry key="202000027" value="010010001" />
				<entry key="202000028" value="010010001" />
				<entry key="202000029" value="010010001" />
				<entry key="202000030" value="010010001" />
				<entry key="202000031" value="010010001" />
			</map>
		</constructor-arg>
	</bean>	

	<bean id="fundout-orgCodeMapping" class="java.util.HashMap">
		<constructor-arg>
			<map>
				<!-- Mock bank -->
				<entry key="000000001" value="010010001" />
				<entry key="110010011" value="010010001" />
			</map>
		</constructor-arg>
	</bean>
	
</beans>