<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>

	<bean id="accounting-100-100" parent="accountingExternalService"
		class="com.pay.pe.service.accounting.impl.AccountingServiceImpl">
		<property name="orderCode">
			<value>100</value>
		</property>
		<property name="dealCode">
			<value>100</value>
		</property>
		<property name="payerOrgType">
			<value>2</value>
		</property>
		<property name="payeeOrgType">
			<value>2</value>
		</property>
	</bean>

	<bean id="accounting-100-101" parent="accountingExternalService"
		class="com.pay.pe.service.accounting.impl.AccountingServiceImpl">
		<property name="orderCode">
			<value>100</value>
		</property>
		<property name="dealCode">
			<value>101</value>
		</property>
		<property name="payerOrgType">
			<value>2</value>
		</property>
		<property name="payeeOrgType">
			<value>2</value>
		</property>
	</bean>

	<bean id="accounting-100-102" parent="accountingExternalService"
		class="com.pay.pe.service.accounting.impl.AccountingServiceImpl">
		<property name="orderCode">
			<value>100</value>
		</property>
		<property name="dealCode">
			<value>102</value>
		</property>
		<property name="payerOrgType">
			<value>2</value>
		</property>
		<property name="payeeOrgType">
			<value>2</value>
		</property>
	</bean>

	<bean id="accounting-100-103" parent="accountingExternalService"
		class="com.pay.pe.service.accounting.impl.AccountingServiceImpl">
		<property name="orderCode">
			<value>100</value>
		</property>
		<property name="dealCode">
			<value>103</value>
		</property>
		<property name="payerOrgType">
			<value>2</value>
		</property>
		<property name="payeeOrgType">
			<value>2</value>
		</property>
	</bean>
	
	<bean id="accounting-100-104" parent="accountingExternalService"
		class="com.pay.pe.service.accounting.impl.AccountingServiceImpl">
		<property name="orderCode">
			<value>100</value>
		</property>
		<property name="dealCode">
			<value>104</value>
		</property>
		<property name="payerOrgType">
			<value>2</value>
		</property>
		<property name="payeeOrgType">
			<value>2</value>
		</property>
	</bean>
	
	<bean id="accounting-100-105" parent="accountingExternalService"
		class="com.pay.pe.service.accounting.impl.AccountingServiceImpl">
		<property name="orderCode">
			<value>100</value>
		</property>
		<property name="dealCode">
			<value>105</value>
		</property>
		<property name="payerOrgType">
			<value>2</value>
		</property>
		<property name="payeeOrgType">
			<value>2</value>
		</property>
	</bean>
	
	<bean id="accounting-100-106" parent="accountingExternalService"
		class="com.pay.pe.service.accounting.impl.AccountingServiceImpl">
		<property name="orderCode">
			<value>100</value>
		</property>
		<property name="dealCode">
			<value>106</value>
		</property>
		<property name="payerOrgType">
			<value>2</value>
		</property>
		<property name="payeeOrgType">
			<value>2</value>
		</property>
	</bean>
	<!--添加Boleto记账规则 2016年6月28日  by tom  -->
	<bean id="accounting-100-108" parent="accountingExternalService"
		class="com.pay.pe.service.accounting.impl.AccountingServiceImpl">
		<property name="orderCode">
			<value>100</value>
		</property>
		<property name="dealCode">
			<value>108</value>
		</property>
		<property name="payerOrgType">
			<value>2</value>
		</property>
		<property name="payeeOrgType">
			<value>2</value>
		</property>
	</bean>
	
	
	<!--添加cashu记账规则 2016年6月28日13:02 by tom  -->
	<bean id="accounting-100-109" parent="accountingExternalService"
		class="com.pay.pe.service.accounting.impl.AccountingServiceImpl">
		<property name="orderCode">
			<value>100</value>
		</property>
		<property name="dealCode">
			<value>109</value>
		</property>
		<property name="payerOrgType">
			<value>2</value>
		</property>
		<property name="payeeOrgType">
			<value>2</value>
		</property>
	</bean>
	
	<!--添加CTSEPA记账规则 by davis.guo at 2016-08-03 -->
	<bean id="accounting-100-110" parent="accountingExternalService"
		class="com.pay.pe.service.accounting.impl.AccountingServiceImpl">
		<property name="orderCode">
			<value>100</value>
		</property>
		<property name="dealCode">
			<value>110</value>
		</property>
		<property name="payerOrgType">
			<value>2</value>
		</property>
		<property name="payeeOrgType">
			<value>2</value>
		</property>
	</bean>
	<!--添加CTEPS记账规则 by davis.guo at 2016-08-03 -->
	<bean id="accounting-100-111" parent="accountingExternalService"
		class="com.pay.pe.service.accounting.impl.AccountingServiceImpl">
		<property name="orderCode">
			<value>100</value>
		</property>
		<property name="dealCode">
			<value>111</value>
		</property>
		<property name="payerOrgType">
			<value>2</value>
		</property>
		<property name="payeeOrgType">
			<value>2</value>
		</property>
	</bean>
	<!--添加CTGiropay记账规则 by davis.guo at 2016-08-03 -->
	<bean id="accounting-100-112" parent="accountingExternalService"
		class="com.pay.pe.service.accounting.impl.AccountingServiceImpl">
		<property name="orderCode">
			<value>100</value>
		</property>
		<property name="dealCode">
			<value>112</value>
		</property>
		<property name="payerOrgType">
			<value>2</value>
		</property>
		<property name="payeeOrgType">
			<value>2</value>
		</property>
	</bean>
	<!--添加CTiDeal记账规则 by davis.guo at 2016-08-03 -->
	<bean id="accounting-100-113" parent="accountingExternalService"
		class="com.pay.pe.service.accounting.impl.AccountingServiceImpl">
		<property name="orderCode">
			<value>100</value>
		</property>
		<property name="dealCode">
			<value>113</value>
		</property>
		<property name="payerOrgType">
			<value>2</value>
		</property>
		<property name="payeeOrgType">
			<value>2</value>
		</property>
	</bean>
	<!--添加CTSofortBanking记账规则 by davis.guo at 2016-08-03 -->
	<bean id="accounting-100-114" parent="accountingExternalService"
		class="com.pay.pe.service.accounting.impl.AccountingServiceImpl">
		<property name="orderCode">
			<value>100</value>
		</property>
		<property name="dealCode">
			<value>114</value>
		</property>
		<property name="payerOrgType">
			<value>2</value>
		</property>
		<property name="payeeOrgType">
			<value>2</value>
		</property>
	</bean>
	<!--添加CTTeleingreso记账规则 by davis.guo at 2016-08-03 -->
	<bean id="accounting-100-115" parent="accountingExternalService"
		class="com.pay.pe.service.accounting.impl.AccountingServiceImpl">
		<property name="orderCode">
			<value>100</value>
		</property>
		<property name="dealCode">
			<value>115</value>
		</property>
		<property name="payerOrgType">
			<value>2</value>
		</property>
		<property name="payeeOrgType">
			<value>2</value>
		</property>
	</bean>
	<!--添加CTPrzelewy24记账规则 by davis.guo at 2016-08-03 -->
	<bean id="accounting-100-116" parent="accountingExternalService"
		class="com.pay.pe.service.accounting.impl.AccountingServiceImpl">
		<property name="orderCode">
			<value>100</value>
		</property>
		<property name="dealCode">
			<value>116</value>
		</property>
		<property name="payerOrgType">
			<value>2</value>
		</property>
		<property name="payeeOrgType">
			<value>2</value>
		</property>
	</bean>
	<!--添加CTTrustPay记账规则 by davis.guo at 2016-08-03 -->	
	<bean id="accounting-100-117" parent="accountingExternalService"
		class="com.pay.pe.service.accounting.impl.AccountingServiceImpl">
		<property name="orderCode">
			<value>100</value>
		</property>
		<property name="dealCode">
			<value>117</value>
		</property>
		<property name="payerOrgType">
			<value>2</value>
		</property>
		<property name="payeeOrgType">
			<value>2</value>
		</property>
	</bean>
	<!--添加CTQIWI记账规则 by davis.guo at 2016-08-03 -->
	<bean id="accounting-100-118" parent="accountingExternalService"
		class="com.pay.pe.service.accounting.impl.AccountingServiceImpl">
		<property name="orderCode">
			<value>100</value>
		</property>
		<property name="dealCode">
			<value>118</value>
		</property>
		<property name="payerOrgType">
			<value>2</value>
		</property>
		<property name="payeeOrgType">
			<value>2</value>
		</property>
	</bean>
	<!--添加CTSafetyPay记账规则 by davis.guo at 2016-08-03 -->
	<bean id="accounting-100-119" parent="accountingExternalService"
		class="com.pay.pe.service.accounting.impl.AccountingServiceImpl">
		<property name="orderCode">
			<value>100</value>
		</property>
		<property name="dealCode">
			<value>119</value>
		</property>
		<property name="payerOrgType">
			<value>2</value>
		</property>
		<property name="payeeOrgType">
			<value>2</value>
		</property>
	</bean>
	<!--添加CTPoli记账规则 by davis.guo at 2016-08-03 -->
	<bean id="accounting-100-120" parent="accountingExternalService"
		class="com.pay.pe.service.accounting.impl.AccountingServiceImpl">
		<property name="orderCode">
			<value>100</value>
		</property>
		<property name="dealCode">
			<value>120</value>
		</property>
		<property name="payerOrgType">
			<value>2</value>
		</property>
		<property name="payeeOrgType">
			<value>2</value>
		</property>
	</bean>
	<!--添加CTBoleto记账规则 by davis.guo at 2016-08-03 -->
	<bean id="accounting-100-121" parent="accountingExternalService"
		class="com.pay.pe.service.accounting.impl.AccountingServiceImpl">
		<property name="orderCode">
			<value>100</value>
		</property>
		<property name="dealCode">
			<value>121</value>
		</property>
		<property name="payerOrgType">
			<value>2</value>
		</property>
		<property name="payeeOrgType">
			<value>2</value>
		</property>
	</bean>
	<!--添加CTPagBrasilOTF记账规则 by davis.guo at 2016-08-03 -->
	<bean id="accounting-100-122" parent="accountingExternalService"
		class="com.pay.pe.service.accounting.impl.AccountingServiceImpl">
		<property name="orderCode">
			<value>100</value>
		</property>
		<property name="dealCode">
			<value>122</value>
		</property>
		<property name="payerOrgType">
			<value>2</value>
		</property>
		<property name="payeeOrgType">
			<value>2</value>
		</property>
	</bean>
	<!--添加CTPagBrailDebitCard记账规则 by davis.guo at 2016-08-03 -->
	<bean id="accounting-100-123" parent="accountingExternalService"
		class="com.pay.pe.service.accounting.impl.AccountingServiceImpl">
		<property name="orderCode">
			<value>100</value>
		</property>
		<property name="dealCode">
			<value>123</value>
		</property>
		<property name="payerOrgType">
			<value>2</value>
		</property>
		<property name="payeeOrgType">
			<value>2</value>
		</property>
	</bean>
	
	<!--添加"前海万融"记账规则 by davis.guo at 2016-08-14 -->
	<bean id="accounting-100-124" parent="accountingExternalService"
		class="com.pay.pe.service.accounting.impl.AccountingServiceImpl">
		<property name="orderCode">
			<value>100</value>
		</property>
		<property name="dealCode">
			<value>124</value>
		</property>
		<property name="payerOrgType">
			<value>2</value>
		</property>
		<property name="payeeOrgType">
			<value>2</value>
		</property>
	</bean>


	<bean id="accounting-200-200" parent="accountingExternalService"
		class="com.pay.pe.service.accounting.impl.AccountingServiceImpl">
		<property name="orderCode">
			<value>200</value>
		</property>
		<property name="dealCode">
			<value>200</value>
		</property>
		<property name="payerOrgType">
			<value>2</value>
		</property>
		<property name="payeeOrgType">
			<value>2</value>
		</property>
	</bean>

	<bean id="accounting-200-201" parent="accountingExternalService"
		class="com.pay.pe.service.accounting.impl.AccountingServiceImpl">
		<property name="orderCode">
			<value>200</value>
		</property>
		<property name="dealCode">
			<value>201</value>
		</property>
		<property name="payerOrgType">
			<value>2</value>
		</property>
		<property name="payeeOrgType">
			<value>2</value>
		</property>
	</bean>

	<bean id="accounting-200-202" parent="accountingExternalService"
		class="com.pay.pe.service.accounting.impl.AccountingServiceImpl">
		<property name="orderCode">
			<value>200</value>
		</property>
		<property name="dealCode">
			<value>202</value>
		</property>
		<property name="payerOrgType">
			<value>2</value>
		</property>
		<property name="payeeOrgType">
			<value>1</value>
		</property>
	</bean>

	<bean id="accounting-200-203" parent="accountingExternalService"
		class="com.pay.pe.service.accounting.impl.AccountingServiceImpl">
		<property name="orderCode">
			<value>200</value>
		</property>
		<property name="dealCode">
			<value>203</value>
		</property>
		<property name="payerOrgType">
			<value>2</value>
		</property>
		<property name="payeeOrgType">
			<value>1</value>
		</property>
	</bean>
	
	<bean id="accounting-200-204" parent="accountingExternalService"
		class="com.pay.pe.service.accounting.impl.AccountingServiceImpl">
		<property name="orderCode">
			<value>200</value>
		</property>
		<property name="dealCode">
			<value>204</value>
		</property>
		<property name="payerOrgType">
			<value>1</value>
		</property>
		<property name="payeeOrgType">
			<value>2</value>
		</property>
	</bean>
	
	<bean id="accounting-200-205" parent="accountingExternalService"
		class="com.pay.pe.service.accounting.impl.AccountingServiceImpl">
		<property name="orderCode">
			<value>200</value>
		</property>
		<property name="dealCode">
			<value>205</value>
		</property>
		<property name="payerOrgType">
			<value>2</value>
		</property>
		<property name="payeeOrgType">
			<value>2</value>
		</property>
	</bean>

	<bean id="accounting-200-206" parent="accountingExternalService"
		class="com.pay.pe.service.accounting.impl.AccountingServiceImpl">
		<property name="orderCode">
			<value>200</value>
		</property>
		<property name="dealCode">
			<value>206</value>
		</property>
		<property name="payerOrgType">
			<value>1</value>
		</property>
		<property name="payeeOrgType">
			<value>2</value>
		</property>
	</bean>

<bean id="accounting-200-207" parent="accountingExternalService"
		class="com.pay.pe.service.accounting.impl.AccountingServiceImpl">
		<property name="orderCode">
			<value>200</value>
		</property>
		<property name="dealCode">
			<value>207</value>
		</property>
		<property name="payerOrgType">
			<value>2</value>
		</property>
		<property name="payeeOrgType">
			<value>2</value>
		</property>
	</bean>
	<bean id="accounting-500-500" parent="accountingExternalService"
		class="com.pay.pe.service.accounting.impl.AccountingServiceImpl">
		<property name="orderCode">
			<value>500</value>
		</property>
		<property name="dealCode">
			<value>500</value>
		</property>
		<property name="payerOrgType">
			<value>2</value>
		</property>
		<property name="payeeOrgType">
			<value>2</value>
		</property>
	</bean>
	
	<bean id="accounting-500-501" parent="accountingExternalService"
		class="com.pay.pe.service.accounting.impl.AccountingServiceImpl">
		<property name="orderCode">
			<value>500</value>
		</property>
		<property name="dealCode">
			<value>501</value>
		</property>
		<property name="payerOrgType">
			<value>2</value>
		</property>
		<property name="payeeOrgType">
			<value>2</value>
		</property>
	</bean>
	
	<bean id="accounting-500-502" parent="accountingExternalService"
		class="com.pay.pe.service.accounting.impl.AccountingServiceImpl">
		<property name="orderCode">
			<value>500</value>
		</property>
		<property name="dealCode">
			<value>502</value>
		</property>
		<property name="payerOrgType">
			<value>2</value>
		</property>
		<property name="payeeOrgType">
			<value>2</value>
		</property>
	</bean>
	
	<bean id="accounting-500-503" parent="accountingExternalService"
		class="com.pay.pe.service.accounting.impl.AccountingServiceImpl">
		<property name="orderCode">
			<value>500</value>
		</property>
		<property name="dealCode">
			<value>503</value>
		</property>
		<property name="payerOrgType">
			<value>1</value>
		</property>
		<property name="payeeOrgType">
			<value>2</value>
		</property>
	</bean>
	
	<bean id="accounting-500-504" parent="accountingExternalService"
		class="com.pay.pe.service.accounting.impl.AccountingServiceImpl">
		<property name="orderCode">
			<value>500</value>
		</property>
		<property name="dealCode">
			<value>504</value>
		</property>
		<property name="payerOrgType">
			<value>1</value>
		</property>
		<property name="payeeOrgType">
			<value>2</value>
		</property>
	</bean>
	
	<bean id="accounting-500-505" parent="accountingExternalService"
		class="com.pay.pe.service.accounting.impl.AccountingServiceImpl">
		<property name="orderCode">
			<value>500</value>
		</property>
		<property name="dealCode">
			<value>505</value>
		</property>
		<property name="payerOrgType">
			<value>2</value>
		</property>
		<property name="payeeOrgType">
			<value>2</value>
		</property>
	</bean>
	
	<bean id="accounting-500-506" parent="accountingExternalService"
		class="com.pay.pe.service.accounting.impl.AccountingServiceImpl">
		<property name="orderCode">
			<value>500</value>
		</property>
		<property name="dealCode">
			<value>506</value>
		</property>
		<property name="payerOrgType">
			<value>2</value>
		</property>
		<property name="payeeOrgType">
			<value>2</value>
		</property>
	</bean>
	
	<bean id="accounting-500-507" parent="accountingExternalService"
		class="com.pay.pe.service.accounting.impl.AccountingServiceImpl">
		<property name="orderCode">
			<value>500</value>
		</property>
		<property name="dealCode">
			<value>507</value>
		</property>
		<property name="payerOrgType">
			<value>2</value>
		</property>
		<property name="payeeOrgType">
			<value>2</value>
		</property>
	</bean>
	
	<bean id="accounting-500-508" parent="accountingExternalService"
		class="com.pay.pe.service.accounting.impl.AccountingServiceImpl">
		<property name="orderCode">
			<value>500</value>
		</property>
		<property name="dealCode">
			<value>508</value>
		</property>
		<property name="payerOrgType">
			<value>2</value>
		</property>
		<property name="payeeOrgType">
			<value>2</value>
		</property>
	</bean>
	
	<bean id="accounting-500-509" parent="accountingExternalService"
		class="com.pay.pe.service.accounting.impl.AccountingServiceImpl">
		<property name="orderCode">
			<value>500</value>
		</property>
		<property name="dealCode">
			<value>509</value>
		</property>
		<property name="payerOrgType">
			<value>2</value>
		</property>
		<property name="payeeOrgType">
			<value>2</value>
		</property>
	</bean>
	
	<bean id="accounting-500-510" parent="accountingExternalService"
		class="com.pay.pe.service.accounting.impl.AccountingServiceImpl">
		<property name="orderCode">
			<value>500</value>
		</property>
		<property name="dealCode">
			<value>510</value>
		</property>
		<property name="payerOrgType">
			<value>2</value>
		</property>
		<property name="payeeOrgType">
			<value>2</value>
		</property>
	</bean>
	
	<bean id="accounting-500-511" parent="accountingExternalService"
		class="com.pay.pe.service.accounting.impl.AccountingServiceImpl">
		<property name="orderCode">
			<value>500</value>
		</property>
		<property name="dealCode">
			<value>511</value>
		</property>
		<property name="payerOrgType">
			<value>2</value>
		</property>
		<property name="payeeOrgType">
			<value>2</value>
		</property>
	</bean>
	
	<bean id="accounting-500-512" parent="accountingExternalService"
		class="com.pay.pe.service.accounting.impl.AccountingServiceImpl">
		<property name="orderCode">
			<value>500</value>
		</property>
		<property name="dealCode">
			<value>512</value>
		</property>
		<property name="payerOrgType">
			<value>2</value>
		</property>
		<property name="payeeOrgType">
			<value>2</value>
		</property>
	</bean>
	
	<bean id="accounting-500-513" parent="accountingExternalService"
		class="com.pay.pe.service.accounting.impl.AccountingServiceImpl">
		<property name="orderCode">
			<value>500</value>
		</property>
		<property name="dealCode">
			<value>513</value>
		</property>
		<property name="payerOrgType">
			<value>2</value>
		</property>
		<property name="payeeOrgType">
			<value>2</value>
		</property>
	</bean>
	
	<bean id="accounting-500-514" parent="accountingExternalService"
		class="com.pay.pe.service.accounting.impl.AccountingServiceImpl">
		<property name="orderCode">
			<value>500</value>
		</property>
		<property name="dealCode">
			<value>514</value>
		</property>
		<property name="payerOrgType">
			<value>2</value>
		</property>
		<property name="payeeOrgType">
			<value>1</value>
		</property>
	</bean>
	
	<bean id="accounting-500-515" parent="accountingExternalService"
		class="com.pay.pe.service.accounting.impl.AccountingServiceImpl">
		<property name="orderCode">
			<value>500</value>
		</property>
		<property name="dealCode">
			<value>515</value>
		</property>
		<property name="payerOrgType">
			<value>2</value>
		</property>
		<property name="payeeOrgType">
			<value>1</value>
		</property>
	</bean>
	
	<bean id="accounting-500-517" parent="accountingExternalService"
		class="com.pay.pe.service.accounting.impl.AccountingServiceImpl">
		<property name="orderCode">
			<value>500</value>
		</property>
		<property name="dealCode">
			<value>517</value>
		</property>
		<property name="payerOrgType">
			<value>1</value>
		</property>
		<property name="payeeOrgType">
			<value>2</value>
		</property>
	</bean>

	<bean id="accounting-500-518" parent="accountingExternalService"
		class="com.pay.pe.service.accounting.impl.AccountingServiceImpl">
		<property name="orderCode">
			<value>500</value>
		</property>
		<property name="dealCode">
			<value>518</value>
		</property>
		<property name="payerOrgType">
			<value>2</value>
		</property>
		<property name="payeeOrgType">
			<value>1</value>
		</property>
	</bean>

	<bean id="accounting-600-600" parent="accountingExternalService"
		class="com.pay.pe.service.accounting.impl.AccountingServiceImpl">
		<property name="orderCode">
			<value>600</value>
		</property>
		<property name="dealCode">
			<value>600</value>
		</property>
		<property name="payerOrgType">
			<value>1</value>
		</property>
		<property name="payeeOrgType">
			<value>2</value>
		</property>
	</bean>
	<bean id="accounting-600-601" parent="accountingExternalService"
		class="com.pay.pe.service.accounting.impl.AccountingServiceImpl">
		<property name="orderCode">
			<value>600</value>
		</property>
		<property name="dealCode">
			<value>601</value>
		</property>
		<property name="payerOrgType">
			<value>2</value>
		</property>
		<property name="payeeOrgType">
			<value>2</value>
		</property>
	</bean>
	
	<bean id="accounting-600-602" parent="accountingExternalService"
		class="com.pay.pe.service.accounting.impl.AccountingServiceImpl">
		<property name="orderCode">
			<value>600</value>
		</property>
		<property name="dealCode">
			<value>602</value>
		</property>
		<property name="payerOrgType">
			<value>1</value>
		</property>
		<property name="payeeOrgType">
			<value>2</value>
		</property>
	</bean>
	<bean id="accounting_600_601" parent="accountingExternalService"
		class="com.pay.pe.service.accounting.impl.AccountingServiceImpl">
		<property name="orderCode">
			<value>600</value>
		</property>
		<property name="dealCode">
			<value>601</value>
		</property>
		<property name="payerOrgType">
			<value>2</value>
		</property>
		<property name="payeeOrgType">
			<value>2</value>
		</property>
	</bean>
	
	<bean id="accounting_600_602" parent="accountingExternalService"
		class="com.pay.pe.service.accounting.impl.AccountingServiceImpl">
		<property name="orderCode">
			<value>600</value>
		</property>
		<property name="dealCode">
			<value>602</value>
		</property>
		<property name="payerOrgType">
			<value>1</value>
		</property>
		<property name="payeeOrgType">
			<value>2</value>
		</property>
	</bean>
	<bean id="accounting_600_605" parent="accountingExternalService"
		class="com.pay.pe.service.accounting.impl.AccountingServiceImpl">
		<property name="orderCode">
			<value>600</value>
		</property>
		<property name="dealCode">
			<value>605</value>
		</property>
		<property name="payerOrgType">
			<value>1</value>
		</property>
		<property name="payeeOrgType">
			<value>2</value>
		</property>
	</bean>
	<bean id="accounting_600_609" parent="accountingExternalService"
		class="com.pay.pe.service.accounting.impl.AccountingServiceImpl">
		<property name="orderCode">
			<value>600</value>
		</property>
		<property name="dealCode">
			<value>609</value>
		</property>
		<property name="payerOrgType">
			<value>1</value>
		</property>
		<property name="payeeOrgType">
			<value>2</value>
		</property>
	</bean>
	<bean id="accounting_600_603" parent="accountingExternalService"
		class="com.pay.pe.service.accounting.impl.AccountingServiceImpl">
		<property name="orderCode">
			<value>600</value>
		</property>
		<property name="dealCode">
			<value>603</value>
		</property>
		<property name="payerOrgType">
			<value>1</value>
		</property>
		<property name="payeeOrgType">
			<value>2</value>
		</property>
	</bean>
	<bean id="accounting_600_604" parent="accountingExternalService"
		class="com.pay.pe.service.accounting.impl.AccountingServiceImpl">
		<property name="orderCode">
			<value>600</value>
		</property>
		<property name="dealCode">
			<value>604</value>
		</property>
		<property name="payerOrgType">
			<value>1</value>
		</property>
		<property name="payeeOrgType">
			<value>2</value>
		</property>
	</bean>
	<bean id="accounting_600_606" parent="accountingExternalService"
		class="com.pay.pe.service.accounting.impl.AccountingServiceImpl">
		<property name="orderCode">
			<value>600</value>
		</property>
		<property name="dealCode">
			<value>606</value>
		</property>
		<property name="payerOrgType">
			<value>1</value>
		</property>
		<property name="payeeOrgType">
			<value>2</value>
		</property>
	</bean>
	
	<bean id="accounting_600_607" parent="accountingExternalService"
		class="com.pay.pe.service.accounting.impl.AccountingServiceImpl">
		<property name="orderCode">
			<value>600</value>
		</property>
		<property name="dealCode">
			<value>607</value>
		</property>
		<property name="payerOrgType">
			<value>1</value>
		</property>
		<property name="payeeOrgType">
			<value>2</value>
		</property>
	</bean>
	
	<bean id="accounting_600_608" parent="accountingExternalService"
		class="com.pay.pe.service.accounting.impl.AccountingServiceImpl">
		<property name="orderCode">
			<value>600</value>
		</property>
		<property name="dealCode">
			<value>608</value>
		</property>
		<property name="payerOrgType">
			<value>1</value>
		</property>
		<property name="payeeOrgType">
			<value>2</value>
		</property>
	</bean>
	
	<bean id="accounting_600_610" parent="accountingExternalService"
		class="com.pay.pe.service.accounting.impl.AccountingServiceImpl">
		<property name="orderCode">
			<value>600</value>
		</property>
		<property name="dealCode">
			<value>610</value>
		</property>
		<property name="payerOrgType">
			<value>2</value>
		</property>
		<property name="payeeOrgType">
			<value>2</value>
		</property>
	</bean>
	<bean id="accounting_600_618" parent="accountingExternalService"
		class="com.pay.pe.service.accounting.impl.AccountingServiceImpl">
		<property name="orderCode">
			<value>600</value>
		</property>
		<property name="dealCode">
			<value>618</value>
		</property>
		<property name="payerOrgType">
			<value>2</value>
		</property>
		<property name="payeeOrgType">
			<value>2</value>
		</property>
	</bean>
	<bean id="accounting_600_619" parent="accountingExternalService"
		class="com.pay.pe.service.accounting.impl.AccountingServiceImpl">
		<property name="orderCode">
			<value>600</value>
		</property>
		<property name="dealCode">
			<value>619</value>
		</property>
		<property name="payerOrgType">
			<value>2</value>
		</property>
		<property name="payeeOrgType">
			<value>2</value>
		</property>
	</bean>
	<bean id="accounting_600_620" parent="accountingExternalService"
		class="com.pay.pe.service.accounting.impl.AccountingServiceImpl">
		<property name="orderCode">
			<value>600</value>
		</property>
		<property name="dealCode">
			<value>620</value>
		</property>
		<property name="payerOrgType">
			<value>1</value>
		</property>
		<property name="payeeOrgType">
			<value>2</value>
		</property>
	</bean>
	
	<!-- delin.dong     2016年8月12日10:47:30 资金池头寸管理 申请调拨    -->
	<bean id="accounting_1200_1201" parent="accountingExternalService"
		class="com.pay.pe.service.accounting.impl.AccountingServiceImpl">
		<property name="orderCode">
			<value>1200</value>
		</property>
		<property name="dealCode">
			<value>1201</value>
		</property>
		<property name="payerOrgType">
			<value>2</value>
		</property>
		<property name="payeeOrgType">
			<value>2</value>
		</property>
	</bean>
	
	<!-- delin.dong     2016年8月12日10:47:30 资金池头寸管理 申请调拨    -->
	<bean id="accounting_1200_1202" parent="accountingExternalService"
		class="com.pay.pe.service.accounting.impl.AccountingServiceImpl">
		<property name="orderCode">
			<value>1200</value>
		</property>
		<property name="dealCode">
			<value>1202</value>
		</property>
		<property name="payerOrgType">
			<value>2</value>
		</property>
		<property name="payeeOrgType">
			<value>2</value>
		</property>
	</bean>
	
	<!-- delin.dong     2016年8月12日10:47:30 资金池头寸管理 申请调拨    -->
	<bean id="accounting_1200_1203" parent="accountingExternalService"
		class="com.pay.pe.service.accounting.impl.AccountingServiceImpl">
		<property name="orderCode">
			<value>1200</value>
		</property>
		<property name="dealCode">
			<value>1203</value>
		</property>
		<property name="payerOrgType">
			<value>2</value>
		</property>
		<property name="payeeOrgType">
			<value>2</value>
		</property>
	</bean>
	
	<!-- delin.dong     2016年8月12日10:47:30 资金池头寸管理 申请调拨    -->
	<bean id="accounting_1200_1204" parent="accountingExternalService"
		class="com.pay.pe.service.accounting.impl.AccountingServiceImpl">
		<property name="orderCode">
			<value>1200</value>
		</property>
		<property name="dealCode">
			<value>1204</value>
		</property>
		<property name="payerOrgType">
			<value>2</value>
		</property>
		<property name="payeeOrgType">
			<value>2</value>
		</property>
	</bean>
	
	<!-- delin.dong     2016年8月12日10:47:30 资金池头寸管理 申请调拨    -->
	<bean id="accounting_1200_1205" parent="accountingExternalService"
		class="com.pay.pe.service.accounting.impl.AccountingServiceImpl">
		<property name="orderCode">
			<value>1200</value>
		</property>
		<property name="dealCode">
			<value>1205</value>
		</property>
		<property name="payerOrgType">
			<value>2</value>
		</property>
		<property name="payeeOrgType">
			<value>2</value>
		</property>
	</bean>
	
	<bean id="accounting-700-700" parent="accountingExternalService"
		class="com.pay.pe.service.accounting.impl.AccountingServiceImpl">
		<property name="orderCode">
			<value>700</value>
		</property>
		<property name="dealCode">
			<value>700</value>
		</property>
		<property name="payerOrgType">
			<value>1</value>
		</property>
		<property name="payeeOrgType">
			<value>1</value>
		</property>
	</bean>	
	
	<!--新增基本户冻结记账code add by tom.wang 2016-5-4 19:29:38  -->
	<bean id="accounting-900-900" parent="accountingExternalService"
		class="com.pay.pe.service.accounting.impl.AccountingServiceImpl">
		<property name="orderCode">
			<value>900</value>
		</property>
		<property name="dealCode">
			<value>900</value>
		</property>
		<property name="payerOrgType">
			<value>1</value>
		</property>
		<property name="payeeOrgType">
			<value>2</value>
		</property>
	</bean>	
	
	<!--新增基本户解冻记账code add by tom.wang 2016年5月6日14:33:28 -->
	<bean id="accounting-900-902" parent="accountingExternalService"
		class="com.pay.pe.service.accounting.impl.AccountingServiceImpl">
		<property name="orderCode">
			<value>900</value>
		</property>
		<property name="dealCode">
			<value>902</value>
		</property>
		<property name="payerOrgType">
			<value>2</value>
		</property>
		<property name="payeeOrgType">
			<value>1</value>
		</property>
	</bean>	
	
	<!--新增保证金户冻结记账code add by tom.wang 2016年5月7日10:36:24 -->
	<bean id="accounting-900-901" parent="accountingExternalService"
		class="com.pay.pe.service.accounting.impl.AccountingServiceImpl">
		<property name="orderCode">
			<value>900</value>
		</property>
		<property name="dealCode">
			<value>901</value>
		</property>
		<property name="payerOrgType">
			<value>1</value>
		</property>
		<property name="payeeOrgType">
			<value>2</value>
		</property>
	</bean>	
	
	<!--新增保证金户解冻记账code add by tom.wang 2016年5月7日10:36:17 -->
	<bean id="accounting-900-903" parent="accountingExternalService"
		class="com.pay.pe.service.accounting.impl.AccountingServiceImpl">
		<property name="orderCode">
			<value>900</value>
		</property>
		<property name="dealCode">
			<value>903</value>
		</property>
		<property name="payerOrgType">
			<value>2</value>
		</property>
		<property name="payeeOrgType">
			<value>1</value>
		</property>
	</bean>
		
	<!--************************************结汇  商户输入支付密码，生成结汇订单********************** -->	
	<!--减少申请结汇的币种账户金额  -->
	<bean id="accounting-1000-1001" parent="accountingExternalService"
		class="com.pay.pe.service.accounting.impl.AccountingServiceImpl">
		<property name="orderCode">
			<value>1000</value>
		</property>
		<property name="dealCode">
			<value>1001</value>
		</property>
		<property name="payerOrgType">
			<value>1</value>
		</property>
		<property name="payeeOrgType">
			<value>2</value>
		</property>
	</bean>	
	<!--计算并预扣除应收取结汇手续费 -->
	<bean id="accounting-1000-1002" parent="accountingExternalService"
		class="com.pay.pe.service.accounting.impl.AccountingServiceImpl">
		<property name="orderCode">
			<value>1000</value>
		</property>
		<property name="dealCode">
			<value>1002</value>
		</property>
		<property name="payerOrgType">
			<value>1</value>
		</property>
		<property name="payeeOrgType">
			<value>2</value>
		</property>
	</bean>	
	<!--************************************结汇 结汇成功  *****************************************-->
	<!--货币转换，由美金账户转至人民币账户  -->
	<bean id="accounting-1000-1003" parent="accountingExternalService"
		class="com.pay.pe.service.accounting.impl.AccountingServiceImpl">
		<property name="orderCode">
			<value>1000</value>
		</property>
		<property name="dealCode">
			<value>1003</value>
		</property>
		<property name="payerOrgType">
			<value>2</value>
		</property>
		<property name="payeeOrgType">
			<value>2</value>
		</property>
	</bean>	
	<!--货币转换，由美金账户转至人民币账户  -->
	<bean id="accounting-1000-1004" parent="accountingExternalService"
		class="com.pay.pe.service.accounting.impl.AccountingServiceImpl">
		<property name="orderCode">
			<value>1000</value>
		</property>
		<property name="dealCode">
			<value>1004</value>
		</property>
		<property name="payerOrgType">
			<value>2</value>
		</property>
		<property name="payeeOrgType">
			<value>1</value>
		</property>
	</bean>	
	<!--确认结汇收入  -->
	<bean id="accounting-1000-1005" parent="accountingExternalService"
		class="com.pay.pe.service.accounting.impl.AccountingServiceImpl">
		<property name="orderCode">
			<value>1000</value>
		</property>
		<property name="dealCode">
			<value>1005</value>
		</property>
		<property name="payerOrgType">
			<value>2</value>
		</property>
		<property name="payeeOrgType">
			<value>2</value>
		</property>
	</bean>	
	
	<!--***********************************结汇 结汇失败  *********************************-->
	<!--退回申请结汇币种账户金额  -->
	<bean id="accounting-1000-1006" parent="accountingExternalService"
		class="com.pay.pe.service.accounting.impl.AccountingServiceImpl">
		<property name="orderCode">
			<value>1000</value>
		</property>
		<property name="dealCode">
			<value>1006</value>
		</property>
		<property name="payerOrgType">
			<value>2</value>
		</property>
		<property name="payeeOrgType">
			<value>1</value>
		</property>
	</bean>	
	<!-- 退回预先扣除的结汇手续费 -->
	<bean id="accounting-1000-1007" parent="accountingExternalService"
		class="com.pay.pe.service.accounting.impl.AccountingServiceImpl">
		<property name="orderCode">
			<value>1000</value>
		</property>
		<property name="dealCode">
			<value>1007</value>
		</property>
		<property name="payerOrgType">
			<value>2</value>
		</property>
		<property name="payeeOrgType">
			<value>1</value>
		</property>
	</bean>	
	<!--************************购汇 ************************************ -->
	<!--商户输入支付密码，生成购汇订单  -->
	<!--减少用于购汇币种账户金额  -->
	<bean id="accounting-1100-1101" parent="accountingExternalService"
		class="com.pay.pe.service.accounting.impl.AccountingServiceImpl">
		<property name="orderCode">
			<value>1100</value>
		</property>
		<property name="dealCode">
			<value>1101</value>
		</property>
		<property name="payerOrgType">
			<value>1</value>
		</property>
		<property name="payeeOrgType">
			<value>2</value>
		</property>
	</bean>	
	<!--预先扣除用于购汇币种账户金额  -->
	<bean id="accounting-1100-1102" parent="accountingExternalService"
		class="com.pay.pe.service.accounting.impl.AccountingServiceImpl">
		<property name="orderCode">
			<value>1100</value>
		</property>
		<property name="dealCode">
			<value>1102</value>
		</property>
		<property name="payerOrgType">
			<value>1</value>
		</property>
		<property name="payeeOrgType">
			<value>2</value>
		</property>
	</bean>	
	<!--购汇成功  -->
	<!--货币转换，增加所购币种账户金额  -->
	<bean id="accounting-1100-1103" parent="accountingExternalService"
		class="com.pay.pe.service.accounting.impl.AccountingServiceImpl">
		<property name="orderCode">
			<value>1100</value>
		</property>
		<property name="dealCode">
			<value>1103</value>
		</property>
		<property name="payerOrgType">
			<value>2</value>
		</property>
		<property name="payeeOrgType">
			<value>2</value>
		</property>
	</bean>	
	<!--货币转换，增加所购币种账户金额  -->
	<bean id="accounting-1100-1104" parent="accountingExternalService"
		class="com.pay.pe.service.accounting.impl.AccountingServiceImpl">
		<property name="orderCode">
			<value>1100</value>
		</property>
		<property name="dealCode">
			<value>1104</value>
		</property>
		<property name="payerOrgType">
			<value>2</value>
		</property>
		<property name="payeeOrgType">
			<value>1</value>
		</property>
	</bean>	
	<!--确认购汇收入  -->
	<bean id="accounting-1100-1105" parent="accountingExternalService"
		class="com.pay.pe.service.accounting.impl.AccountingServiceImpl">
		<property name="orderCode">
			<value>1100</value>
		</property>
		<property name="dealCode">
			<value>1105</value>
		</property>
		<property name="payerOrgType">
			<value>2</value>
		</property>
		<property name="payeeOrgType">
			<value>2</value>
		</property>
	</bean>	
	<!--购汇失败  -->
	<!--退回申请购汇币种账户金额  -->
	<bean id="accounting-1100-1106" parent="accountingExternalService"
		class="com.pay.pe.service.accounting.impl.AccountingServiceImpl">
		<property name="orderCode">
			<value>1100</value>
		</property>
		<property name="dealCode">
			<value>1106</value>
		</property>
		<property name="payerOrgType">
			<value>2</value>
		</property>
		<property name="payeeOrgType">
			<value>1</value>
		</property>
	</bean>	
	<!--退回预先扣除的购汇手续费  -->
	<bean id="accounting-1100-1107" parent="accountingExternalService"
		class="com.pay.pe.service.accounting.impl.AccountingServiceImpl">
		<property name="orderCode">
			<value>1100</value>
		</property>
		<property name="dealCode">
			<value>1107</value>
		</property>
		<property name="payerOrgType">
			<value>2</value>
		</property>
		<property name="payeeOrgType">
			<value>1</value>
		</property>
	</bean>	
	
	<!--***********************************************跨境付款 ********************************************** -->
	<!--****************************商户提交跨境付款申请  *******************-->
	<!--减少申请购汇的币种账户金额  -->
	<bean id="accounting-2000-2001" parent="accountingExternalService"
		class="com.pay.pe.service.accounting.impl.AccountingServiceImpl">
		<property name="orderCode">
			<value>2000</value>
		</property>
		<property name="dealCode">
			<value>2001</value>
		</property>
		<property name="payerOrgType">
			<value>1</value>
		</property>
		<property name="payeeOrgType">
			<value>2</value>
		</property>
	</bean>	
	<!--计算并预扣除应收取结汇手续费  -->
	<bean id="accounting-2000-2002" parent="accountingExternalService"
		class="com.pay.pe.service.accounting.impl.AccountingServiceImpl">
		<property name="orderCode">
			<value>2000</value>
		</property>
		<property name="dealCode">
			<value>2002</value>
		</property>
		<property name="payerOrgType">
			<value>1</value>
		</property>
		<property name="payeeOrgType">
			<value>2</value>
		</property>
	</bean>	
	<!--扣除小额服务费  -->
	<bean id="accounting-2000-2003" parent="accountingExternalService"
		class="com.pay.pe.service.accounting.impl.AccountingServiceImpl">
		<property name="orderCode">
			<value>2000</value>
		</property>
		<property name="dealCode">
			<value>2003</value>
		</property>
		<property name="payerOrgType">
			<value>1</value>
		</property>
		<property name="payeeOrgType">
			<value>2</value>
		</property>
	</bean>	
	<!--货币兑换  -->
	<bean id="accounting-2000-2004" parent="accountingExternalService"
		class="com.pay.pe.service.accounting.impl.AccountingServiceImpl">
		<property name="orderCode">
			<value>2000</value>
		</property>
		<property name="dealCode">
			<value>2004</value>
		</property>
		<property name="payerOrgType">
			<value>2</value>
		</property>
		<property name="payeeOrgType">
			<value>2</value>
		</property>
	</bean>	
	<bean id="accounting-2000-2005" parent="accountingExternalService"
		class="com.pay.pe.service.accounting.impl.AccountingServiceImpl">
		<property name="orderCode">
			<value>2000</value>
		</property>
		<property name="dealCode">
			<value>2005</value>
		</property>
		<property name="payerOrgType">
			<value>2</value>
		</property>
		<property name="payeeOrgType">
			<value>2</value>
		</property>
	</bean>	
	<!--****************************公司拒绝商户跨境付款申请  *******************-->
	<!-- 货币兑换 -->
	<bean id="accounting-2100-2101" parent="accountingExternalService"
		class="com.pay.pe.service.accounting.impl.AccountingServiceImpl">
		<property name="orderCode">
			<value>2100</value>
		</property>
		<property name="dealCode">
			<value>2101</value>
		</property>
		<property name="payerOrgType">
			<value>2</value>
		</property>
		<property name="payeeOrgType">
			<value>2</value>
		</property>
	</bean>
	<bean id="accounting-2100-2102" parent="accountingExternalService"
		class="com.pay.pe.service.accounting.impl.AccountingServiceImpl">
		<property name="orderCode">
			<value>2100</value>
		</property>
		<property name="dealCode">
			<value>2102</value>
		</property>
		<property name="payerOrgType">
			<value>2</value>
		</property>
		<property name="payeeOrgType">
			<value>2</value>
		</property>
	</bean>
	<!--冲销小额服务费并返回账户余额  -->
	<bean id="accounting-2100-2103" parent="accountingExternalService"
		class="com.pay.pe.service.accounting.impl.AccountingServiceImpl">
		<property name="orderCode">
			<value>2100</value>
		</property>
		<property name="dealCode">
			<value>2103</value>
		</property>
		<property name="payerOrgType">
			<value>2</value>
		</property>
		<property name="payeeOrgType">
			<value>1</value>
		</property>
	</bean>
	<!--冲销手续费并返回账户余额  -->
	<bean id="accounting-2100-2104" parent="accountingExternalService"
		class="com.pay.pe.service.accounting.impl.AccountingServiceImpl">
		<property name="orderCode">
			<value>2100</value>
		</property>
		<property name="dealCode">
			<value>2104</value>
		</property>
		<property name="payerOrgType">
			<value>2</value>
		</property>
		<property name="payeeOrgType">
			<value>1</value>
		</property>
	</bean>
	<!--返回会员账户余额  -->
	<bean id="accounting-2100-2105" parent="accountingExternalService"
		class="com.pay.pe.service.accounting.impl.AccountingServiceImpl">
		<property name="orderCode">
			<value>2100</value>
		</property>
		<property name="dealCode">
			<value>2105</value>
		</property>
		<property name="payerOrgType">
			<value>2</value>
		</property>
		<property name="payeeOrgType">
			<value>1</value>
		</property>
	</bean>
	<!--****************************新生审核成功  *******************-->
	<!--新生付汇成功  -->
	<bean id="accounting-2200-2206" parent="accountingExternalService"
		class="com.pay.pe.service.accounting.impl.AccountingServiceImpl">
		<property name="orderCode">
			<value>2200</value>
		</property>
		<property name="dealCode">
			<value>2206</value>
		</property>
		<property name="payerOrgType">
			<value>2</value>
		</property>
		<property name="payeeOrgType">
			<value>2</value>
		</property>
	</bean>
	<!--****************************新生购汇审核或付汇失败*******************-->
	<!--应付商户货币兑换  -->
	<bean id="accounting-2300-2305" parent="accountingExternalService"
		class="com.pay.pe.service.accounting.impl.AccountingServiceImpl">
		<property name="orderCode">
			<value>2300</value>
		</property>
		<property name="dealCode">
			<value>2305</value>
		</property>
		<property name="payerOrgType">
			<value>2</value>
		</property>
		<property name="payeeOrgType">
			<value>2</value>
		</property>
	</bean>
	<bean id="accounting-2300-2306" parent="accountingExternalService"
		class="com.pay.pe.service.accounting.impl.AccountingServiceImpl">
		<property name="orderCode">
			<value>2300</value>
		</property>
		<property name="dealCode">
			<value>2306</value>
		</property>
		<property name="payerOrgType">
			<value>2</value>
		</property>
		<property name="payeeOrgType">
			<value>2</value>
		</property>
	</bean>
	<!--冲销确认的收入  -->
	<bean id="accounting-2300-2307" parent="accountingExternalService"
		class="com.pay.pe.service.accounting.impl.AccountingServiceImpl">
		<property name="orderCode">
			<value>2300</value>
		</property>
		<property name="dealCode">
			<value>2307</value>
		</property>
		<property name="payerOrgType">
			<value>2</value>
		</property>
		<property name="payeeOrgType">
			<value>1</value>
		</property>
	</bean>
	<bean id="accounting-2300-2308" parent="accountingExternalService"
		class="com.pay.pe.service.accounting.impl.AccountingServiceImpl">
		<property name="orderCode">
			<value>2300</value>
		</property>
		<property name="dealCode">
			<value>2308</value>
		</property>
		<property name="payerOrgType">
			<value>2</value>
		</property>
		<property name="payeeOrgType">
			<value>1</value>
		</property>
	</bean>
	<!--返回商户会员账户余额  -->
	<bean id="accounting-2300-2309" parent="accountingExternalService"
		class="com.pay.pe.service.accounting.impl.AccountingServiceImpl">
		<property name="orderCode">
			<value>2300</value>
		</property>
		<property name="dealCode">
			<value>2309</value>
		</property>
		<property name="payerOrgType">
			<value>2</value>
		</property>
		<property name="payeeOrgType">
			<value>1</value>
		</property>
	</bean>
</beans>