<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
 "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>

	<bean id="partnerConfigService" class="com.pay.txncore.service.impl.PartnerConfigServiceImpl">
		<property name="partnerConfigDAO" ref="figetPartnerConfigDAO" />
	</bean>

	<bean id="tradeOrderService" class="com.pay.txncore.service.impl.TradeOrderServiceImpl">
		<property name="tradeBaseDAO" ref="fi-tradeBaseDAO" />
		<property name="tradeOrderDAO" ref="fi-tradeOrderDAO" />
	</bean>
	
	<bean id="tradeDataService" class="com.pay.txncore.service.impl.TradeDataServiceImpl">
		<property name="tradeDataDAO" ref="fi-tradeDataDAO" />
	</bean>

	<bean id="tradeExtendsService" class="com.pay.txncore.service.impl.TradeExtendsServiceImpl">
		<property name="tradeExtendsDAO" ref="fi-tradeExtendsDAO" />
	</bean>

	<bean id="fi-paymentOrderService" class="com.pay.txncore.service.impl.PaymentOrderServiceImpl">
		<property name="paymentOrderDAO" ref="fi-paymentOrderDAO" />
	</bean>

	<bean id="depositOrderService" class="com.pay.txncore.service.impl.DepositOrderServiceImpl">
		<property name="depositOrderDAO" ref="fi-depositOrderDAO" />
	</bean>

	<bean id="txncore-paymentService" class="com.pay.txncore.service.impl.PaymentServiceImpl">
		<property name="partnerSettlementOrderService" ref="partnerSettlementOrderService" />
		<property name="channelService" ref="channelService" />
		<property name="channelOrderService" ref="channelOrderService" />
		<property name="accounting_200_200" ref="accounting-200-200" />
		<property name="accounting_200_201" ref="accounting-200-201" />
		<property name="accounting_200_202" ref="accounting-200-202" />
		<property name="accounting_200_203" ref="accounting-200-203" />
		<property name="accounting_200_204" ref="accounting-200-204" />
		<property name="accounting_200_205" ref="accounting-200-205" />
		<property name="accounting_200_207" ref="accounting-200-207" />
		<property name="accounting_700_700" ref="accounting-700-700" />
		<property name="paymentOrderExpandDAO" ref="fi-paymentOrderExpandDAO"/>
		<property name="merchantRateService" ref="acc-merchantRateService"/>
		<!-- <property name="channelClientService" ref="channelClientService"/> -->
		<property name="riskOrderDAO" ref="riskOrderDAO"/>
		<property name="paymentOrderService" ref="fi-paymentOrderService"/>
		<property name="tradeAmountCountService" ref="tradeAmountCountService"/>
		<property name="cardBinInfoService" ref="if-cardBinInfoService"/>
		<property name="accountQueryService" ref="acc-accountQueryService"/>
				<!--  add by sch 2016-05-09 -->
		<property name="refundFeeOrderDAO" ref="refundFeeOrderDAO" />
		<property name="accounting_500_517" ref="accounting-500-517" />
<property name="accounting_200_206" ref="accounting-200-206" />	
		<property name="orderCreditService" ref="orderCreditService" />
		<property name="enterpriseBaseService" ref="acc-enterpriseBaseService" />
		<property name="acctService" ref="acc-acctService" />  
	</bean>
	<bean id="account-ReportService" class="com.pay.txncore.service.impl.ReportServiceImpl">
		<property name="pricingStrategyService" ref="pricingStrategyService" />
		<property name="paymentOrderExpandDAO" ref="fi-paymentOrderExpandDAO" />
		<property name="currencyRateService" ref="currencyRateService" />
		<property name="cardBinInfoService" ref="if-cardBinInfoService" />
		<property name="paymentOrderService" ref="fi-paymentOrderService" />
		<property name="merchantRateService" ref="acc-merchantRateService" />
		<property name="tradeAmountCountService" ref="tradeAmountCountService" />
		<property name="reconcileRecordService" ref="reconcileRecordService" />
	</bean>
	<bean id="tranDailyReportService" class="com.pay.txncore.service.impl.TranDailyReportServiceImpl">
		<property name="tranDailyReportDAO" ref="tranDailyReportDAO" />
	</bean>

	<bean id="currencyExchangeRateService"
		class="com.pay.txncore.crosspay.service.impl.CurrencyExchangeRateServiceImpl">
		<property name="currencyExchangeRateDAO" ref="currencyExchangeRateDAO" />
	</bean>
	
	<bean id="settlementBaseRateService"
		class="com.pay.txncore.crosspay.service.impl.SettlementBaseRateServiceImpl">
		<property name="settlementBaseRateDAO" ref="settlementBaseRateDAO" />
	</bean>
	
	<bean id="settlementRateService"
		class="com.pay.txncore.crosspay.service.impl.SettlementRateServiceImpl">
		<property name="settlementRateDAO" ref="settlementRateDAO" />
	</bean>
	
	<bean id="transactionBaseRateService"
		class="com.pay.txncore.crosspay.service.impl.TransactionBaseRateServiceImpl">
		<property name="transactionBaseRateDAO" ref="transactionBaseRateDAO" />
	</bean>
	
	<bean id="transactionRateService"
		class="com.pay.txncore.crosspay.service.impl.TransactionRateServiceImpl">
		<property name="transactionRateDAO" ref="transactionRateDAO" />
	</bean>
	
	<bean id="transRateMarkupService"
		class="com.pay.txncore.service.impl.TransRateMarkupServiceImpl">
		<property name="transRateMarkupDAO" ref="transRateMarkupDAO" />
	</bean>
	
    <bean id="partnerRateFloatService"
		class="com.pay.txncore.crosspay.service.impl.PartnerRateFloatServiceImpl">
		<property name="partnerRateFloatDAO" ref="partnerRateFloatDAO" />
	</bean>
	
	<bean id="transactionRateAdjustService"
		class="com.pay.txncore.crosspay.service.impl.TransactionRateAdjustServiceImpl">
		<property name="transactionRateAdjustDAO" ref="transactionRateAdjustDAO" />
		<property name="transactionRateService" ref="transactionRateService"/>
		<property name="transactionBaseRateService" ref="transactionBaseRateService"/>
	</bean>
	
	<bean id="currencyRateService"
		class="com.pay.txncore.crosspay.service.impl.CurrencyRateServiceImpl">
		<property name="transactionRateAdjustService" ref="transactionRateAdjustService" />
		<property name="transactionRateService" ref="transactionRateService"/>
		<property name="transactionBaseRateService" ref="transactionBaseRateService"/>
		<property name="settlementRateAdjustService" ref="settlementRateAdjustService" />
		<property name="settlementRateService" ref="settlementRateService"/>
		<property name="settlementBaseRateService" ref="settlementBaseRateService"/>
	</bean>
	
	<bean id="settlementRateAdjustService"
		class="com.pay.txncore.crosspay.service.impl.SettlementRateAdjustServiceImpl">
		<property name="settlementRateAdjustDAO" ref="settlementRateAdjustDAO" />
		<property name="settlementRateService" ref="settlementRateService"/>
		<property name="settlementBaseRateService" ref="settlementBaseRateService"/>
	</bean>

	<bean id="orgExchangeRateService"
		class="com.pay.txncore.crosspay.service.impl.OrgExchangeRateServiceImpl">
		<property name="orgCurrencyExchangeRateDAO" ref="orgCurrencyExchangeRateDAO" />
		<property name="currencyExchangeRateService" ref="currencyExchangeRateService" />
	</bean>

	<bean id="channelOrderService" class="com.pay.txncore.service.impl.ChannelOrderServiceImpl">
		<property name="channelOrderDAO" ref="fi-channelOrderDAO" />
	</bean>

	<bean id="channelService" class="com.pay.txncore.service.impl.ChannelServiceImpl">
		<property name="channelOrderService" ref="channelOrderService" />
		<property name="accounting_100_101" ref="accounting-100-101" />
		<property name="accounting_100_102" ref="accounting-100-102" />
		<property name="jmsSender" ref="jmsSender"/>
		<property name="reconciliationAccountingServiceMap">
			<map>
				<entry key="0000000" value-ref="accounting-100-103"/>
				<entry key="10003001" value-ref="accounting-100-103"/>
				<entry key="10076001" value-ref="accounting-100-104"/>
				<entry key="10075001" value-ref="accounting-100-105"/>
				<entry key="10002001" value-ref="accounting-100-106"/>
				<entry key="10078001" value-ref="accounting-100-106"/><!-- 农行CTV 2016年5月24日10:07:33 by tom.wang -->
				<entry key="10079001" value-ref="accounting-100-103"/>
				<entry key="10080001" value-ref="accounting-100-103"/>
				<entry key="10077002" value-ref="accounting-100-108"/><!--添加Boleto记账规则 2016年6月28日13:02:43 by tom  -->
				<entry key="10077003" value-ref="accounting-100-109"/><!--添加cashu记账规则 2016年6月28日13:02:43 by tom  -->
				
				<entry key="10081012" value-ref="accounting-100-110"/><!--添加CTSEPA记账规则 by davis.guo at 2016-08-03 -->
				<entry key="10081005" value-ref="accounting-100-111"/><!--添加CTEPS记账规则 by davis.guo at 2016-08-03 -->
				<entry key="10081006" value-ref="accounting-100-112"/><!--添加CTGiropay记账规则 by davis.guo at 2016-08-03 -->
				<entry key="10081015" value-ref="accounting-100-113"/><!--添加CTiDeal记账规则 by davis.guo at 2016-08-03 -->
				<entry key="10081004" value-ref="accounting-100-114"/><!--添加CTSofortBanking记账规则 by davis.guo at 2016-08-03 -->
				<entry key="10081013" value-ref="accounting-100-115"/><!--添加CTTeleingreso记账规则 by davis.guo at 2016-08-03 -->
				<entry key="10081010" value-ref="accounting-100-116"/><!--添加CTPrzelewy24记账规则 by davis.guo at 2016-08-03 -->
				<entry key="10081014" value-ref="accounting-100-117"/><!--添加CTTrustPay记账规则 by davis.guo at 2016-08-03 -->
				<entry key="10081011" value-ref="accounting-100-118"/><!--添加CTQIWI记账规则 by davis.guo at 2016-08-03 -->
				<entry key="10081002" value-ref="accounting-100-119"/><!--添加CTSafetyPay记账规则 by davis.guo at 2016-08-03 -->
				<entry key="10081009" value-ref="accounting-100-120"/><!--添加CTPoli记账规则 by davis.guo at 2016-08-03 -->
				<entry key="10081001" value-ref="accounting-100-121"/><!--添加CTBoleto记账规则 by davis.guo at 2016-08-03 -->
				<entry key="10081008" value-ref="accounting-100-122"/><!--添加CTPagBrasilOTF记账规则 by davis.guo at 2016-08-03 -->
				<entry key="10081007" value-ref="accounting-100-123"/><!--添加CTPagBrailDebitCard(CT-brazilian debit card payment)记账规则 by davis.guo at 2016-08-03 -->
				
				<entry key="10081016" value-ref="accounting-100-124"/><!--添加"前海万融"记账规则 by davis.guo at 2016-08-14 -->
			</map>
		</property>
		<property name="orgExchangeRateService" ref="orgExchangeRateService" />
		<property name="currencyRateService" ref="currencyRateService"/>
		<property name="reconcileRecordService" ref="reconcileRecordService"/>
		<property name="refundOrderDAO" ref="fi-refundOrderDAO"/>
	</bean>
	<bean id="reconcileRecordService"  class="com.pay.txncore.service.impl.ReconcileRecordServiceImpl">
			<property name="reconcileRecordDAO" ref="reconcileRecordDAO" />
	</bean>
	<bean id="orderQueryService" class="com.pay.txncore.service.impl.OrderQueryServiceImpl">
		<property name="queryDAO" ref="orderQueryDAO" />
	</bean>

	<!-- 银行对账文件处理服务配置 -->
	<bean id="reconcileFileService"
		class="com.pay.txncore.service.reconcile.impl.ReconcileFileServiceImpl">
		<property name="reconcileFileDAO">
			<ref bean="queryReconcilefileDAO" />
		</property>
		<property name="reconcileRecordDAO">
			<ref bean="queryReconcilerecordDAO" />
		</property>
	</bean>

	<bean id="gatewayMemberInfoServiceFacade" class="com.pay.txncore.facade.impl.MemberInfoServiceFacadeImpl">
		<property name="memberQueryService">
			<ref bean="acc-memberQueryService" />
		</property>
		<property name="partnerConfigDAO">
			<ref bean="figetPartnerConfigDAO" />
		</property>
		<property name="linkerQueryService">
			<ref bean="acc-linkerQueryService" />
		</property>
		<property name="memberRelationQueryService">
			<ref bean="acc-memberRelationQueryService" />
		</property>
		<property name="memberOperateService">
			<ref bean="acc-memberOperateService" />
		</property>
	</bean>

	<bean id="accountValidateService" class="com.pay.txncore.facade.impl.AccountValidateServiceImpl" />

	<bean id="fiOrderQueryServiceApi" class="com.pay.txncore.service.impl.OrderQueryServiceApiImpl">
		<property name="tradeOrderService" ref="tradeOrderService" />
		<property name="tradeOrderDAO" ref="fi-tradeOrderDAO" />
	</bean>
	
	<bean id="tradeOrderDetailService" class="com.pay.txncore.service.impl.TradeOrderDetailServiceImpl">
		<property name="tradeOrderDAO" ref="fi-tradeOrderDAO" />
	</bean>
	
	<bean id="tradeAmountCountService" class="com.pay.txncore.service.impl.TradeAmountCountServiceImpl">
		<property name="tradeAmountCountDAO" ref="tradeAmountCountDAO" />
		<property name="currencyRateService" ref="currencyRateService"/>
	</bean>
	
	<!-- 订单授信服务 -->
	<bean id="orderCreditService" class="com.pay.txncore.service.impl.OrderCreditServiceImpl">
		<property name="orderCreditDAO" ref="orderCreditDAO" />
	</bean>
	<!-- 日利率服务 -->
	<bean id="dayRateService" class="com.pay.txncore.service.impl.DayRateServiceImpl">
		<property name="dayRateDAO" ref="dayRateDAO" />
	</bean>
	<!-- 资金池管理 -->
	<bean id="capitalPoolManageService" class="com.pay.txncore.service.impl.CapitalPoolManageServiceImpl">
		<property name="capitalPoolManageDAO" ref="capitalPoolManageDAO" />
		<property name="accounting_1200_1201" ref="accounting_1200_1201" />
		<property name="accounting_1200_1202" ref="accounting_1200_1202" />
		<property name="accounting_1200_1203" ref="accounting_1200_1203" />
		<property name="accounting_1200_1204" ref="accounting_1200_1204" />
		<property name="accounting_1200_1205" ref="accounting_1200_1205" />
	</bean>
	<bean id="payFileService" class="com.pay.txncore.service.impl.PayFileServiceImpl">
		<property name="payFileDao" ref="payFileDao" />
	</bean>
	
	<bean id="remitFailTypingService" class="com.pay.txncore.service.impl.RemitFailTypingServiceImpl">
		<property name="remitFailTypingDao" ref="remitFailTypingDao" />
	</bean>
	
	
	<!-- 对账单批量处理服务  2016-08-11 -->
	<bean id="reconcileBatchService" class="com.pay.txncore.service.reconcile.impl.ReconcileBatchServiceImpl">
		<property name="reconcileRecordService" ref="reconcileRecordService"/>
	</bean>
	
	<!-- 退款订单请求，从fi-ordercenter移植过来的  davis.guo at 2016-08-17 -->
	<bean id="refundOrderService"
		class="com.pay.txncore.service.refund.impl.RefundOrderServiceImpl">
		<property name="refundOrderDAO" ref="fi-refundOrderDAO" />
	</bean>
</beans> 