<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
 "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>

	<bean id="chargeBackOrderService"
		class="com.pay.txncore.service.chargeback.impl.ChargeBackOrderServiceImpl">
		<property name="chargeBackOrderDAO" ref="chargeBackOrderDAO" />
		<property name="chargeBackConfigDAO" ref="chargeBackConfigDAO" />
		<property name="tradeOrderService" ref="tradeOrderService" />
		<property name="partnerSettlementOrderService" ref="partnerSettlementOrderService" />
		<property name="currencyRateService" ref="currencyRateService" />
		<property name="accountingService600" ref="accounting-600-600" />
		<property name="accountingService601" ref="accounting-600-601" />
		<property name="accountingService602" ref="accounting-600-602" />
		<property name="accounting_600_601" ref="accounting_600_601" />
		<property name="accounting_600_602" ref="accounting_600_602" />
		<property name="accounting_600_603" ref="accounting_600_603" />
		<property name="accounting_600_604" ref="accounting_600_604" />
		<property name="accounting_600_605" ref="accounting_600_605" />
		<property name="accounting_600_606" ref="accounting_600_606" />
		<property name="accounting_600_607" ref="accounting_600_607" />
		<property name="accounting_600_608" ref="accounting_600_608" />
		<property name="accounting_600_609" ref="accounting_600_609" />
		<property name="accounting_700_700" ref="accounting-700-700" />
		<property name="accounting_900_900" ref="accounting-900-900" />
		<property name="accounting_900_901" ref="accounting-900-901" />
		<property name="accounting_900_902" ref="accounting-900-902" />
		<property name="accounting_900_903" ref="accounting-900-903" />
		<property name="accounting_600_610" ref="accounting_600_610" />
		<property name="accounting_600_618" ref="accounting_600_618" />
		<property name="accounting_600_619" ref="accounting_600_619" />
		<property name="accounting_600_620" ref="accounting_600_620" />
		
		<property name="acctService" ref="acc-acctService" />  
		<property name="accountQueryService" ref="acc-accountQueryService"/>
		<property name="frozenLogDao"	ref="frozenLogDao-fi" />
	</bean>
	<bean id="bouncedReasonMappingService" 
		class="com.pay.txncore.service.chargeback.impl.BouncedReasonMappingServiceImpl">
		<property name="bouncedReasonMappingDao" ref="bouncedReasonMappingDao" />
	</bean>

	<bean id="bouncedFlowService" 
		class="com.pay.txncore.service.chargeback.impl.BouncedFlowServiceImpl">
		<property name="bouncedFlowDao" ref="bouncedFlowDao" />
	</bean>

</beans> 