<link rel="stylesheet" href="${base}/static/date/pikaday.css">
<link rel="stylesheet" href="${base}/static/date/site.css">
<link rel="stylesheet" href="http://static.runoob.com/assets/foundation-5.5.3/foundation.min.css">
<!-- <link rel="stylesheet" href="${base}/static/foundation/foundation.min.css"> -->
<script src="http://static.runoob.com/assets/jquery/2.0.3/jquery.min.js"></script>
<script src="http://static.runoob.com/assets/foundation-5.5.3/js/foundation.min.js"></script>
<script src="http://static.runoob.com/assets/foundation-5.5.3/js/vendor/modernizr.js"></script>
<script src="http://static.runoob.com/assets/jquery-validation-1.14.0/dist/jquery.validate.min.js"></script>
<script src="${base}/static/tool/formJson.js"></script>
