<?xml version="1.0" encoding="GBK"?>
<batchPayFile>
	<!-- ============================总计信息================================= -->
	<!-- ===================注意：本文件中的金额均以分为单位！================ -->
	<summary date="${summer.date}" currencyType="CNY" sumMoney="${summer.totalAmount}" sumRecords="${summer.totalCount}"/>
	<!-- #日期|币种|顺序号|企业ERP编号|转账类型|付款账户开户行|付款账户账号|付款账户名称|是否他行账户|是否同城账户|收款账户账号|收款账户名称|收款账户开户行|转账金额|转账用途|备注信息| -->
	<payList>
#foreach($order in $orderList)
		<record date="${summer.date}" currencyType="CNY" orderNo="${order.serialNo}" erpNo="" payAccNo="310066179018170118503" payAccNme="海南新生信息技术有限公司" payOpenBank="交通银行上海徐汇支行" isOtherBank="${order.isBcm}" isSameCity="${order.withTheCity}" recAccNo="${order.bankAcct}" recAccNme="${order.accountName}" recOpenBank="${order.bankBranch}" money="${order.amount}" usage="${order.orderRemarks}" comment="${order.orderSeq},$!{order.orderRemarks}" preflg="0" predate=""/>
#end
	</payList>
</batchPayFile>