#foreach($order in $orderList)
${order.rechargeBankOrder}|104310154111622|${order.rechargeBankOrder}|${order.rechargeDate}|${order.rechargeDate}|001|${order.showRechargeAmount}|${order.showApplyAmount}|	
#end