PAYOFFSTART
${summer.date}|40522|446859247296|CNY|${summer.totalAmount}|${summer.totalCount}|${summer.areaCode}|1||${summer.date2}||
#foreach($order in $orderList)
${order.unionBankCode}|||${order.amount}|${order.bankAcct}|${order.accountName}|||4|
#end
PAYOFFEND