#foreach($order in $orderList)
${order.serialNo}|海南新生信息技术有限公司|46001005036053002533|460000000|${order.bankAcct}|${order.accountName}| |${order.bankBranch}|${order.unionBankCode}| |${order.isOtherBank}|${order.amount}|01|$!{order.orderRemarks}| | |
#end