#foreach($order in $orderList)
321230100100149302|${order.isSameBank}|${order.bankAcct}|${order.accountName}|${order.bankName}|$!{order.cityName}|${order.amount}|Ω·À„øÓ|$!{order.orderRemarks}|∑Ò||${order.unionBankCode}|
#end