文件类型:FTExternalTransferBatch
标题:对外支付

导入模板的字段内容为：

*付款账号*|*币种*|*本/他行标志*|*收款人账号*|*收款人名称*|*收款单位编号*|*支付方式*|*支付金额*|支付联行号|开户网点名称|开户地所在省/市/自治区|开户地所在市/县|*预约支付标志*|预约日期|预约时间|摘要|备注|取票人证件种类|取票人号码|取票人姓名

说明: 1.前后加'*'号的字段为必填项
			2.各字段前后不允许有空格
-----------------------------------
#foreach($order in $orderList)
7331710182600093709|人民币|中信账户|${order.bankAcct}|${order.accountName}||中信内转账|${order.amount}|||||立即支付|||$!{order.orderRemarks}|${order.orderSeq},|||
#end