文件类型:FTThirdBatchPayback
标题:充值退回

导入模板的字段内容为：

*原充值订单号*|*原充值订单日期*|*充值退回金额*|摘要

说明: 1.前后加'*'号的字段为必填项
			2.各字段前后不允许有空格
----------------------------------------------------------
#foreach($order in $orderList)
${order.rechargeBankOrder}|${order.rechargeDate}|${order.showApplyAmount}|	
#end