#总计信息
#注意：本文件中的金额均以分为单位！
#币种|日期|总计标志|总金额|总笔数|
RMB|${summer.date}|1|${summer.totalAmount}|${summer.totalCount}|
#明细指令信息
#币种|日期|明细标志|顺序号|付款帐号开户行|付款帐号|付款帐号名称|收款帐号开户行|收款帐号省份|收款帐号地市|收款帐号地区码|收款帐号|收款帐号名称|金额|汇款用途|备注信息|汇款方式|收款账户短信通知手机号码|自定义序号|
#foreach($order in $orderList)
RMB|${order.date}|2|${order.busiNo}|中国工商银行上海市裕德路支行|2201021519999612836|海南新生信息技术有限公司|${order.bankBranch}|$!{order.provinceName}|$!{order.cityName}||${order.bankAcct}|${order.accountName}|${order.amount}|${order.orderRemarks}|${order.orderSeq},$!{order.orderRemarks}|1|||
#end
*