/************************************************************************************
smaller than 980
*************************************************************************************/
@media screen and (max-width: 980px) {

	/* pagewrap */
	#pagewrap {
		width: 100%;
	}

	
}

/************************************************************************************
smaller than 650
*************************************************************************************/
@media screen and (max-width: 650px) {
	

}

/************************************************************************************
smaller than 480
*************************************************************************************/
@media screen and (max-width: 480px) {

	/* disable webkit text size adjust (for iPhone)|禁用webkit的文字大小调整（适用于iphone） */
	html {
		-webkit-text-size-adjust: none;
	}

}

/***********************************************************************************
bigger than 540
************************************************************************************/
/*@media screen and (min-width: 540px) {
	#content{
		width:540px;
		margin:0 auto;
	}
}*/

/***********************************************************************************
bigger than 750
************************************************************************************/
@media screen and (min-width: 750px) {
	#content{
		width:750px;
		margin:0 auto;
	}	
}



