/************************************************************************************
RESET
*************************************************************************************/
html, body, address, blockquote, div, dl, form, h1, h2, h3, h4, h5, h6, ol, p, pre, table, ul,
dd, dt, li, tbody, td, tfoot, th, thead, tr, button, del, ins, map, object,
a, abbr, acronym, b, bdo, big, br, cite, code, dfn, em, i, img, kbd, q, samp, small, span,
strong, sub, sup, tt, var, legend, fieldset {
	margin: 0;
	padding: 0;
}

img, fieldset {
	border: 0;
}

/* set image max width to 100% */
img {
	max-width: 100%;
	height: auto;
	width: auto\9; /* ie8 */
}

/* set html5 elements to block */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { 
    display: block;
}

a,input{
	/*background:none;*/
	background: #FFF none repeat scroll 0% 0%;
	outline:none;
	border:none;
}

input{
	outline:0px none;	
}
ul,li{list-style:none;}

/************************************************************************************
GENERAL STYLING
*************************************************************************************/
body {
	/*background: #0d1424 url(images/body-bg.jpg) no-repeat center top;*/
	background:#ECECEC none repeat scroll 0% 0%;;
	font: .81em/150% Arial, Helvetica, sans-serif;
	color: #666;
	
	/********************************************************************
	绘制图案准备开始
	********************************************************************/
	-webkit-touch-callout: none;
	-moz-touch-callout: none;
	-ms-touch-callout: none;
	-o-touch-callout: none;
	touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	/******************绘制图案准备结束************************************/
}
a {
	color: #026acb;
	text-decoration: none;
	outline: none;
}
a:hover {
	text-decoration: underline;
}
p {
	margin: 0 0 1.2em;
	padding: 0;
}

/* list */
ul, ol {
	margin: 1em 0 1.4em 24px;
	padding: 0;
	line-height: 140%;
}
li {
	margin: 0 0 .5em 0;
	padding: 0;
}

/* headings */
h1, h2, h3, h4, h5, h6 {
	line-height: 1.4em;
	margin: 20px 0 .4em;
	color: #000;
}
h1 {
	font-size: 2em;
}
h2 {
	font-size: 1.6em;
}
h3 {
	font-size: 1.4em;
}
h4 {
	font-size: 1.2em;
}
h5 {
	font-size: 1.1em;
}
h6 {
	font-size: 1em;
}
a:link, a:visited, a:hover, a:active{
	text-decoration:none;	
}
a:hover {
  cursor: pointer;
}
/* reset webkit search input styles */
input[type=search] {
	-webkit-appearance: none;
	outline: none;
}
input[type="search"]::-webkit-search-decoration, 
input[type="search"]::-webkit-search-cancel-button {
	display: none;
}
input,a{outline:medium;}
.clear{clear:both;}
/************************************************************************************
STRUCTURE 主休结构
*************************************************************************************/
#pagewrap {
	width: 980px;
	margin: 0 auto;
}
#content{
	text-align:left;	
}

.tip_title{
	text-align:center;background-color:#FFF;line-height:72px;margin-bottom:30px;	
}
.tip_title_top{height:2px;background:url(../images/label-1.png) no-repeat top center;}
.tip_title_center{height:72px;background:url(../images/label-2.png) repeat-y top center;border:1px solid #389CEA;}
.tip_title_bottom{height:2px;background:url(../images/label-3.png) no-repeat top center;}
.go_back{background:url(../images/button.png) no-repeat;margin:5px 0 4px 15px;height:61px;width:96px;box-sizing:border-box;}

.cc_center{
	background:#FFF;
	margin:0 auto 20px;
	
}

.row_r{padding:5px 20px;}
.row_r input{padding:5px;width:60%;height:24px;display:inline-block;line-height:24px;/*font-size:18px;*/}
.row_r span{padding:5px;width:30%;height:24px;line-height:24px;text-align:left;display:inline-block;font-size:12px;color:#999999;/*background:url(../images/t-01.png) no-repeat right center;*/}
.row_split{margin:0 auto;height:1px;width:95%;border-top:1px solid #E4E4E4;}
.common_button{
	cursor:pointer;
	display:block;
	margin-top:20px;
	margin-bottom:26px;
	text-align:center;
	height:44px;
	border-radius: 4px;
	background-image: -o-linear-gradient(-90deg, #30B4FF 0%, #53C1FE 100%);			
	background-image: -moz-linear-gradient(-90deg, #30B4FF 0%, #53C1FE 100%);
	background-image: -ms-linear-gradient(-90deg, #30B4FF 0%, #53C1FE 100%);
	background-image: linear-gradient(-180deg, #30B4FF 0%, #53C1FE 100%);
	background: -webkit-gradient(linear, 0 0, 0 100%, from( #30B4FF), to(#53C1FE));
	/*background:red;*/
	font-size: 16px;
	font-weight:bold;
	color: #FFFFFF;
	line-height: 44px;	
}

.row{
	/*margin:12px 0;*/
	margin:2px 0;
}

.row_r select{width:65%;height:24px;display:inline-block;line-height:24px;/*font-size:18px;*/border:0px;}

.input_val_tip{color:#9A9A9A;}
.reg_nav{height:33px;width:95%;margin:0 auto;}
.reg_nav ul{width:100%;float:left;margin:0px;height:33px;background:#fff;}
.reg_nav ul li{width:25%;line-height:33px;text-align:center;float:left;color:#FFFFFF;}

.reg_nav_li_common{margin-top:20px;}

/********常规li*******************/
li.selected{background:url(../images/lc-02-1.png) no-repeat center center;}
li.un_selected{background:url(../images/lc-02.png) no-repeat center center;}
/********每页第一个li**************/
li.page_1_selected{background:url(../images/lc-01.png) no-repeat center center;}
li.page_1_un_selected{background:url(../images/lc-01-1.png) no-repeat center center;}
/********每页第四个li**************/
li.page_4_selected{background:url(../images/lc-03-1.png) no-repeat center}
li.page_4_un_selected{background:url(../images/lc-03.png)}


.li_hidden{display:none;}

.row_q span{width:60px;height:24px;line-height:24px;text-align:left;display:inline-block;}
.row_q, .row_a{padding:5px 20px;}

.row_a input{
	box-sizing: border-box;
	width: 100%;
	border-radius: 4px;
	margin: 0px;
	padding: 10px 0px 10px 10px;
	font-size: 16px;
	line-height: 24px;
	height: 44px;
	border: 0px none;
	background: #FFF none repeat scroll 0% 0%;
	color: #4B4C4D;
}

.button_disable{
	display:block;
	margin-top:20px;
	margin-bottom:26px;
	text-align:center;
	height:44px;
	border-radius: 4px;
	background-image: -o-linear-gradient(-90deg, #FF5500 0%, #FF5500 100%);			/*#D4D5D6     CFD0D1*/
	background-image: -moz-linear-gradient(-90deg, #FF5500 0%, #FF5500 100%);
	background-image: -ms-linear-gradient(-90deg, #FF5500 0%, #FF5500 100%);
	background-image: linear-gradient(-180deg, #FF5500 0%, #FF5500 100%);
	background: -webkit-gradient(linear, 0 0, 0 100%, from( #FF5500), to(#FF5500));
	font-size: 16px;
	color: #FFFFFF;
	line-height: 44px;	
}
/**********************************************************************************
问题验证END
***********************************************************************************/
/*收银台Start*/
.tip_box{width:8%;min-width:55px;float:left;}
.tip_box :hover{cursor:pointer;}
.title_box{width:100%;height:55px;line-height:55px;background:#000;text-align:center;}
.back_box{width:10%;min-width:55px;float:left;}
.img_box{line-height:60px;width:33%;float:left;text-align:center;height:60px;}
.img_box img{vertical-align:middle;}

/*DCC选择页面*/
.dcc_tip{width:30%;text-align:center;height:80px;line-height:80px;float:left;}
/*收银台End*/
/*成功、失败页面Star*/
.result_box{padding-top:10px;}
.result_img{width:30%;height:100px;float:left;text-align:center;line-height:100px;}
.result_text{width:70%;height:100px;float:left;text-align:left;line-height:100px;}
.footer_img{width:25%;height:50px;line-height:50px;text-align:center;float:left;}
.auto_back_box{height:30px;line-height:20px;padding-top:10px;}
/*成功、失败页面End*/









