<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
 "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>

	<!-- 运单管理 开始 -->
	<bean id="expressTrackingDao"
		class="com.pay.txncore.crosspay.dao.impl.ExpressTrackingDAOImpl">
		<property name="namespace" value="EXPRESS_TRACKING" />
		<property name="sqlMapClient" ref="gatewaySqlMapClient" />
	</bean>
	<!-- 运单管理 结束 -->

	<!-- 交易冻结记录 开始 -->
	<bean id="frozenOrderDao" class="com.pay.txncore.crosspay.dao.impl.FrozenOrderDAOImpl">
		<property name="namespace" value="FROZEN_ORDER" />
		<property name="sqlMapClient" ref="gatewaySqlMapClient" />
	</bean>
	<!-- 交易冻结记录 结束 -->

	<!-- 公告表 开始 -->
	<bean id="noticeInfoDao" class="com.pay.txncore.crosspay.dao.impl.NoticeInfoDAOImpl">
		<property name="namespace" value="NOTICE_INFO" />
		<property name="sqlMapClient" ref="gatewaySqlMapClient" />
	</bean>
	<!-- 公告表 结束 -->

	<!-- 商户汇率表 开始 -->
	<bean id="partnerExchangeRateDao"
		class="com.pay.txncore.crosspay.dao.impl.PartnerExchangeRateDAOImpl">
		<property name="namespace" value="PARTNER_EXCHANGE_RATE" />
		<property name="sqlMapClient" ref="gatewaySqlMapClient" />
	</bean>
	<!-- 商户汇率表 结束 -->

	<!-- 商户网站配置信息 开始 -->
	<bean id="partnerWebsiteConfigDao"
		class="com.pay.txncore.crosspay.dao.impl.PartnerWebsiteConfigDAOImpl">
		<property name="namespace" value="PARTNER_WEBSITE_CONFIG" />
		<property name="sqlMapClient" ref="gatewaySqlMapClient" />
	</bean>
	<!-- 商户网站配置信息 结束 -->

	<!-- 商户提现记录 开始 -->
	<bean id="partnerWithdrawOrderDao"
		class="com.pay.txncore.crosspay.dao.impl.PartnerWithdrawOrderDAOImpl">
		<property name="namespace" value="PARTNER_WITHDRAW_ORDER" />
		<property name="sqlMapClient" ref="gatewaySqlMapClient" />
	</bean>
	<!-- 商户提现记录 结束 -->

	<!-- 交易拒付记录 开始 -->
	<bean id="refusePaymentOrderDao"
		class="com.pay.txncore.crosspay.dao.impl.RefusePaymentOrderDAOImpl">
		<property name="namespace" value="REFUSE_PAYMENT_ORDER" />
		<property name="sqlMapClient" ref="gatewaySqlMapClient" />
	</bean>
	<!-- 交易拒付记录 结束 -->

	<bean id="crossPayOrderQueryDao" class="com.pay.txncore.crosspay.dao.impl.OrderQueryDAOImpl">
		<property name="namespace" value="ORDER_QUERY" />
		<property name="sqlMapClient" ref="gatewaySqlMapClient" />
	</bean>

	<bean id="partnerClearCycleDao"
		class="com.pay.txncore.crosspay.dao.impl.PartnerClearCycleDAOImpl">
		<property name="namespace" value="PARTNER_CLEAR_CYCLE" />
		<property name="sqlMapClient" ref="gatewaySqlMapClient" />
	</bean>

	<bean id="reclearOrderDao" class="com.pay.txncore.crosspay.dao.impl.ReclearOrderDAOImpl">
		<property name="namespace" value="RE_CLEAR_ORDER" />
		<property name="sqlMapClient" ref="gatewaySqlMapClient" />
	</bean>

	<bean id="clearLogDao" class="com.pay.txncore.crosspay.dao.impl.ClearLogDAOImpl">
		<property name="namespace" value="CLEAR_LOG" />
		<property name="sqlMapClient" ref="gatewaySqlMapClient" />
	</bean>

	<bean id="clearCollectDao" class="com.pay.txncore.crosspay.dao.impl.ClearCollectDAOImpl">
		<property name="namespace" value="CLEAR_COLLECT" />
		<property name="sqlMapClient" ref="gatewaySqlMapClient" />
	</bean>

	<bean id="partnerSettlementOrderDAO" class="com.pay.inf.dao.impl.BaseDAOImpl">
		<property name="sqlMapClient" ref="gatewaySqlMapClient" />
		<property name="namespace" value="PARTNER_SETTLEMENT_ORDER" />
	</bean>

</beans> 