<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
 "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>

	<bean id="gatewayBaseDAO" class="com.pay.inf.dao.impl.BaseDAOImpl"
		abstract="true">
		<property name="sqlMapClient" ref="gatewaySqlMapClient" />
	</bean>

	<bean id="figetPartnerConfigDAO" class="com.pay.txncore.dao.impl.PartnerConfigDAOImpl"
		parent="gatewayBaseDAO">
		<property name="namespace" value="fipartnerconfig" />
	</bean>

	<bean id="fi-tradeBaseDAO" class="com.pay.txncore.dao.impl.TradeBaseDAOImpl"
		parent="gatewayBaseDAO">
		<property name="namespace" value="tradeBase" />
	</bean>

	<bean id="fi-tradeOrderDAO" class="com.pay.txncore.dao.impl.TradeOrderDAOImpl"
		parent="gatewayBaseDAO">
		<property name="namespace" value="tradeOrder" />
	</bean>
	
	<bean id="fi-tradeDataDAO" class="com.pay.txncore.dao.impl.TradeDataDAOImpl"
		parent="gatewayBaseDAO">
		<property name="namespace" value="tradeData" />
	</bean>
	
	<bean id="reconcileRecordDAO" class="com.pay.txncore.dao.impl.ReconcileRecordDAOImpl"
		parent="gatewayBaseDAO">
		<property name="namespace" value="batchReconileRecord" />
	</bean>

	<bean id="fi-tradeExtendsDAO" class="com.pay.txncore.dao.impl.TradeExtendsDAOImpl"
		parent="gatewayBaseDAO">
		<property name="namespace" value="tradeExtends" />
	</bean>
	<bean id="fi-tradeCountDAO" class="com.pay.txncore.dao.impl.TradeCountDAOImpl"
		parent="gatewayBaseDAO">
		<property name="namespace" value="tradeOrderCount" />
	</bean>

	<bean id="fi-tradeOrderFrozenDAO" class="com.pay.txncore.dao.impl.TradeOrderFrozenDAOImpl"
		parent="gatewayBaseDAO">
		<property name="namespace" value="tradeOrderFrozen" />
	</bean>

	<bean id="fi-paymentOrderDAO" class="com.pay.txncore.dao.impl.PaymentOrderDAOImpl"
		parent="gatewayBaseDAO">
		<property name="namespace" value="paymentOrder" />
	</bean>

	<bean id="fi-paymentOrderExpandDAO" class="com.pay.txncore.dao.impl.PaymentOrderExpandDAOImpl"
		parent="gatewayBaseDAO">
		<property name="namespace" value="paymentOrderExpand" />
	</bean>

	<bean id="fi-depositOrderDAO" class="com.pay.txncore.dao.impl.DepositOrderDAOImpl"
		parent="gatewayBaseDAO">
		<property name="namespace" value="depositOrder" />
	</bean>

	<bean id="fi-refundOrderDAO" class="com.pay.txncore.dao.impl.RefundOrderDAOImpl"
		parent="gatewayBaseDAO">
		<property name="namespace" value="refundOrder" />
	</bean>
	
	<bean id="fi-refundOrderExtendDAO" class="com.pay.txncore.dao.impl.RefundOrderExtendDAOImpl"
		parent="gatewayBaseDAO">
		<property name="namespace" value="refundOrderExtend" />
	</bean>
	
	<bean id="fi-refundOrderConfirmDAO" class="com.pay.txncore.dao.impl.RefundOrderConfirmDAOImpl"
		parent="gatewayBaseDAO">
		<property name="namespace" value="refundOrderConfirm" />
	</bean>
	
	<bean id="fi-refundOrderStatusChangeLogDAO" class="com.pay.txncore.dao.impl.RefundOrderStatusChangeLogDAOImpl"
		parent="gatewayBaseDAO">
		<property name="namespace" value="refundOrderStatusChangeLog" />
	</bean>
		
	<bean id="fi-refundFeeOrderDAO" class="com.pay.txncore.dao.impl.RefundFeeOrderDAOImpl"
		parent="gatewayBaseDAO">
		<property name="namespace" value="refundFeeOrder" />
	</bean>

	<bean id="fi-refundApplyDAO" class="com.pay.txncore.dao.impl.RefundApplyDAOImpl"
		parent="gatewayBaseDAO">
		<property name="namespace" value="refundApply" />
	</bean>

	<bean id="fi-commonUploadFileDAO" class="com.pay.txncore.dao.impl.CommonUploadFileDAOImpl"
		parent="gatewayBaseDAO">
		<property name="namespace" value="commonuploadfile" />
	</bean>

	<bean id="fi-batchRefundDAO" class="com.pay.txncore.dao.impl.BatchRefundDAOImpl"
		parent="gatewayBaseDAO">
		<property name="namespace" value="batchrefund" />
	</bean>

	<bean id="fi-batchRefundDetailDAO" class="com.pay.txncore.dao.impl.BatchRefundDetailDAOImpl"
		parent="gatewayBaseDAO">
		<property name="namespace" value="batchrefunddetail" />
	</bean>

	<bean id="fi-depositBackOrderDAO" class="com.pay.txncore.dao.impl.DepositBackOrderDAOImpl"
		parent="gatewayBaseDAO">
		<property name="namespace" value="depositBackOrder" />
	</bean>

	<bean id="fi-depositBackProtocolDAO" class="com.pay.txncore.dao.impl.DepositBackProtocolDAOImpl"
		parent="gatewayBaseDAO">
		<property name="namespace" value="depositBackProtocol" />
	</bean>

	<bean id="currencyExchangeRateDAO"
		class="com.pay.txncore.crosspay.dao.impl.CurrencyExchangeRateDAOImpl"
		parent="gatewayBaseDAO">
		<property name="namespace" value="CURRENCY_EXCHANGE_RATE" />
	</bean>

	<bean id="settlementBaseRateDAO"
		class="com.pay.txncore.crosspay.dao.impl.SettlementBaseRateDAOImpl"
		parent="gatewayBaseDAO">
		<property name="namespace" value="SETTLEMENT_BASE_RATE" />
	</bean>

	<bean id="settlementRateDAO" class="com.pay.txncore.crosspay.dao.impl.SettlementRateDAOImpl"
		parent="gatewayBaseDAO">
		<property name="namespace" value="SETTLEMENT_RATE" />
	</bean>

	<bean id="transactionBaseRateDAO"
		class="com.pay.txncore.crosspay.dao.impl.TransactionBaseRateDAOImpl"
		parent="gatewayBaseDAO">
		<property name="namespace" value="TRANSACTION_BASE_RATE" />
	</bean>

	<bean id="settlementRateAdjustDAO"
		class="com.pay.txncore.crosspay.dao.impl.SettlementRateAdjustDAOImpl"
		parent="gatewayBaseDAO">
		<property name="namespace" value="SETTLEMENT_RATE_ADJUST" />
	</bean>

	<bean id="transactionRateAdjustDAO"
		class="com.pay.txncore.crosspay.dao.impl.TransactionRateAdjustDAOImpl"
		parent="gatewayBaseDAO">
		<property name="namespace" value="TRANSACTION_RATE_ADJUST" />
	</bean>
	
	<bean id="partnerRateFloatDAO"
		class="com.pay.txncore.crosspay.dao.impl.PartnerRateFloatDAOImpl"
		parent="gatewayBaseDAO">
		<property name="namespace" value="PARTNER_RATE_FLOAT" />
	</bean>

	<bean id="transactionRateDAO"
		class="com.pay.txncore.crosspay.dao.impl.TransactionRateDAOImpl"
		parent="gatewayBaseDAO">
		<property name="namespace" value="TRANSACTION_RATE" />
	</bean>
	
	<bean id="transRateMarkupDAO"
		class="com.pay.txncore.dao.impl.TransRateMarkupDAOImpl"
		parent="gatewayBaseDAO">
		<property name="namespace" value="TRANS_RATE_MARKUP" />
	</bean>

	<bean id="orgCurrencyExchangeRateDAO"
		class="com.pay.txncore.crosspay.dao.impl.OrgCurrencyExchangeRateDAOImpl"
		parent="gatewayBaseDAO">
		<property name="namespace" value="ORG_CURRENCY_EXCHANGE_RATE" />
	</bean>

	<bean id="orderQueryDAO" class="com.pay.inf.dao.impl.BaseDAOImpl"
		parent="gatewayBaseDAO">
		<property name="namespace" value="orderQueryCrop" />
	</bean>

	<bean id="fi-channelOrderDAO" class="com.pay.txncore.dao.impl.ChannelOrderDAOImpl"
		parent="gatewayBaseDAO">
		<property name="namespace" value="channelOrder" />
	</bean>

	<bean id="queryReconcilefileDAO" class="com.pay.txncore.dao.impl.QueryReconcileFileDAOImpl"
		parent="gatewayBaseDAO">
		<property name="namespace" value="reconcile" />
	</bean>

	<bean id="queryReconcilerecordDAO" class="com.pay.txncore.dao.impl.QueryReconcileRecordDAOImpl"
		parent="gatewayBaseDAO">
		<property name="namespace" value="reconcile" />
	</bean>

	<bean id="reportDAO" class="com.pay.txncore.dao.impl.ReportDAOImpl"
		parent="gatewayBaseDAO">
		<property name="namespace" value="reportData" />
	</bean>

	<bean class="com.pay.inf.dao.impl.BaseDAOImpl" id="chargeBackOrderDAO"
		parent="gatewayBaseDAO">
		<property name="namespace" value="CHARGE_BACK_ORDER" />
	</bean>

	<bean class="com.pay.inf.dao.impl.BaseDAOImpl" id="chargeBackConfigDAO"
		parent="gatewayBaseDAO">
		<property name="namespace" value="CHARGE_BACK_CONFIG" />
	</bean>

	<bean class="com.pay.txncore.dao.impl.TradeAmountCountDAOImpl" id="tradeAmountCountDAO"
		parent="gatewayBaseDAO">
		<property name="namespace" value="TRADE_AMOUNT_COUNT" />
	</bean>
	
	<bean class="com.pay.txncore.dao.impl.ChannelCurrencyDAOImpl" id="channelCurrencyDAO"
		parent="gatewayBaseDAO">
		<property name="namespace" value="channelCurrency" />
	</bean>
	<bean class="com.pay.txncore.dao.impl.TokenPayInfoDAOImpl" id="tokenPayInfoDAO"
		parent="gatewayBaseDAO">
		<property name="namespace" value="tokenPay" />
	</bean>
	<bean class="com.pay.txncore.dao.impl.CardBindOrderDAOImpl" id="cardBindOrderDAO"
		parent="gatewayBaseDAO">
		<property name="namespace" value="cardBindOrder" />
	</bean>

	<bean class="com.pay.txncore.dao.impl.PreControllerDAOImpl" id="preControllerDAO"
		  parent="gatewayBaseDAO">
		<property name="namespace" value="preController" />
	</bean>

	<bean class="com.pay.txncore.dao.impl.AuthChaneOrderDAOImpl" id="authChaneOrderDAO"
		  parent="gatewayBaseDAO">
		<property name="namespace" value="authChangeOrder" />
	</bean>

</beans> 