serial-no|pay-type|transaction-type|account-no|account-name|payee-account-no|payee-name|payee-bank|usage|fen-code|curr-flag|amount|zfbranchno
#foreach($order in $orderList)
${order.serialNo}|${order.payType}|${order.tradeType}|03301800040015729|海南新生信息技术有限公司|${order.bankAcct}|${order.accountName}|${order.bankName}|$!{order.use}|01|0|${order.amount}|${order.unionBankCode}
#end