客户业务编号|付款行联行号|付款行机构号|付款人账号|收款人账号|收款行联行号|收款行机构号|收款行名称|收款人名称|收款人地址|付款货币|付款金额|支付手续费账号|客户指定付款日期|用途或附言|优先级|收款人e-mail|收款人手机号|收款人传真号|是否中行收款标识|CNAPS行号|客户优先级
#foreach($order in $orderList)
|中国银行联行号||044269808020267108093001|${order.bankAcct}|||${order.bankBranch}|${order.accountName}|||${order.amount}||${order.expectDate}||||||${order.isToBoc}||
#end