OBSS|2|${summer.totalCount}|${summer.totalAmount}|
#foreach($order in $orderList)
|40522|8080|446859247296|${order.bankAcct}|||${order.bankBranch}|${order.accountName}|||${order.amount}||${order.expectDate}||||||${order.isToBoc}|${order.bankNumber}|
#end
OBSSEND