#foreach($order in $orderList)
321230100100149302|${order.isSameBank}|${order.bankAcct}|${order.accountName}|${order.bankName}|$!{order.cityName}|${order.amount}|$!{order.use}|$!{order.orderRemarks}|·ñ||${order.unionBankCode}|
#end