606060560200149|${summer.cnpyBatchNum}|${summer.totalCount}|${summer.totalAmount}
#foreach($order in $orderList)
${order.date}|${order.orderSeq}|${order.bankAcct}|${order.accountName}|${order.bankName}|$!{order.provinceName}|$!{order.cityName}|${order.bankBranch}|${order.amount}|$!{order.use}
#end