E74|${summer.merchantCode}|${summer.date}|${summer.batchNum}|${summer.totalCountString}|${summer.totalAmount}||
#foreach($order in $orderList)
${order.serialNo}|${summer.merchantCode}|156|${order.showApplyAmount}|$!{order.applyRemark}|${order.rechargeBankOrder}|${order.rechargeDate}|${order.showRechargeAmount}|${order.detailKy}||
#end