文件类型:FTThirdGetcashBatch
标题:商户提现

导入模板的字段内容为：

*收款帐号*|*提现金额*|*姓名*|*商户流水号*|备注|摘要

说明: 1.前后加'*'号的字段为必填项
			2.各字段前后不允许有空格
------------------------------------------
#foreach($order in $orderList)
${order.bankAcct}|${order.amount}|${order.accountName}|${order.workorderKy}|$!{order.orderRemarks}||
#end