#总计信息
#注意事项说明：本文件中的金额均以分为单位！
#币种|日期|总计标志|总金额|总笔数|
RMB|${summer.date}|1|${summer.totalAmount}|${summer.totalCount}|
#明细指令信息
#币种|日期|明细标志|顺序号|付款账号开户行|付款账号|付款账号名称|收款账号开户行|收款账户银行名称|收款账号省份地市|收款账号地区码|收款账号|收款账号名称|收款账户公私标志|金额|汇款用途|备注信息|
#foreach($order in $orderList)
RMB|${order.date}|2|${order.serialNo}|广东发展银行杭州分行|134001516010021358|海南新生信息技术有限公司|${order.bankBranch}|${order.bankName}|$!{order.provinceName}$!{order.cityName}|${order.unionBankCode}|${order.bankAcct}|${order.accountName}|${order.tradeType}|${order.amount}|工资代发|${order.orderSeq},$!{order.orderRemarks}|
#end