#foreach($order in $orderList)
${order.serialNo},"GCPayment信息技术有限公司","4332200001819100147010","1","1","${order.accountName}","${order.bankAcct}","","${order.bankName}","","${order.bankBranch}","","${order.amount}","","${order.date}","$!{order.orderRemarks}","","",""
#end