RMB|${summer.date}|1|${summer.totalAmount}|${summer.totalCount}|
#foreach($order in $orderList)
RMB|${order.date}|2|${order.busiNo}|工行海口世贸支行|2201027519200293325|海南新生信息技术有限公司|$!{order.provinceName}|$!{order.cityName}|2201|${order.bankAcct}|${order.accountName}|${order.amount}|${order.use}|$!{order.use}
#end