#foreach($order in $orderList)
$!{order.transferType};11012053941601;$!{order.transferMode};${order.bankAcct};${order.accountName};$!{order.provinceName};$!{order.cityName};$!{order.bankBranch};${order.amount};$!{order.ifYqPay};${order.use};$!{order.yqPayDate};»À√Ò±“;$!{order.currFlag}
#end