${summer.totalCount}
${summer.totalAmount}
#foreach($order in $orderList)
${order.detailKy},${order.refundDate},${order.applyAmountString},156,${order.rechargeBankOrder},${order.rechargeDate},$!{order.applyRemark}
#end