<div class="OTF_fromContext row"  hidden="hidden" >
	<div class="small-12  medium-12  large-12 large-centered  columns"
		style="text-align: center;">
		<img alt="" src="${app.base}/static/icon/bigIcon/otf.png">
	</div>
</div>
<div  class="OTF_fromContext row " hidden="hidden" >
	<div class=" small-12  medium-12  large-12 large-centered columns">
		<form id="OTF_from">
			<div class="row">
				<div class="small-offset-0 large-offset-4 small-12  medium-6 large-4  columns"
					style="margin-top: 10px">
						<label for="name" style="height: 30px">Name：</label>
						<input type="text" id="name" name="Name">
						<label for="taxNumber" style="height: 30px">Tax Nmuber：</label>
						<input type="text" id="taxNumber" name="taxNumber">
						<label for="bankCode" style="height: 30px">Country：</label>
						<select name="bankCode">
							  <option value="R">Bradesco Comércio Eletrônico</option>
							  <option value="E">Banco do Brasil Comércio Eletrônico</option>
							  <option value="S">Banricompras</option>
						</select>
				</div>
			</div>
		</form>
	</div>
</div>
<div class="OTF_fromContext row" style="text-align: center;" hidden="hidden">
	<label  style="color: gray;line-height: 40px">At the end of the chectout process you maybe redirected to the payment site</label>
</div>
<script src="${base}/model/computop/valid/otfValid.js"></script>