<div class="POLI_fromContext row"  hidden="hidden" >
	<div class="small-12  medium-12  large-12 large-centered  columns"
		style="text-align: center;">
		<img alt="" src="${app.base}/static/icon/bigIcon/poli.png">
	</div>
</div>
<div  class="POLI_fromContext row " hidden="hidden" >
	<div class=" small-12  medium-12  large-12 large-centered columns">
		<form id="POLI_from">
			<div class="row">
				<div class="small-offset-0 large-offset-4 small-12  medium-6 large-4  columns"
					style="margin-top: 10px">
						<label for="accName" style="height: 30px">Account Holder Name：</label>
						<input type="text" id="accName" name="accName">
						<label for="accCountryCode" style="height: 30px">Country：</label>
						<input type="radio" name="accCountryCode" checked="checked" value="AU">Australia&nbsp;&nbsp;
						<input type="radio" name="accCountryCode" value="NZ">New Zealand
				</div>
			</div>
		</form>
	</div>
</div>
<div class="POLI_fromContext row" style="text-align: center;" hidden="hidden">
	<label  style="color: gray;line-height: 40px">At the end of the chectout process you maybe redirected to the payment site</label>
</div>
<script src="${base}/model/computop/valid/poliValid.js"></script>