<link href='http://fonts.useso.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="/gateway/static/drop-down/css/normalize.css" />
<link rel="stylesheet" type="text/css" href="/gateway//static/drop-down/css/cs-select.css" />
<link rel="stylesheet" type="text/css" href="/gateway//static/drop-down/css/cs-skin-elastic.css" />
<div class="QIWI_fromContext row"  hidden="hidden" >
	<div class="small-12  medium-12  large-12 large-centered  columns"
		style="text-align: center;">
		<img alt="" src="${app.base}/static/icon/bigIcon/qiwi.png">
	</div>
</div>
<div  class="QIWI_fromContext row " hidden="hidden" >
	<div class=" small-12  medium-12  large-12 large-centered columns">
		<form id="QIWI_from">
			<div class="row">
				<div class="small-offset-0 large-offset-4 small-12  medium-6 large-4  columns"
					style="margin-top: 10px">
						<label for="accName" style="height: 30px">Account Holder Name：</label>
						<input type="text" id="accName" name="accName">
						<label for="iban" style="height: 30px">Mobile Number：</label>
						<div class="row">
						<label for="iban" style="height: 30px"></label>
					        <div class="small-6 columns">
					          	<select id="qiwi_accCountryCode" name="accCountryCode" class="cs-select cs-skin-elastic" >
									<option value="RU"  data-class="flag-ru">+007</option>
									<option value="KZ" data-class="flag-kz">+007</option>
									<option value="UA" data-class="flag-ua">+380</option>
								</select>
					        </div>
					        <div class="small-6 columns">
					        	 <input type="text" id="mobileNumber" name="mobileNumber_show">
					        	 <input type="hidden" id="countryMobileNumber"  name="mobileNumber">
					        </div>
				      </div>
				</div>
			</div>
		</form>
	</div>
</div>
<div class="QIWI_fromContext row" style="text-align: center;" hidden="hidden">
	<label  style="color: gray;line-height: 40px">At the end of the chectout process you maybe redirected to the payment site</label>
</div>
<script src="/gateway//static/drop-down/js/classie.js"></script>
<script src="/gateway//static/drop-down/js/selectFx.js"></script>
<script>
	(function() {
		[].slice.call( document.querySelectorAll( 'select.cs-select' ) ).forEach( function(el) {	
			new SelectFx(el);
		} );
	})();
</script>
<script src="${base}/model/computop/valid/qiwiValid.js"></script>