<div class="SEPA_fromContext row"  hidden="hidden" >
	<div class="small-12  medium-12  large-12 large-centered  columns"
		style="text-align: center;">
		<img alt="" src="${app.base}/static/icon/bigIcon/sepa.png">
	</div>
</div>
<div  class="SEPA_fromContext row " hidden="hidden" >
	<div class=" small-12  medium-12  large-12 large-centered columns">
		<form id="SEPA_from">
			<div class="row">
				<div class="small-offset-0 large-offset-4 small-12  medium-6 large-4  columns"
					style="margin-top: 10px">
						<label for="accName" style="height: 30px">Account Holder Name：</label>
						<input type="text" id="accName" name="accName">
						<label for="iban" style="height: 30px">Account Number：</label>
						<input type="text" id="iban" name="AccNumber">
						<label for="bankName" style="height: 30px">Bank Name：</label>
						<input type="text" id="bankName" name="bankName">
						<label for="AccNumber" style="height: 30px">IBAN：</label>
						<input type="text" id="AccNumber" name="IBAN">
						<label for="bic" style="height: 30px">BIC：</label>
						<input type="text" id="bic" name="BIC">
						<label for="accEmail" style="height: 30px">Email：</label>
						<input type="text"  name="accEmail">
						<label for="accCountryCode" style="height: 30px">Country：</label>
						<select id="sepa_from_select" name="accCountryCode">
						</select>
				</div>
			</div>
		</form>
	</div>
</div>
<div class="SEPA_fromContext row" style="text-align: center;" hidden="hidden">
	<label  style="color: gray;line-height: 40px">At the end of the chectout process you maybe redirected to the payment site</label>
</div>
<script src="${base}/model/computop/valid/sepaValid.js"></script>