<div class="Sofort_fromContext row"  hidden="hidden" >
	<div class="small-12  medium-12  large-12 large-centered  columns"
		style="text-align: center;">
		<img alt="" src="${app.base}/static/icon/bigIcon/sofortbanking.png">
	</div>
</div>
<div  class="Sofort_fromContext row " hidden="hidden" >
	<div class=" small-12  medium-12  large-12 large-centered columns">
		<form id="Sofort_from">
			<div class="row">
				<div class="small-offset-0 large-offset-4 small-12  medium-6 large-4  columns"
					style="margin-top: 10px">
						<label for="accName" style="height: 30px">Account Holder Name：</label>
						<input type="text" id="accName" name="accName">
						<label for="AccNumber" style="height: 30px">Account Number：</label>
						<input type="text" id="AccNumber" name="AccNumber">
						<label for="accCountryCode" style="height: 30px">Country：</label>
						<select id="sofort_from_select" name="accCountryCode">
							<option value="DE">Germany</option>
							<option value="AT">Austria</option>
							<option value="BE">Belgium</option>
							<option value="NL">Netherlands</option>
							<option value="FR">France</option>
							<option value="GB">United Kingdom</option>
							<option value="IT">Italy</option>
							<option value="PL">Poland</option>
							<option value="ES">Spain</option>
							<option value="HU">Hungary</option>
							<option value="SL">Sierra leone</option>
							<option value="CH">Switzerland</option>
						</select>
				</div>
			</div>
		</form>
	</div>
</div>
<div class="Sofort_fromContext row" style="text-align: center;" hidden="hidden">
	<label  style="color: gray;line-height: 40px">At the end of the chectout process you maybe redirected to the payment site</label>
</div>
<script src="${base}/model/computop/valid/sofortValid.js"></script>
