<div class="TrustPay_fromContext row"  hidden="hidden" >
	<div class="small-12  medium-12  large-12 large-centered  columns"
		style="text-align: center;">
		<img alt="" src="${app.base}/static/icon/bigIcon/teustpay.png">
	</div>
</div>
<div  class="TrustPay_fromContext row " hidden="hidden" >
	<div class=" small-12  medium-12  large-12 large-centered columns">
		<form id="TrustPay_from">
			<div class="row">
				<div class="small-offset-0 large-offset-4 small-12  medium-6 large-4  columns"
					style="margin-top: 10px">
						<label for="accName" style="height: 30px">Account Holder Name：</label>
						<input type="text" id="accName" name="accName">
						<label for="accCountryCode" style="height: 30px">Country：</label>
						<select name="accCountryCode">
							  <option value="TR">Turkey</option>
							  <option value="BA">Bosnia and Herzegovina</option>
							  <option value="BG">Bulgaria</option>
							  <option value="CZ">Czech Repoublic</option>
							  <option value="EE">Estonia</option>
							  <option value="GB">United Kingdom</option>
							  <option value="SK">Slovakia</option>
							  <option value="RO">Romania</option>
							  <option value="US">United States</option>
							  <option value="PL">Poland</option>
							  <option value="HR">Croatia</option>
							  <option value="HU">Hungary</option>
							  <option value="LT">Lithuania</option>
							  <option value="LV">Latvia</option>
						</select>
				</div>
			</div>
		</form>
	</div>
</div>
<div class="TrustPay_fromContext row" style="text-align: center;" hidden="hidden">
	<label  style="color: gray;line-height: 40px">At the end of the chectout process you maybe redirected to the payment site</label>
</div>
<script src="${base}/model/computop/valid/trustPayValid.js"></script>