<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jms="http://www.springframework.org/schema/jms"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
            http://www.springframework.org/schema/context
            http://www.springframework.org/schema/context/spring-context-2.5.xsd
            http://www.springframework.org/schema/jms http://www.springframework.org/schema/jms/spring-jms-2.5.xsd">

	<!-- 跨境API收单 -->
	<bean id="crosspayApiAcquireValidateService" class="com.pay.inf.service.impl.ValidateServiceImpl">
		<property name="ruleEngine" ref="crosspay-api-acquireRule" />
	</bean>

	<bean id="crosspay-api-acquireRule" class="com.pay.inf.rule.RuleEngine">
		<property name="firstStep">
			<ref bean="crosspay-api-versionCheckRule" />
		</property>
	</bean>

	<bean id="crosspay-api-versionCheckRule" class="com.pay.gateway.validate.crosspay.api.VersionCheckRule">
		<property name="negativeOutcomeStep">
			<ref bean="crosspay-api-exceptionAction" />
		</property>
		<property name="positiveOutcomeStep">
			<ref local="crosspay-api-orderIdCheckRule" />
		</property>
		<property name="messageId" value="0002" />
		<property name="message" value="The version number is not correct:版本号不正确" />
	</bean>

	<bean id="crosspay-api-orderIdCheckRule" class="com.pay.gateway.validate.crosspay.api.OrderIdCheckRule">
		<property name="negativeOutcomeStep">
			<ref bean="crosspay-api-exceptionAction" />
		</property>
		<property name="positiveOutcomeStep">
			<ref local="crosspay-api-goodsNameCheckRule" />
		</property>
		<property name="messageId" value="0003" />
		<property name="message" value="Invalid order number:订单号不合法" />
	</bean>

	<bean id="crosspay-api-goodsNameCheckRule"
		class="com.pay.gateway.validate.crosspay.api.GoodsNameCheckRule">
		<property name="negativeOutcomeStep">
			<ref bean="crosspay-api-exceptionAction" />
		</property>
		<property name="positiveOutcomeStep">
			<ref local="crosspay-api-goodsDescCheckRule" />
		</property>
		<property name="messageId" value="0004" />
		<property name="message" value="Goods name is empty or too long:商品名称为空或过长" />
	</bean>

	<bean id="crosspay-api-goodsDescCheckRule"
		class="com.pay.gateway.validate.crosspay.api.GoodsDescCheckRule">
		<property name="negativeOutcomeStep">
			<ref bean="crosspay-api-exceptionAction" />
		</property>
		<property name="positiveOutcomeStep">
			<ref local="crosspay-api-submitTimeCheckRule" />
		</property>
		<property name="messageId" value="0005" />
		<property name="message" value="Goods description is empty or too long:商品描述为空或过长" />
	</bean>

	<bean id="crosspay-api-submitTimeCheckRule"
		class="com.pay.gateway.validate.crosspay.api.SubmitTimeCheckRule">
		<property name="negativeOutcomeStep">
			<ref bean="crosspay-api-exceptionAction" />
		</property>
		<property name="positiveOutcomeStep">
			<ref local="repair-partnerIdCheckRule" />
		</property>
		<property name="messageId" value="0006" />
		<property name="message" value="Order submission time is wrong:订单提交时间不正确" />
	</bean>

	<bean id="repair-partnerIdCheckRule"
		  class="com.pay.gateway.validate.crosspay.api.PartnerIdCheckRuleNew">
		<property name="negativeOutcomeStep">
			<ref bean="crosspay-api-exceptionAction" />
		</property>
		<property name="positiveOutcomeStep">
			<ref local="crosspay-api-siteIdCheckRule" />
		</property>
		<property name="messageId" value="0067" />
		<property name="memberService" ref="acc-memberService" />
		<property name="message" value="Merchant(partner ID) is empty or wrong:会员号为空或不正确" />
	</bean>

	<bean id="crosspay-api-siteIdCheckRule" class="com.pay.gateway.validate.crosspay.api.SiteIdCheckRule">
		<property name="negativeOutcomeStep">
			<ref bean="crosspay-api-exceptionAction" />
		</property>
		<property name="positiveOutcomeStep">
			<ref local="crosspay-api-orderAmountCheckRule" />
		</property>
		<property name="txncoreClientService" ref="txncoreClientService" />
		<property name="messageId" value="0007" />
		<property name="message" value="Unauthorized domain names:未授权的域名" />
	</bean>

	<bean id="crosspay-api-orderAmountCheckRule"
		class="com.pay.gateway.validate.crosspay.api.OrderAmountCheckRule">
		<property name="negativeOutcomeStep">
			<ref bean="crosspay-api-exceptionAction" />
		</property>
		<property name="positiveOutcomeStep">
			<ref local="crosspay-api-typeCheckRule" />
		</property>
		<property name="messageId" value="0008" />
		<property name="message" value="Invalid Order Amount:订单金额不正确" />
	</bean>

	<bean id="crosspay-api-typeCheckRule"
		class="com.pay.gateway.validate.crosspay.api.TradeTypeCheckRule">
		<property name="negativeOutcomeStep">
			<ref bean="crosspay-api-exceptionAction" />
		</property>
		<property name="positiveOutcomeStep">
			<ref local="crosspay-api-currencyCodeCheckRule" />
		</property>
		<property name="messageId" value="0009" />
		<property name="message" value="Unauthorized trade type:未授权交易类型" />
	</bean>
    <!-- 
	<bean id="crosspay-api-payTypeCheckRule" class="com.pay.gateway.validate.crosspay.api.PayTypeCheckRule">
		<property name="negativeOutcomeStep">
			<ref bean="crosspay-api-exceptionAction" />
		</property>
		<property name="positiveOutcomeStep">
			<ref local="crosspay-api-currencyCodeCheckRule" />
		</property>
		<property name="messageId" value="0010" />
		<property name="message" value="支付方式不正确" />
	</bean>
  -->
	<bean id="crosspay-api-currencyCodeCheckRule"
		class="com.pay.gateway.validate.crosspay.api.CurrencyCodeCheckRule">
		<property name="negativeOutcomeStep">
			<ref bean="crosspay-api-exceptionAction" />
		</property>
		<property name="positiveOutcomeStep">
			<ref local="dccProductCheckRule" />
		</property>
		<property name="messageId" value="0011" />
		<property name="message" value="Invalid transaction currency:交易币种不正确" />
	</bean>
	
	<bean id="dccProductCheckRule"
		class="com.pay.gateway.validate.crosspay.api.DCCProductCheckRule">
		<property name="negativeOutcomeStep">
			<ref bean="stopExecuteAction" />
		</property>
		<property name="positiveOutcomeStep">
			<ref local="crosspay-api-settlementCurrencyCodeCheckRule" />
		</property>
		<property name="memberProductService" ref="acc-memberProductService"/>
		<property name="messageId" value="0011" />
		<property name="message" value="Invalid transaction currency:交易币种不正确" />
	</bean>

	<bean id="crosspay-api-settlementCurrencyCodeCheckRule"
		class="com.pay.gateway.validate.crosspay.api.SettlementCurrencyCodeCheckRule">
		<property name="negativeOutcomeStep">
			<ref bean="crosspay-api-exceptionAction" />
		</property>
		<property name="positiveOutcomeStep">
			<ref local="crosspay-api-borrowingMarkedCheckRule" />
		</property>
		<property name="messageId" value="0012" />
		<property name="message" value="Invalid settlement currency:结算币种不正确" />
	</bean>

	<bean id="crosspay-api-borrowingMarkedCheckRule"
		class="com.pay.gateway.validate.crosspay.api.BorrowingMarkedCheckRule">
		<property name="negativeOutcomeStep">
			<ref bean="crosspay-api-exceptionAction" />
		</property>
		<property name="positiveOutcomeStep">
			<ref local="crosspay-api-noticeUrlCheckRule" />
		</property>
		<property name="messageId" value="0013" />
		<property name="message" value="Invalid value for paramter borrowingMarked:资金来源借贷标识不正确" />
	</bean>

	<bean id="crosspay-api-noticeUrlCheckRule"
		class="com.pay.gateway.validate.crosspay.api.NoticeUrlCheckRule">
		<property name="negativeOutcomeStep">
			<ref bean="crosspay-api-exceptionAction" />
		</property>
		<property name="positiveOutcomeStep">
			<ref local="crosspay-api-merchantConfigureCheckRule" />
		</property>
		<property name="messageId" value="0014" />
		<property name="message" value="Invalid merchant notice URL:商户通知地址不正确" />
	</bean>

	<bean id="crosspay-api-merchantStatusCheckRule"
		class="com.pay.gateway.validate.crosspay.api.MerchantStatusCheckRule">
		<property name="negativeOutcomeStep">
			<ref bean="crosspay-api-exceptionAction" />
		</property>
		<property name="positiveOutcomeStep">
			<ref local="crosspay-api-merchantConfigureCheckRule" />
		</property>
		<property name="memberService" ref="acc-memberService" />
		<property name="messageId" value="0015" />
		<property name="message" value="Abnormal merchant status:商户状态异常" />
	</bean>

	<bean id="crosspay-api-merchantConfigureCheckRule"
		class="com.pay.gateway.validate.crosspay.api.MerchantConfigureCheckRule">
		<property name="txncoreClientService" ref="txncoreClientService" />
		<property name="negativeOutcomeStep">
			<ref bean="crosspay-api-exceptionAction" />
		</property>
		<property name="positiveOutcomeStep">
			<ref local="crosspay-api-merchantAcctCheckRule" />
		</property>
		<property name="messageId" value="0016" />
		<property name="message" value="Unauthorized merchant:未授权限的商户" />
	</bean>

	<bean id="crosspay-api-merchantAcctCheckRule"
		class="com.pay.gateway.validate.crosspay.api.MerchantAcctCheckRule">
		<property name="accountQueryService" ref="acc-accountQueryService" />
		<property name="negativeOutcomeStep">
			<ref bean="crosspay-api-exceptionAction" />
		</property>
		<property name="positiveOutcomeStep">
			<ref local="crosspay-api-billNameCheckRule" />
		</property>
		<property name="messageId" value="0017" />
		<property name="message" value="Abnormal merchant account status:商户账户状态异常" />
	</bean>
   	<bean id="crosspay-api-billNameCheckRule" class="com.pay.gateway.validate.crosspay.api.BillNameCheckRule">
		<property name="negativeOutcomeStep">
			<ref bean="crosspay-api-exceptionAction" />
		</property>
		<property name="positiveOutcomeStep">
			<ref local="crosspay-api-BillAddressCheckRule" />
		</property>
		<property name="messageId" value="0018" />
		<property name="message" value="Billing name is empty or too long:账单姓名为空或过长" />
	</bean>

	<bean id="crosspay-api-BillAddressCheckRule"
		class="com.pay.gateway.validate.crosspay.api.BillAddressCheckRule">
		<property name="negativeOutcomeStep">
			<ref bean="crosspay-api-exceptionAction" />
		</property>
		<property name="positiveOutcomeStep">
			<ref local="crosspay-api-BillEmailCheckRule" />
		</property>
		<property name="messageId" value="0019" />
		<property name="message" value="Billing address is empty or too long:账单地址为空或过长" />
	</bean>

	<bean id="crosspay-api-BillEmailCheckRule"
		class="com.pay.gateway.validate.crosspay.api.BillEmailCheckRule">
		<property name="negativeOutcomeStep">
			<ref bean="crosspay-api-exceptionAction" />
		</property>
		<property name="positiveOutcomeStep">
			<ref local="crosspay-api-BillPhoneNumberCheckRule" />
		</property>
		<property name="messageId" value="0020" />
		<property name="message" value="Billing email is empty or too long:账单邮箱为空或过长" />
	</bean>

	<bean id="crosspay-api-BillPhoneNumberCheckRule"
		class="com.pay.gateway.validate.crosspay.api.BillPhoneNumberCheckRule">
		<property name="negativeOutcomeStep">
			<ref bean="crosspay-api-exceptionAction" />
		</property>
		<property name="positiveOutcomeStep">
			<ref local="crosspay-api-BillPostalCodeCheckRule" />
		</property>
		<property name="messageId" value="0021" />
		<property name="message" value="Billing telephone is empty or too long:账单电话为空或过长" />
	</bean>

	<bean id="crosspay-api-BillPostalCodeCheckRule"
		class="com.pay.gateway.validate.crosspay.api.BillPostalCodeCheckRule">
		<property name="negativeOutcomeStep">
			<ref bean="crosspay-api-exceptionAction" />
		</property>
		<property name="positiveOutcomeStep">
			<ref local="crosspay-api-BillCityCheckRule" />
		</property>
		<property name="messageId" value="0022" />
		<property name="message" value="Billing postcode is empty or too long:账单邮编为空或过长" />
	</bean>
    <!-- 
	<bean id="crosspay-api-BillStreetCheckRule"
		class="com.pay.gateway.validate.crosspay.api.BillStreetCheckRule">
		<property name="negativeOutcomeStep">
			<ref bean="crosspay-api-exceptionAction" />
		</property>
		<property name="positiveOutcomeStep">
			<ref local="crosspay-api-BillCityCheckRule" />
		</property>
		<property name="messageId" value="0023" />
		<property name="message" value="账单街道不能为空" />
	</bean>
    -->
	<bean id="crosspay-api-BillCityCheckRule" class="com.pay.gateway.validate.crosspay.api.BillCityCheckRule">
		<property name="negativeOutcomeStep">
			<ref bean="crosspay-api-exceptionAction" />
		</property>
		<property name="positiveOutcomeStep">
			<ref local="crosspay-api-BillStateCheckRule" />
		</property>
		<property name="messageId" value="0024" />
		<property name="message" value="Billing city is empty or too long:账单城市为空或过长" />
	</bean>

	<bean id="crosspay-api-BillStateCheckRule"
		class="com.pay.gateway.validate.crosspay.api.BillStateCheckRule">
		<property name="negativeOutcomeStep">
			<ref bean="crosspay-api-exceptionAction" />
		</property>
		<property name="positiveOutcomeStep">
			<ref local="crosspay-api-BillCountryCodeCheckRule" />
		</property>
		<property name="messageId" value="0025" />
		<property name="message" value="Billing state is empty or too long:账单州为空或过长" />
	</bean>

	<bean id="crosspay-api-BillCountryCodeCheckRule"
		class="com.pay.gateway.validate.crosspay.api.BillCountryCodeCheckRule">
		<property name="negativeOutcomeStep">
			<ref bean="crosspay-api-exceptionAction" />
		</property>
		<property name="positiveOutcomeStep">
			<ref local="crosspay-api-ShippingNameCheckRule" />
		</property>
		<property name="messageId" value="0026" />
		<property name="message" value="Billing country is empty or too long:账单国家为空或过长" />
	</bean>

	<bean id="crosspay-api-ShippingNameCheckRule"
		class="com.pay.gateway.validate.crosspay.api.ShippingNameCheckRule">
		<property name="negativeOutcomeStep">
			<ref bean="crosspay-api-exceptionAction" />
		</property>
		<property name="positiveOutcomeStep">
			<ref local="crosspay-api-ShippingAddressCheckRule" />
		</property>
		<property name="messageId" value="0027" />
		<property name="message" value="Shipping name is empty or too long:收货人姓名为空或过长" />
	</bean>

	<bean id="crosspay-api-ShippingAddressCheckRule"
		class="com.pay.gateway.validate.crosspay.api.ShippingAddressCheckRule">
		<property name="negativeOutcomeStep">
			<ref bean="crosspay-api-exceptionAction" />
		</property>
		<property name="positiveOutcomeStep">
			<ref local="crosspay-api-ShippingEmailCheckRule" />
		</property>
		<property name="messageId" value="0028" />
		<property name="message" value="Shipping address is empty or too long:收货人地址为空或过长" />
	</bean>

	<bean id="crosspay-api-ShippingEmailCheckRule"
		class="com.pay.gateway.validate.crosspay.api.ShippingMailCheckRule">
		<property name="negativeOutcomeStep">
			<ref bean="crosspay-api-exceptionAction" />
		</property>
		<property name="positiveOutcomeStep">
			<ref local="crosspay-api-ShippingPhoneNumberCheckRule" />
		</property>
		<property name="messageId" value="0029" />
		<property name="message" value="Shipping email is empty or too long:收货人邮箱为空或过长" />
	</bean>

	<bean id="crosspay-api-ShippingPhoneNumberCheckRule"
		class="com.pay.gateway.validate.crosspay.api.ShippingPhoneNumberCheckRule">
		<property name="negativeOutcomeStep">
			<ref bean="crosspay-api-exceptionAction" />
		</property>
		<property name="positiveOutcomeStep">
			<ref local="crosspay-api-ShippingPostalCodeCheckRule" />
		</property>
		<property name="messageId" value="0030" />
		<property name="message" value="Shipping telephone is empty or too long:收货人电话为空或过长" />
	</bean>
     
	<bean id="crosspay-api-ShippingPostalCodeCheckRule"
		class="com.pay.gateway.validate.crosspay.api.ShippingPostalCodeCheckRule">
		<property name="negativeOutcomeStep">
			<ref bean="crosspay-api-exceptionAction" />
		</property>
		<property name="positiveOutcomeStep">
			<ref local="crosspay-api-ShippingCityCheckRule" />
		</property>
		<property name="messageId" value="0031" />
		<property name="message" value="Shipping postcode is empty or too long:收货人邮编为空或过长" />
	</bean>
   <!--
	<bean id="crosspay-api-ShippingStreetCheckRule"
		class="com.pay.gateway.validate.crosspay.api.ShippingStreetCheckRule">
		<property name="negativeOutcomeStep">
			<ref bean="crosspay-api-exceptionAction" />
		</property>
		<property name="positiveOutcomeStep">
			<ref local="crosspay-api-ShippingCityCheckRule" />
		</property>
		<property name="messageId" value="0032" />
		<property name="message" value="收货人街道不能为空" />
	</bean>
    -->
	<bean id="crosspay-api-ShippingCityCheckRule"
		class="com.pay.gateway.validate.crosspay.api.ShippingCityCheckRule">
		<property name="negativeOutcomeStep">
			<ref bean="crosspay-api-exceptionAction" />
		</property>
		<property name="positiveOutcomeStep">
			<ref local="crosspay-api-ShippingStateCheckRule" />
		</property>
		<property name="messageId" value="0033" />
		<property name="message" value="Shipping city is empty or too long:收货人城市为空或过长" />
	</bean>

	<bean id="crosspay-api-ShippingStateCheckRule"
		class="com.pay.gateway.validate.crosspay.api.ShippingStateCheckRule">
		<property name="negativeOutcomeStep">
			<ref bean="crosspay-api-exceptionAction" />
		</property>
		<property name="positiveOutcomeStep">
			<ref local="crosspay-api-ShippingCountryCodeCheckRule" />
		</property>
		<property name="messageId" value="0034" />
		<property name="message" value="Shipping state is empty or too long:收货人州为空或过长" />
	</bean>

	<bean id="crosspay-api-ShippingCountryCodeCheckRule"
		class="com.pay.gateway.validate.crosspay.api.ShippingCountryCodeCheckRule">
		<property name="negativeOutcomeStep">
			<ref bean="crosspay-api-exceptionAction" />
		</property>
		<property name="positiveOutcomeStep">
			<ref local="crosspay-api-PayModeCheckRule" />
		</property>
		<property name="messageId" value="0035" />
		<property name="message" value="Shipping country is empty or too long:收货人国家为空或过长" />
	</bean>

	<bean id="crosspay-api-PayModeCheckRule" class="com.pay.gateway.validate.crosspay.api.PayModeCheckRule">
		<property name="negativeOutcomeStep">
			<ref bean="crosspay-api-exceptionAction" />
		</property>
		<property name="positiveOutcomeStep">
			<ref local="crosspay-api-CardHolderNumberCheckRule" />
		</property>
		<property name="messageId" value="0010" />
		<property name="message" value="The payment method is not correct:支付方式不正确" />
	</bean>

	<bean id="crosspay-api-CardHolderNumberCheckRule"
		class="com.pay.gateway.validate.crosspay.api.CardHolderNumberCheckRule">
		<property name="negativeOutcomeStep">
			<ref bean="crosspay-api-exceptionAction" />
		</property>
		<property name="positiveOutcomeStep">
			<ref local="crosspay-api-CardHolderFirstNameCheckRule" />
		</property>
		<property name="memberProductService" ref="acc-memberProductService"/>
		<property name="messageId" value="0037" />
		<property name="message" value="Invalid CardHolderNumber:非法卡号" />
	</bean>

	<bean id="crosspay-api-CardHolderFirstNameCheckRule"
		class="com.pay.gateway.validate.crosspay.api.CardHolderFirstNameCheckRule">
		<property name="negativeOutcomeStep">
			<ref bean="crosspay-api-exceptionAction" />
		</property>
		<property name="positiveOutcomeStep">
			<ref local="crosspay-api-CardHolderLastNameCheckRule" />
		</property>
		<property name="messageId" value="0038" />
		<property name="message" value="Cardholder's first name is empty or too long:持卡人名为空或过长" />
	</bean>

	<bean id="crosspay-api-CardHolderLastNameCheckRule"
		class="com.pay.gateway.validate.crosspay.api.CardHolderLastNameCheckRule">
		<property name="negativeOutcomeStep">
			<ref bean="crosspay-api-exceptionAction" />
		</property>
		<property name="positiveOutcomeStep">
			<ref local="crosspay-api-CardExpirationMonthCheckRule" />
		</property>
		<property name="messageId" value="0039" />
		<property name="message" value="Cardholder's last name cannot be empty or too long:持卡人名为空或过长" />
	</bean>

	<bean id="crosspay-api-CardExpirationMonthCheckRule"
		class="com.pay.gateway.validate.crosspay.api.CardExpirationMonthCheckRule">
		<property name="negativeOutcomeStep">
			<ref bean="crosspay-api-exceptionAction" />
		</property>
		<property name="positiveOutcomeStep">
			<ref local="crosspay-api-CardExpirationYearCheckRule" />
		</property>
		<property name="messageId" value="0040" />
		<property name="message" value="Month validity is empty or too long:持卡人卡片有效月为空或不正确" />
	</bean>

	<bean id="crosspay-api-CardExpirationYearCheckRule"
		class="com.pay.gateway.validate.crosspay.api.CardExpirationYearCheckRule">
		<property name="negativeOutcomeStep">
			<ref bean="crosspay-api-exceptionAction" />
		</property>
		<property name="positiveOutcomeStep">
			<ref local="crosspay-api-SecurityCodeCheckRule" />
		</property>
		<property name="messageId" value="0041" />
		<property name="message" value="Year validity is empty or wrong.Please input the last two digits of year:持卡人卡片有效年为空或输入不正确、正确输入为年的后2位" />
	</bean>

	<bean id="crosspay-api-SecurityCodeCheckRule"
		class="com.pay.gateway.validate.crosspay.api.SecurityCodeCheckRule">
		<property name="negativeOutcomeStep">
			<ref bean="crosspay-api-exceptionAction" />
		</property>
		<property name="positiveOutcomeStep">
			<ref local="crosspay-api-CardHolderEmailCheckRule" />
		</property>
		<property name="messageId" value="0042" />
		<property name="message" value="Paramter securityCode of is empty or wrong:持卡人卡片安全码为空或格式不正确" />
	</bean>

	<bean id="crosspay-api-CardHolderEmailCheckRule"
		class="com.pay.gateway.validate.crosspay.api.CardHolderEmailCheckRule">
		<property name="negativeOutcomeStep">
			<ref bean="crosspay-api-exceptionAction" />
		</property>
		<property name="positiveOutcomeStep">
			<ref local="crosspay-api-charsetCheckRule" />
		</property>
		<property name="messageId" value="0043" />
		<property name="message" value="Paramter cardHolderEmail is empty or wrong:持卡人邮箱不能为空或格式不正确" />
	</bean>
   
	<bean id="crosspay-api-charsetCheckRule" class="com.pay.gateway.validate.crosspay.api.CharsetCheckRule">
		<property name="negativeOutcomeStep">
			<ref bean="crosspay-api-exceptionAction" />
		</property>
		<property name="positiveOutcomeStep">
			<ref local="crosspay-api-signTypeCheckRule" />
		</property>
		<property name="messageId" value="0046" />
		<property name="message" value="Character encoding is wrong:编码方式不正确" />
	</bean>

	<bean id="crosspay-api-signTypeCheckRule" class="com.pay.gateway.validate.crosspay.api.SignTypeCheckRule">
		<property name="negativeOutcomeStep">
			<ref bean="crosspay-api-exceptionAction" />
		</property>
		<property name="positiveOutcomeStep">
			<ref local="crosspay-api-crosspayAcquireApiSignMsgCheckRule" />
		</property>
		<property name="messageId" value="0047" />
		<property name="message" value="Signature type is wrong:签名类型不正确" />
	</bean>

	<bean id="crosspay-api-crosspayAcquireApiSignMsgCheckRule"
		class="com.pay.gateway.validate.crosspay.api.CrosspayAcquireApiSignMsgCheckRule">
		<property name="negativeOutcomeStep">
			<ref bean="crosspay-api-exceptionAction" />
		</property>
		<property name="positiveOutcomeStep">
			<ref local="crosspay-api-orderRepeatCheckRule" />
		</property>
		<property name="txncoreClientService" ref="txncoreClientService" />
		<property name="tradeDataSingnatureService" ref="tradeDataSingnatureService" />
		<property name="messageId" value="0048" />
		<property name="message" value="Signature verification fails:签名校验不通过" />
	</bean>

	<bean id="crosspay-api-orderRepeatCheckRule"
		class="com.pay.gateway.validate.crosspay.api.OrderRepeatCheckRule">
		<property name="txncoreClientService" ref="txncoreClientService" />
		<property name="negativeOutcomeStep">
			<ref bean="crosspay-api-exceptionAction" />
		</property>
		<property name="positiveOutcomeStep">
			<ref local="crosspay-api-MerchantChannelCheckRule" />
		</property>
		<property name="messageId" value="0049" />
		<property name="message" value="Repeated transaction number:订单号重复" />
	</bean>

	<bean id="crosspay-api-MerchantChannelCheckRule"
		class="com.pay.gateway.validate.crosspay.api.MerchantChannelCheckRule">
		<property name="negativeOutcomeStep">
			<ref bean="crosspay-api-exceptionAction" />
		</property>
		<property name="positiveOutcomeStep">
			<ref local="crosspay-api-MerchantSettlementCheckRule" />
		</property>
		<property name="memberService" ref="acc-memberService" />
		<property name="channelClientService" ref="channelClientService" />
		<property name="messageId" value="0050" />
		<property name="message" value="No avalible channel for the merchant:商户无可用渠道" />
	</bean>
	
	<bean id="crosspay-api-MerchantSettlementCheckRule"
		class="com.pay.gateway.validate.crosspay.api.MerchantSettlementCheckRule">
		<property name="negativeOutcomeStep">
			<ref bean="crosspay-api-exceptionAction" />
		</property>
		<property name="positiveOutcomeStep">
			<ref local="crosspay-api-gatewayRequestSaveAction" />
		</property>
		<property name="enterpriseBaseService" ref="acc-enterpriseBaseService" />
		<property name="messageId" value="0051" />
		<property name="message" value="No merchant settlement info:商户未配置结算信息" />
	</bean>
	
	<bean id="crosspay-api-gatewayRequestSaveAction"
		class="com.pay.gateway.validate.crosspay.api.GatewayRequestSaveAction">
		<property name="gatewayRequestService" ref="gatewayRequestService" />
		<property name="nextStep">
			<ref bean="stopExecuteAction" />
		</property>
	</bean>

	<bean id="crosspay-api-exceptionAction" class="com.pay.gateway.validate.crosspay.api.ExceptionAction">
		<property name="tradeDataSingnatureService" ref="tradeDataSingnatureService" />
		<property name="nextStep">
			<ref bean="stopExecuteAction" />
		</property>
	</bean>

</beans>