<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jms="http://www.springframework.org/schema/jms"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
            http://www.springframework.org/schema/context
            http://www.springframework.org/schema/context/spring-context-2.5.xsd
            http://www.springframework.org/schema/jms http://www.springframework.org/schema/jms/spring-jms-2.5.xsd">
   
    <!--预授权申请航旅类校验 -->
	<bean id="preauthAirHotValidateService" class="com.pay.inf.service.impl.ValidateServiceImpl">
		<property name="ruleEngine" ref="preauth-airhot-acquireRule" />
	</bean>

	<bean id="preauth-airhot-acquireRule" class="com.pay.inf.rule.RuleEngine">
		<property name="firstStep">
			<ref bean="preauth-airhot-versionCheckRule" />
		</property>
	</bean>

	<bean id="preauth-airhot-versionCheckRule" class="com.pay.gateway.validate.preauth.VersionCheckRule">
		<property name="negativeOutcomeStep">
			<ref bean="preauth-airhot-exceptionAction" />
		</property>
		<property name="positiveOutcomeStep">
			<ref local="preauth-airhot-partnerIdCheckRule" />
		</property>
		<property name="messageId" value="0002" />
		<property name="message" value="The version number is not correct:版本号不正确" />
	</bean>
	
    <bean id="preauth-airhot-partnerIdCheckRule"
		class="com.pay.gateway.validate.preauth.PartnerIdCheckRule">
		<property name="negativeOutcomeStep">
			<ref bean="preauth-airhot-exceptionAction" />
		</property>
		<property name="positiveOutcomeStep">
			<ref local="preauth-airhot-mccCheckRule" />
		</property>
		<property name="messageId" value="0067" />
		<property name="memberService" ref="acc-memberService" />
		<property name="message" value="Merchant(partner ID) is empty or wrong:会员号为空或不正确" />
	</bean>
	
	<bean id="preauth-airhot-mccCheckRule" class="com.pay.gateway.validate.preauth.MccCheckRule">
		<property name="negativeOutcomeStep">
			<ref bean="preauth-airhot-exceptionAction" />
		</property>
		<property name="positiveOutcomeStep">
			<ref local="preauth-airhot-orderIdCheckRule" />
		</property>
		<property name="messageId" value="0055" />
		<property name="message" value="Invalid MCC:MCC不合法" />
	</bean>

	<bean id="preauth-airhot-orderIdCheckRule" class="com.pay.gateway.validate.preauth.OrderIdCheckRule">
		<property name="negativeOutcomeStep">
			<ref bean="preauth-airhot-exceptionAction" />
		</property>
		<property name="positiveOutcomeStep">
			<ref local="preauth-airhot-goodsNameCheckRule" />
		</property>
		<property name="messageId" value="0003" />
		<property name="message" value="Invalid order number:订单号不合法" />
	</bean>

	<bean id="preauth-airhot-goodsNameCheckRule"
		class="com.pay.gateway.validate.preauth.GoodsNameCheckRule">
		<property name="negativeOutcomeStep">
			<ref bean="preauth-airhot-exceptionAction" />
		</property>
		<property name="positiveOutcomeStep">
			<ref local="preauth-airhot-goodsDescCheckRule" />
		</property>
		<property name="messageId" value="0004" />
		<property name="message" value="Goods name is empty or too long:商品名称为空或过长" />
	</bean>

	<bean id="preauth-airhot-goodsDescCheckRule"
		class="com.pay.gateway.validate.preauth.GoodsDescCheckRule">
		<property name="negativeOutcomeStep">
			<ref bean="preauth-airhot-exceptionAction" />
		</property>
		<property name="positiveOutcomeStep">
			<ref local="preauth-airhot-submitTimeCheckRule" />
		</property>
		<property name="messageId" value="0005" />
		<property name="message" value="Goods description is empty or too long:商品描述为空或过长" />
	</bean>

	<bean id="preauth-airhot-submitTimeCheckRule"
		class="com.pay.gateway.validate.preauth.SubmitTimeCheckRule">
		<property name="negativeOutcomeStep">
			<ref bean="preauth-airhot-exceptionAction" />
		</property>
		<property name="positiveOutcomeStep">
			<ref local="preauth-airhot-siteIdCheckRule" />
		</property>
		<property name="messageId" value="0006" />
		<property name="message" value="Order submission time is wrong:订单提交时间不正确" />
	</bean>

	<bean id="preauth-airhot-siteIdCheckRule" class="com.pay.gateway.validate.preauth.SiteIdCheckRule">
		<property name="negativeOutcomeStep">
			<ref bean="preauth-airhot-exceptionAction" />
		</property>
		<property name="positiveOutcomeStep">
			<ref local="preauth-airhot-orderAmountCheckRule" />
		</property>
		<property name="txncoreClientService" ref="txncoreClientService" />
		<property name="messageId" value="0007" />
		<property name="message" value="Unauthorized domain names:未授权的域名" />
	</bean>

	<bean id="preauth-airhot-orderAmountCheckRule"
		class="com.pay.gateway.validate.preauth.OrderAmountCheckRule">
		<property name="negativeOutcomeStep">
			<ref bean="preauth-airhot-exceptionAction" />
		</property>
		<property name="positiveOutcomeStep">
			<ref local="preauth-airhot-typeCheckRule" />
		</property>
		<property name="messageId" value="0008" />
		<property name="message" value="Invalid Order Amount:订单金额不正确" />
	</bean>

	<bean id="preauth-airhot-typeCheckRule"
		class="com.pay.gateway.validate.preauth.TradeTypeCheckRule">
		<property name="negativeOutcomeStep">
			<ref bean="preauth-airhot-exceptionAction" />
		</property>
		<property name="positiveOutcomeStep">
			<ref local="preauth-airhot-currencyCodeCheckRule" />
		</property>
		<property name="messageId" value="0009" />
		<property name="message" value="Unauthorized trade type:未授权交易类型" />
	</bean>

	<bean id="preauth-airhot-currencyCodeCheckRule"
		class="com.pay.gateway.validate.preauth.CurrencyCodeCheckRule">
		<property name="negativeOutcomeStep">
			<ref bean="preauth-airhot-exceptionAction" />
		</property>
		<property name="positiveOutcomeStep">
			<ref local="preauth-airhot-customerIPCheckRule" />
		</property>
		<property name="messageId" value="0011" />
		<property name="message" value="Invalid transaction currency:交易币种不正确" />
	</bean>
	
	 <bean id="preauth-airhot-customerIPCheckRule"
		class="com.pay.gateway.validate.preauth.CustomerIPCheckRule">
		<property name="negativeOutcomeStep">
			<ref bean="preauth-airhot-cashier-exceptionAction" />
		</property>
		<property name="positiveOutcomeStep">
			<ref local="preauth-airhot-payTypeCheckRule" />
		</property>
		<property name="messageId" value="0066" />
		<property name="message" value="Public IP of customer is empty or wrong:客户下单IP为空或不正确" />
	</bean>

    <bean id="preauth-airhot-payTypeCheckRule"
		class="com.pay.gateway.validate.preauth.PayTypeCheckRule">
		<property name="negativeOutcomeStep">
			<ref bean="stopExecuteAction" />
		</property>
		<property name="positiveOutcomeStep">
			<ref local="preauth-airhot-dccProductCheckRule" />
		</property>
		<property name="messageId" value="0010" />
		<property name="message" value="Invalid payment type:支付方式不正确" />
	</bean>
	
	<bean id="preauth-airhot-dccProductCheckRule"
		class="com.pay.gateway.validate.preauth.DCCProductCheckRule">
		<property name="negativeOutcomeStep">
			<ref bean="stopExecuteAction" />
		</property>
		<property name="positiveOutcomeStep">
			<ref local="preauth-airhot-settlementCurrencyCodeCheckRule" />
		</property>
		<property name="memberProductService" ref="acc-memberBaseProductService"/>
		<property name="messageId" value="0011" />
		<property name="message" value="Invalid transaction currency:交易币种不正确" />
	</bean>

	<bean id="preauth-airhot-settlementCurrencyCodeCheckRule"
		class="com.pay.gateway.validate.preauth.SettlementCurrencyCodeCheckRule">
		<property name="negativeOutcomeStep">
			<ref bean="preauth-airhot-exceptionAction" />
		</property>
		<property name="positiveOutcomeStep">
			<ref local="preauth-airhot-borrowingMarkedCheckRule" />
		</property>
		<property name="messageId" value="0012" />
		<property name="message" value="Invalid settlement currency:结算币种不正确" />
	</bean>

	<bean id="preauth-airhot-borrowingMarkedCheckRule"
		class="com.pay.gateway.validate.preauth.BorrowingMarkedCheckRule">
		<property name="negativeOutcomeStep">
			<ref bean="preauth-airhot-exceptionAction" />
		</property>
		<property name="positiveOutcomeStep">
			<ref local="preauth-airhot-noticeUrlCheckRule" />
		</property>
		<property name="messageId" value="0013" />
		<property name="message" value="Invalid value for paramter borrowingMarked:资金来源借贷标识不正确" />
	</bean>

	<bean id="preauth-airhot-noticeUrlCheckRule"
		class="com.pay.gateway.validate.preauth.NoticeUrlCheckRule">
		<property name="negativeOutcomeStep">
			<ref bean="preauth-airhot-exceptionAction" />
		</property>
		<property name="positiveOutcomeStep">
			<ref local="preauth-airhot-merchantConfigureCheckRule" />
		</property>
		<property name="messageId" value="0014" />
		<property name="message" value="Invalid merchant notice URL:商户通知地址不正确" />
	</bean>

	<bean id="preauth-airhot-merchantStatusCheckRule"
		class="com.pay.gateway.validate.preauth.MerchantStatusCheckRule">
		<property name="negativeOutcomeStep">
			<ref bean="preauth-airhot-exceptionAction" />
		</property>
		<property name="positiveOutcomeStep">
			<ref local="preauth-airhot-merchantConfigureCheckRule" />
		</property>
		<property name="memberService" ref="acc-memberService" />
		<property name="messageId" value="0015" />
		<property name="message" value="Abnormal merchant status:商户状态异常" />
	</bean>

	<bean id="preauth-airhot-merchantConfigureCheckRule"
		class="com.pay.gateway.validate.preauth.MerchantConfigureCheckRule">
		<property name="txncoreClientService" ref="txncoreClientService" />
		<property name="negativeOutcomeStep">
			<ref bean="preauth-airhot-exceptionAction" />
		</property>
		<property name="positiveOutcomeStep">
			<ref local="preauth-airhot-merchantAcctCheckRule" />
		</property>
		<property name="messageId" value="0016" />
		<property name="message" value="Unauthorized merchant:未授权限的商户" />
	</bean>

	<bean id="preauth-airhot-merchantAcctCheckRule"
		class="com.pay.gateway.validate.preauth.MerchantAcctCheckRule">
		<property name="accountQueryService" ref="acc-accountQueryService" />
		<property name="negativeOutcomeStep">
			<ref bean="preauth-airhot-exceptionAction" />
		</property>
		<property name="positiveOutcomeStep">
			<ref local="preauth-airhot-billFirstNameCheckRule" />
		</property>
		<property name="messageId" value="0017" />
		<property name="message" value="Abnormal merchant account status:商户账户状态异常" />
	</bean>
	
   	<bean id="preauth-airhot-billFirstNameCheckRule" class="com.pay.gateway.validate.preauth.BillFirstNameCheckRule">
		<property name="negativeOutcomeStep">
			<ref bean="crosspay-exceptionAction" />
		</property>
		<property name="positiveOutcomeStep">
			<ref local="preauth-airhot-billLastNameCheckRule" />
		</property>
		<property name="messageId" value="0018" />
		<property name="message" value="Billing first name is empty or too long:账单名为空或过长" />
	</bean>
	
	<bean id="preauth-airhot-billLastNameCheckRule" class="com.pay.gateway.validate.preauth.BillLastNameCheckRule">
		<property name="negativeOutcomeStep">
			<ref bean="crosspay-exceptionAction" />
		</property>
		<property name="positiveOutcomeStep">
			<ref local="preauth-airhot-BillAddressCheckRule" />
		</property>
		<property name="messageId" value="0018" />
		<property name="message" value="Billing first name is empty or too long:账单名为空或过长" />
	</bean>

	<bean id="preauth-airhot-BillAddressCheckRule"
		class="com.pay.gateway.validate.preauth.BillAddressCheckRule">
		<property name="negativeOutcomeStep">
			<ref bean="crosspay-exceptionAction" />
		</property>
		<property name="positiveOutcomeStep">
			<ref local="preauth-airhot-BillEmailCheckRule" />
		</property>
		<property name="messageId" value="0018" />
		<property name="message" value="Billing last name is empty or too long:账单姓为空或过长" />
	</bean>

	<bean id="preauth-airhot-BillEmailCheckRule"
		class="com.pay.gateway.validate.preauth.BillEmailCheckRule">
		<property name="negativeOutcomeStep">
			<ref bean="crosspay-exceptionAction" />
		</property>
		<property name="positiveOutcomeStep">
			<ref local="preauth-airhot-BillPhoneNumberCheckRule" />
		</property>
		<property name="messageId" value="0020" />
		<property name="message" value="Billing email is empty or too long:账单邮箱为空或过长" />
	</bean>

	<bean id="preauth-airhot-BillPhoneNumberCheckRule"
		class="com.pay.gateway.validate.preauth.BillPhoneNumberCheckRule">
		<property name="negativeOutcomeStep">
			<ref bean="crosspay-exceptionAction" />
		</property>
		<property name="positiveOutcomeStep">
			<ref local="preauth-airhot-BillPostalCodeCheckRule" />
		</property>
		<property name="messageId" value="0021" />
		<property name="message" value="Billing telephone is empty or too long:账单电话为空或过长" />
	</bean>

	<bean id="preauth-airhot-BillPostalCodeCheckRule"
		class="com.pay.gateway.validate.preauth.BillPostalCodeCheckRule">
		<property name="negativeOutcomeStep">
			<ref bean="crosspay-exceptionAction" />
		</property>
		<property name="positiveOutcomeStep">
			<ref local="preauth-airhot-BillCityCheckRule" />
		</property>
		<property name="messageId" value="0022" />
		<property name="message" value="Billing postcode is empty or too long:账单邮编为空或过长" />
	</bean>

	<bean id="preauth-airhot-BillCityCheckRule" class="com.pay.gateway.validate.preauth.BillCityCheckRule">
		<property name="negativeOutcomeStep">
			<ref bean="crosspay-exceptionAction" />
		</property>
		<property name="positiveOutcomeStep">
			<ref local="preauth-airhot-BillStateCheckRule" />
		</property>
		<property name="messageId" value="0024" />
		<property name="message" value="Billing city is empty or too long:账单城市为空或过长" />
	</bean>

	<bean id="preauth-airhot-BillStateCheckRule"
		class="com.pay.gateway.validate.preauth.BillStateCheckRule">
		<property name="negativeOutcomeStep">
			<ref bean="crosspay-exceptionAction" />
		</property>
		<property name="positiveOutcomeStep">
			<ref local="preauth-airhot-BillCountryCodeCheckRule" />
		</property>
		<property name="messageId" value="0025" />
		<property name="message" value="Billing state is empty or too long:账单州为空或过长" />
	</bean>

	<bean id="preauth-airhot-BillCountryCodeCheckRule"
		class="com.pay.gateway.validate.preauth.BillCountryCodeCheckRule">
		<property name="negativeOutcomeStep">
			<ref bean="crosspay-exceptionAction" />
		</property>
		<property name="positiveOutcomeStep">
			<ref local="preauth-airhot-PayModeCheckRule" />
		</property>
		<property name="messageId" value="0026" />
		<property name="message" value="Invalid BillCountryCode:账单国家码不正确" />
	</bean>


	<bean id="preauth-airhot-PayModeCheckRule" class="com.pay.gateway.validate.preauth.PayModeCheckRule">
		<property name="negativeOutcomeStep">
			<ref bean="preauth-airhot-exceptionAction" />
		</property>
		<property name="positiveOutcomeStep">
			<ref local="preauth-airhot-CardHolderNumberCheckRule" />
		</property>
		<property name="messageId" value="0036" />
		<property name="message" value="The payment method is empty or too long:支付方式为空或过长"/>
	</bean>

	<bean id="preauth-airhot-CardHolderNumberCheckRule"
		class="com.pay.gateway.validate.preauth.CardHolderNumberCheckRule">
		<property name="negativeOutcomeStep">
			<ref bean="preauth-airhot-exceptionAction" />
		</property>
		<property name="positiveOutcomeStep">
			<ref local="preauth-airhot-CardHolderFirstNameCheckRule" />
		</property>
		<property name="memberProductService" ref="acc-memberProductService"/>
		<property name="messageId" value="0037" />
		<property name="message" value="CardHolderNumber is empty or too long:持卡人卡号为空或过长" />
	</bean>

	<bean id="preauth-airhot-CardHolderFirstNameCheckRule"
		class="com.pay.gateway.validate.preauth.CardHolderFirstNameCheckRule">
		<property name="negativeOutcomeStep">
			<ref bean="preauth-airhot-exceptionAction" />
		</property>
		<property name="positiveOutcomeStep">
			<ref local="preauth-airhot-CardHolderLastNameCheckRule" />
		</property>
		<property name="messageId" value="0038" />
		<property name="message" value="Cardholder's first name is empty or too long:持卡人名为空或过长" />
	</bean>

	<bean id="preauth-airhot-CardHolderLastNameCheckRule"
		class="com.pay.gateway.validate.preauth.CardHolderLastNameCheckRule">
		<property name="negativeOutcomeStep">
			<ref bean="preauth-airhot-exceptionAction" />
		</property>
		<property name="positiveOutcomeStep">
			<ref local="preauth-airhot-CardExpirationMonthCheckRule" />
		</property>
		<property name="messageId" value="0038" />
		<property name="message" value="Cardholder's last name is empty or too long:持卡人姓为空或过长" />
	</bean>

	<bean id="preauth-airhot-CardExpirationMonthCheckRule"
		class="com.pay.gateway.validate.preauth.CardExpirationMonthCheckRule">
		<property name="negativeOutcomeStep">
			<ref bean="preauth-airhot-exceptionAction" />
		</property>
		<property name="positiveOutcomeStep">
			<ref local="preauth-airhot-CardExpirationYearCheckRule" />
		</property>
		<property name="messageId" value="0040" />
		<property name="message" value="Month validity is empty or too long:持卡人卡片有效月为空或不正确" />
	</bean>

	<bean id="preauth-airhot-CardExpirationYearCheckRule"
		class="com.pay.gateway.validate.preauth.CardExpirationYearCheckRule">
		<property name="negativeOutcomeStep">
			<ref bean="preauth-airhot-exceptionAction" />
		</property>
		<property name="positiveOutcomeStep">
			<ref local="preauth-airhot-SecurityCodeCheckRule" />
		</property>
		<property name="messageId" value="0041" />
		<property name="message" value="Year validity is empty or wrong.Please input the last two digits of year:持卡人卡片有效年为空或输入不正确、正确输入为年的后2位" />
	</bean>

	<bean id="preauth-airhot-SecurityCodeCheckRule"
		class="com.pay.gateway.validate.preauth.SecurityCodeCheckRule">
		<property name="negativeOutcomeStep">
			<ref bean="preauth-airhot-exceptionAction" />
		</property>
		<property name="positiveOutcomeStep">
			<ref local="preauth-airhot-CardHolderEmailCheckRule" />
		</property>
		<property name="messageId" value="0042" />
		<property name="message" value="Paramter securityCode of is empty or wrong:持卡人卡片安全码为空或格式不正确" />
	</bean>

	<bean id="preauth-airhot-CardHolderEmailCheckRule"
		class="com.pay.gateway.validate.preauth.CardHolderEmailCheckRule">
		<property name="negativeOutcomeStep">
			<ref bean="preauth-airhot-exceptionAction" />
		</property>
		<property name="positiveOutcomeStep">
			<ref local="preauth-airhot-remarkCheckRule" />
		</property>
		<property name="messageId" value="0043" />
		<property name="message" value="Paramter cardHolderEmail is empty or wrong:持卡人邮箱不能为空或格式不正确" />
	</bean>
	
	<bean id="preauth-airhot-remarkCheckRule"	class="com.pay.gateway.validate.preauth.RemarkCheckRule">
		<property name="negativeOutcomeStep">
			<ref bean="preauth-airhot-exceptionAction" />
		</property>
		<property name="positiveOutcomeStep">
			<ref local="preauth-airhot-charsetCheckRule" />
		</property>
		<property name="messageId" value="0088" />
		<property name="message" value="Invalid remark:备注信息不正确" />
	</bean>

	<bean id="preauth-airhot-charsetCheckRule" class="com.pay.gateway.validate.preauth.CharsetCheckRule">
		<property name="negativeOutcomeStep">
			<ref bean="preauth-airhot-exceptionAction" />
		</property>
		<property name="positiveOutcomeStep">
			<ref local="preauth-airhot-signTypeCheckRule" />
		</property>
		<property name="messageId" value="0046" />
		<property name="message" value="Character encoding is wrong:编码方式不正确" />
	</bean>

	<bean id="preauth-airhot-signTypeCheckRule" class="com.pay.gateway.validate.preauth.SignTypeCheckRule">
		<property name="negativeOutcomeStep">
			<ref bean="preauth-airhot-exceptionAction" />
		</property>
		<property name="positiveOutcomeStep">
			<ref local="preauth-airhot-returnUrlCheckRule" />
		</property>
		<property name="messageId" value="0047" />
		<property name="message" value="Signature type is wrong:签名类型不正确" />
	</bean>
	
	<bean id="preauth-airhot-returnUrlCheckRule"
		class="com.pay.gateway.validate.preauth.ReturnUrlCheckRule">
		<property name="negativeOutcomeStep">
			<ref bean="crosspay-exceptionAction" />
		</property>
		<property name="positiveOutcomeStep">
			<ref local="preauth-airhot-crosspayAcquireApiSignMsgCheckRule" />
		</property>
		<property name="messageId" value="0069" />
		<property name="message" value="Merchant return URL is empty or too long:商户回调地址为空或过长" />
	</bean>

	<bean id="preauth-airhot-crosspayAcquireApiSignMsgCheckRule"
		class="com.pay.gateway.validate.preauth.CrosspayAcquireApiSignMsgCheckRule">
		<property name="negativeOutcomeStep">
			<ref bean="preauth-airhot-exceptionAction" />
		</property>
		<property name="positiveOutcomeStep">
			<ref local="preauth-airhot-orderRepeatCheckRule" />
		</property>
		<property name="txncoreClientService" ref="txncoreClientService" />
		<property name="tradeDataSingnatureService" ref="tradeDataSingnatureService" />
		<property name="messageId" value="0048" />
		<property name="message" value="Signature verification fails:签名校验不通过" />
	</bean>

	<bean id="preauth-airhot-orderRepeatCheckRule"
		class="com.pay.gateway.validate.preauth.OrderRepeatCheckRule">
		<property name="txncoreClientService" ref="txncoreClientService" />
		<property name="negativeOutcomeStep">
			<ref bean="preauth-airhot-exceptionAction" />
		</property>
		<property name="positiveOutcomeStep">
			<ref local="preauth-airhot-MerchantChannelCheckRule" />
		</property>
		<property name="messageId" value="0049" />
		<property name="message" value="Repeated transaction number:订单号重复" />
	</bean>

	<bean id="preauth-airhot-MerchantChannelCheckRule"
		class="com.pay.gateway.validate.preauth.MerchantChannelCheckRule">
		<property name="negativeOutcomeStep">
			<ref bean="preauth-airhot-exceptionAction" />
		</property>
		<property name="positiveOutcomeStep">
			<ref local="preauth-airhot-MerchantSettlementCheckRule" />
		</property>
		<property name="memberService" ref="acc-memberService" />
		<property name="channelClientService" ref="channelClientService" />
		<property name="messageId" value="0050" />
		<property name="message" value="No avalible channel for the merchant:商户无可用渠道" />
	</bean>
	
	<bean id="preauth-airhot-MerchantSettlementCheckRule"
		class="com.pay.gateway.validate.preauth.MerchantSettlementCheckRule">
		<property name="negativeOutcomeStep">
			<ref bean="preauth-airhot-exceptionAction" />
		</property>
		<property name="positiveOutcomeStep">
			<ref local="preauth-airhot-deviceFingerPrintIdCheckRule" />
		</property>
		<property name="enterpriseBaseService" ref="acc-enterpriseBaseService" />
		<property name="messageId" value="0051" />
		<property name="message" value="No merchant settlement info:商户未配置结算信息" />
	</bean>
	
	
	
	<bean id="preauth-airhot-deviceFingerPrintIdCheckRule"
		class="com.pay.gateway.validate.preauth.DeviceFingerPrintIdCheckRule">
		<property name="negativeOutcomeStep">
			<ref bean="crosspay-exceptionAction" />
		</property>
		<property name="positiveOutcomeStep">
			<ref local="preauth-airhot-directFlagCheckRule" />
		</property>
		<property name="messageId" value="0068" />
		<property name="message" value="DeviceFingerprintId is empty or too long:设备指纹ID为空或过长" />
	</bean>
	
	<bean id="preauth-airhot-directFlagCheckRule"
		class="com.pay.gateway.validate.preauth.DirectFlagCheckRule">
		<property name="negativeOutcomeStep">
			<ref bean="crosspay-exceptionAction" />
		</property>
		<property name="positiveOutcomeStep">
			<ref local="preauth-airhot-travDetailsSizeCheckRule" />
		</property>
		<property name="messageId" value="0054" />
		<property name="message" value="Parameter directFlag is empty:是否直连为空" />
	</bean>
	
	<bean id="preauth-airhot-travDetailsSizeCheckRule"
		class="com.pay.gateway.validate.preauth.TravDetailsSizeCheckRule">
		<property name="negativeOutcomeStep">
			<ref bean="crosspay-exceptionAction" />
		</property>
		<property name="positiveOutcomeStep">
			<ref local="preauth-airhot-travDetailsCheckRule" />
		</property>
		<property name="messageId" value="0056" />
		<property name="message" value="Length of the travDetail is empty or too long: 旅客集长度为空或过长" />
	</bean>
	
	<bean id="preauth-airhot-travDetailsCheckRule"
		class="com.pay.gateway.validate.preauth.TravDetailsCheckRule">
		<property name="negativeOutcomeStep">
			<ref bean="crosspay-exceptionAction" />
		</property>
		<property name="positiveOutcomeStep">
			<ref local="preauth-airhot-languageCheckRule" />
		</property>
		<property name="messageId" value="0057" />
		<property name="message" value="travDetail is empyt or too long: 旅客信息集为空或过长" />
	</bean>
	
	
	<bean id="preauth-airhot-languageCheckRule"
		class="com.pay.gateway.validate.preauth.LanguageCheckRule">
		<property name="negativeOutcomeStep">
			<ref bean="crosspay-exceptionAction" />
		</property>
		<property name="positiveOutcomeStep">
			<ref local="preauth-airhot-cardLimitCheckRule" />
		</property>
		<property name="messageId" value="0058" />
		<property name="message" value="Wrong display Language:显示语言不正确" />
	</bean>
	<bean id="preauth-airhot-cardLimitCheckRule"
		class="com.pay.gateway.validate.preauth.CardLimitCheckRule">
		<property name="negativeOutcomeStep">
			<ref bean="crosspay-exceptionAction" />
		</property>
		<property name="positiveOutcomeStep">
			<ref local="preauth-airhot-ShippingPostalCodeCheckRule" />
		</property>
		<property name="messageId" value="0059" />
		<property name="message" value="Wrong card limit type:支付卡种限制不正确" />
	</bean>
	
	<bean id="preauth-airhot-ShippingPostalCodeCheckRule"
		class="com.pay.gateway.validate.preauth.ShippingPostalCodeCheckRule">
		<property name="negativeOutcomeStep">
			<ref bean="crosspay-exceptionAction" />
		</property>
		<property name="positiveOutcomeStep">
			<ref local="preauth-airhot-orderTerminalCheckRule" />
		</property>
		<property name="messageId" value="0031" />
		<property name="message" value="Shipping postcode is empty or too long:收货人邮编为空或过长" />
	</bean>
	
	<bean id="preauth-airhot-orderTerminalCheckRule"
		class="com.pay.gateway.validate.preauth.OrderTerminalCheckRule">
		<property name="negativeOutcomeStep">
			<ref bean="crosspay-exceptionAction" />
		</property>
		<property name="positiveOutcomeStep">
			<ref local="preauth-airhot-gatewayRequestSaveAction" />
		</property>
		<property name="messageId" value="0045" />
		<property name="message" value="Paramter orderTerminal is empty or too long:终端设备标识为空或过长" />
	</bean>
	
	<bean id="preauth-airhot-gatewayRequestSaveAction"
		class="com.pay.gateway.validate.preauth.GatewayRequestSaveAction">
		<property name="gatewayRequestService" ref="gatewayRequestService" />
		<property name="nextStep">
			<ref bean="stopExecuteAction" />
		</property>
	</bean>

	<bean id="preauth-airhot-exceptionAction" class="com.pay.gateway.validate.preauth.ExceptionAction">
		<property name="tradeDataSingnatureService" ref="tradeDataSingnatureService" />
		<property name="nextStep">
			<ref bean="stopExecuteAction" />
		</property>
	</bean>

</beans>