<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jms="http://www.springframework.org/schema/jms"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
            http://www.springframework.org/schema/context
            http://www.springframework.org/schema/context/spring-context-2.5.xsd
            http://www.springframework.org/schema/jms http://www.springframework.org/schema/jms/spring-jms-2.5.xsd">

	<bean id="chinaLocalPayValidateService" class="com.pay.inf.service.impl.ValidateServiceImpl">
		<property name="ruleEngine" ref="localpay-china-acquireRule" />
	</bean>

	<bean id="localpay-china-acquireRule" class="com.pay.inf.rule.RuleEngine">
		<property name="firstStep">
			<ref bean="localpay-china-versionCheckRule" />
		</property>
	</bean>

	<bean id="localpay-china-versionCheckRule" class="com.pay.gateway.validate.localpay.china.VersionCheckRule">
		<property name="negativeOutcomeStep">
			<ref bean="localpay-china-exceptionAction" />
		</property>
		<property name="positiveOutcomeStep">
			<ref local="localpay-china-partnerIdCheckRule" />
		</property>
		<property name="messageId" value="0002" />
		<property name="message" value="The version number is not correct:版本号不正确" />
	</bean>
	
	<bean id="localpay-china-partnerIdCheckRule"
		class="com.pay.gateway.validate.localpay.china.PartnerIdCheckRule">
		<property name="negativeOutcomeStep">
			<ref bean="localpay-china-exceptionAction" />
		</property>
		<property name="positiveOutcomeStep">
			<ref local="localpay-china-mccCheckRule" />
		</property>
		<property name="messageId" value="0067" />
		<property name="memberService" ref="acc-memberService" />
		<property name="message" value="Merchant(partner ID) is empty or wrong:会员号为空或不正确" />
	</bean>
	
	<bean id="localpay-china-mccCheckRule" class="com.pay.gateway.validate.localpay.china.MccCheckRule">
		<property name="negativeOutcomeStep">
			<ref bean="localpay-china-exceptionAction" />
		</property>
		<property name="positiveOutcomeStep">
			<ref local="localpay-china-orderIdCheckRule" />
		</property>
		<property name="messageId" value="0055" />
		<property name="message" value="Invalid MCC:MCC不合法" />
	</bean>

	<bean id="localpay-china-orderIdCheckRule" class="com.pay.gateway.validate.localpay.china.OrderIdCheckRule">
		<property name="negativeOutcomeStep">
			<ref bean="localpay-china-exceptionAction" />
		</property>
		<property name="positiveOutcomeStep">
			<ref local="localpay-china-dispayNameCheckRule" />
		</property>
		<property name="messageId" value="0003" />
		<property name="message" value="Invalid order number:订单号不合法" />
	</bean>
	
	<bean id="localpay-china-dispayNameCheckRule"
		class="com.pay.gateway.validate.localpay.china.DisplayNameCheckRule">
		<property name="negativeOutcomeStep">
			<ref bean="localpay-china-exceptionAction" />
		</property>
		<property name="positiveOutcomeStep">
			<ref local="localpay-china-goodsDescCheckRule" />
		</property>
		<property name="messageId" value="0004" />
		<property name="message" value="Order Merchant display name too long:下单商户显示名过长" />
	</bean>

	<bean id="localpay-china-goodsNameCheckRule"
		class="com.pay.gateway.validate.localpay.china.GoodsNameCheckRule">
		<property name="negativeOutcomeStep">
			<ref bean="localpay-china-exceptionAction" />
		</property>
		<property name="positiveOutcomeStep">
			<ref local="localpay-china-goodsDescCheckRule" />
		</property>
		<property name="messageId" value="0004" />
		<property name="message" value="Goods name is empty or too long:商品名称为空或过长" />
	</bean>

	<bean id="localpay-china-goodsDescCheckRule"
		class="com.pay.gateway.validate.localpay.china.GoodsDescCheckRule">
		<property name="negativeOutcomeStep">
			<ref bean="localpay-china-exceptionAction" />
		</property>
		<property name="positiveOutcomeStep">
			<ref local="localpay-china-goodsCountCheckRule" />
		</property>
		<property name="messageId" value="0005" />
		<property name="message" value="Goods description is empty or too long:商品描述为空或过长" />
	</bean>
	
	<bean id="localpay-china-goodsCountCheckRule"
		class="com.pay.gateway.validate.localpay.china.GoodsCountCheckRule">
		<property name="negativeOutcomeStep">
			<ref bean="localpay-china-exceptionAction" />
		</property>
		<property name="positiveOutcomeStep">
			<ref local="localpay-china-submitTimeCheckRule" />
		</property>
		<property name="messageId" value="0073" />
		<property name="message" value="Goods quantity is empty or wrong:商品数量为空或不正确" />
	</bean>

	<bean id="localpay-china-submitTimeCheckRule"
		class="com.pay.gateway.validate.localpay.china.SubmitTimeCheckRule">
		<property name="negativeOutcomeStep">
			<ref bean="localpay-china-exceptionAction" />
		</property>
		<property name="positiveOutcomeStep">
			<ref local="localpay-china-siteIdCheckRule" />
		</property>
		<property name="messageId" value="0006" />
		<property name="message" value="Order submission time is wrong:订单提交时间不正确" />
	</bean>

	<bean id="localpay-china-siteIdCheckRule" class="com.pay.gateway.validate.localpay.china.SiteIdCheckRule">
		<property name="negativeOutcomeStep">
			<ref bean="localpay-china-exceptionAction" />
		</property>
		<property name="positiveOutcomeStep">
			<ref local="localpay-china-orderAmountCheckRule" />
		</property>
		<property name="txncoreClientService" ref="txncoreClientService" />
		<property name="messageId" value="0007" />
		<property name="message" value="Unauthorized domain names:未授权的域名" />
	</bean>

	<bean id="localpay-china-orderAmountCheckRule"
		class="com.pay.gateway.validate.localpay.china.OrderAmountCheckRule">
		<property name="negativeOutcomeStep">
			<ref bean="localpay-china-exceptionAction" />
		</property>
		<property name="positiveOutcomeStep">
			<ref local="localpay-china-typeCheckRule" />
		</property>
		<property name="messageId" value="0008" />
		<property name="message" value="Invalid Order Amount:订单金额不正确" />
	</bean>

	<bean id="localpay-china-typeCheckRule"
		class="com.pay.gateway.validate.localpay.china.TradeTypeCheckRule">
		<property name="negativeOutcomeStep">
			<ref bean="localpay-china-exceptionAction" />
		</property>
		<property name="positiveOutcomeStep">
			<ref local="localpay-china-currencyCodeCheckRule" />
		</property>
		<property name="messageId" value="0009" />
		<property name="message" value="Unauthorized trade type:未授权交易类型" />
	</bean>

	<bean id="localpay-china-currencyCodeCheckRule"
		class="com.pay.gateway.validate.localpay.china.CurrencyCodeCheckRule">
		<property name="negativeOutcomeStep">
			<ref bean="localpay-china-exceptionAction" />
		</property>
		<property name="positiveOutcomeStep">
			<ref local="localpay-china-customerIPCheckRule" />
		</property>
		<property name="messageId" value="0011" />
		<property name="message" value="Invalid transaction currency:交易币种不正确" />
	</bean>
	
	<bean id="localpay-china-customerIPCheckRule"
		class="com.pay.gateway.validate.localpay.china.CustomerIPCheckRule">
		<property name="negativeOutcomeStep">
			<ref bean="localpay-china-exceptionAction" />
		</property>
		<property name="positiveOutcomeStep">
			<ref local="localpay-china-borrowingMarkedCheckRule" />
		</property>
		<property name="messageId" value="0066" />
		<property name="message" value="Public IP of customer is empty or wrong:客户下单IP为空或不正确" />
	</bean>

	<bean id="localpay-china-borrowingMarkedCheckRule"
		class="com.pay.gateway.validate.localpay.china.BorrowingMarkedCheckRule">
		<property name="negativeOutcomeStep">
			<ref bean="localpay-china-exceptionAction" />
		</property>
		<property name="positiveOutcomeStep">
			<ref local="localpay-china-noticeUrlCheckRule" />
		</property>
		<property name="messageId" value="0013" />
		<property name="message" value="Invalid value for paramter borrowingMarked:资金来源借贷标识不正确" />
	</bean>

	<bean id="localpay-china-noticeUrlCheckRule"
		class="com.pay.gateway.validate.localpay.china.NoticeUrlCheckRule">
		<property name="negativeOutcomeStep">
			<ref bean="localpay-china-exceptionAction" />
		</property>
		<property name="positiveOutcomeStep">
			<ref local="localpay-china-merchantStatusCheckRule" />
		</property>
		<property name="messageId" value="0014" />
		<property name="message" value="Invalid merchant notice URL:商户通知地址不正确" />
	</bean>

	<bean id="localpay-china-merchantStatusCheckRule"
		class="com.pay.gateway.validate.localpay.china.MerchantStatusCheckRule">
		<property name="negativeOutcomeStep">
			<ref bean="localpay-china-exceptionAction" />
		</property>
		<property name="positiveOutcomeStep">
			<ref local="localpay-china-merchantConfigureCheckRule" />
		</property>
		<property name="memberService" ref="acc-memberService" />
		<property name="messageId" value="0015" />
		<property name="message" value="Abnormal merchant status:商户状态异常" />
	</bean>

	<bean id="localpay-china-merchantConfigureCheckRule"
		class="com.pay.gateway.validate.localpay.china.MerchantConfigureCheckRule">
		<property name="txncoreClientService" ref="txncoreClientService" />
		<property name="negativeOutcomeStep">
			<ref bean="localpay-china-exceptionAction" />
		</property>
		<property name="positiveOutcomeStep">
			<ref local="localpay-china-merchantAcctCheckRule" />
		</property>
		<property name="messageId" value="0016" />
		<property name="message" value="Unauthorized merchant:未授权限的商户" />
	</bean>

	<bean id="localpay-china-merchantAcctCheckRule"
		class="com.pay.gateway.validate.localpay.china.MerchantAcctCheckRule">
		<property name="accountQueryService" ref="acc-accountQueryService" />
		<property name="negativeOutcomeStep">
			<ref bean="localpay-china-exceptionAction" />
		</property>
		<property name="positiveOutcomeStep">
			<ref local="localpay-china-orderRepeatCheckRule" />
		</property>
		<property name="messageId" value="0017" />
		<property name="message" value="Abnormal merchant account status:商户账户状态异常" />
	</bean>

	<bean id="localpay-china-orderRepeatCheckRule"
		class="com.pay.gateway.validate.localpay.china.OrderRepeatCheckRule">
		<property name="txncoreClientService" ref="txncoreClientService" />
		<property name="negativeOutcomeStep">
			<ref bean="localpay-china-exceptionAction" />
		</property>
		<property name="positiveOutcomeStep">
			<ref local="localpay-china-MerchantChannelCheckRule" />
		</property>
		<property name="messageId" value="0049" />
		<property name="message" value="Repeated transaction number:订单号重复" />
	</bean>

	<bean id="localpay-china-MerchantChannelCheckRule"
		class="com.pay.gateway.validate.localpay.china.MerchantChannelCheckRule">
		<property name="negativeOutcomeStep">
			<ref bean="localpay-china-exceptionAction" />
		</property>
		<property name="positiveOutcomeStep">
			<ref local="localpay-china-MerchantSettlementCheckRule" />
		</property>
		<property name="memberService" ref="acc-memberService" />
		<property name="channelClientService" ref="channelClientService" />
		<property name="messageId" value="0050" />
		<property name="message" value="No channel available for merchant:商户无可用渠道" />
	</bean>
	
	<bean id="localpay-china-MerchantSettlementCheckRule"
		class="com.pay.gateway.validate.localpay.china.MerchantSettlementCheckRule">
		<property name="negativeOutcomeStep">
			<ref bean="localpay-china-exceptionAction" />
		</property>
		<property name="positiveOutcomeStep">
			<ref local="localpay-china-returnUrlCheckRule" />
		</property>
		<property name="enterpriseBaseService" ref="acc-enterpriseBaseService" />
		<property name="messageId" value="0051" />
		<property name="message" value="No merchant settlement info:商户未配置结算信息" />
	</bean>
	
	<bean id="localpay-china-returnUrlCheckRule"
		class="com.pay.gateway.validate.localpay.china.ReturnUrlCheckRule">
		<property name="negativeOutcomeStep">
			<ref bean="localpay-china-exceptionAction" />
		</property>
		<property name="positiveOutcomeStep">
			<ref local="localpay-china-directFlagCheckRule" />
		</property>
		<property name="messageId" value="0069" />
		<property name="message" value="Merchant return URL is empty or too long:商户回调地址为空或过长" />
	</bean>
	
	<bean id="localpay-china-directFlagCheckRule"
		class="com.pay.gateway.validate.localpay.china.DirectFlagCheckRule">
		<property name="negativeOutcomeStep">
			<ref bean="localpay-china-exceptionAction" />
		</property>
		<property name="positiveOutcomeStep">
			<ref local="localpay-china-languageCheckRule" />
		</property>
		<property name="messageId" value="0054" />
		<property name="message" value="Parameter directFlag is empty:是否直连为空" />
	</bean>
	
	<bean id="localpay-china-languageCheckRule"
		class="com.pay.gateway.validate.localpay.china.LanguageCheckRule">
		<property name="negativeOutcomeStep">
			<ref bean="localpay-china-exceptionAction" />
		</property>
		<property name="positiveOutcomeStep">
			<ref local="localpay-china-platFormIdCheckRule" />
		</property>
		<property name="messageId" value="0058" />
		<property name="message" value="Wrong display Language:显示语言不正确" />
	</bean>
	<bean id="localpay-china-platFormIdCheckRule"
		class="com.pay.gateway.validate.localpay.china.PlatformIdCheckRule">
		<property name="negativeOutcomeStep">
			<ref bean="localpay-china-exceptionAction" />
		</property>
		<property name="positiveOutcomeStep">
			<ref local="localpay-china-freightOrgCheckRule" />
		</property>
		<property name="messageId" value="0074" />
		<property name="message" value="Invalid platform ID:平台ID不正确" />
	</bean>
	<bean id="localpay-china-freightOrgCheckRule"
		class="com.pay.gateway.validate.localpay.china.FreightOrgCheckRule">
		<property name="negativeOutcomeStep">
			<ref bean="localpay-china-exceptionAction" />
		</property>
		<property name="positiveOutcomeStep">
			<ref local="localpay-china-orderTerminalCheckRule" />
		</property>
		<property name="messageId" value="0075" />
		<property name="message" value="Invalid freight agency:不正确的货运机构" />
	</bean>
	<bean id="localpay-china-freightWebsiteCheckRule"
		class="com.pay.gateway.validate.localpay.china.FreightWebsiteCheckRule">
		<property name="negativeOutcomeStep">
			<ref bean="localpay-china-exceptionAction" />
		</property>
		<property name="positiveOutcomeStep">
			<ref local="localpay-china-waybillNoCheckRule" />
		</property>
		<property name="messageId" value="0076" />
		<property name="message" value="Invalid freight agency website:货运机构网址不正确" />
	</bean>
	<bean id="localpay-china-waybillNoCheckRule"
		class="com.pay.gateway.validate.localpay.china.WaybillNoCheckRule">
		<property name="negativeOutcomeStep">
			<ref bean="localpay-china-exceptionAction" />
		</property>
		<property name="positiveOutcomeStep">
			<ref local="localpay-china-deliverModeCheckRule" />
		</property>
		<property name="messageId" value="0077" />
		<property name="message" value="Invalid waybill number:运单号不正确" />
	</bean>
	<bean id="localpay-china-deliverModeCheckRule"
		class="com.pay.gateway.validate.localpay.china.DeliverModeCheckRule">
		<property name="negativeOutcomeStep">
			<ref bean="localpay-china-exceptionAction" />
		</property>
		<property name="positiveOutcomeStep">
			<ref local="localpay-china-payeeNameCheckRule" />
		</property>
		<property name="messageId" value="0078" />
		<property name="message" value="Invalid delivery method:发货方式不正确" />
	</bean>
	
	<bean id="localpay-china-payeeNameCheckRule"
		class="com.pay.gateway.validate.localpay.china.PayeeNameCheckRule">
		<property name="negativeOutcomeStep">
			<ref bean="localpay-china-exceptionAction" />
		</property>
		<property name="positiveOutcomeStep">
			<ref local="localpay-china-regionEnCodeCheckRule" />
		</property>
		<property name="messageId" value="0079" />
		<property name="message" value="Invalid shipping name:收货人名称不正确" />
	</bean>
	
	<bean id="localpay-china-regionEnCodeCheckRule"
		class="com.pay.gateway.validate.localpay.china.RegionEnCodeCheckRule">
		<property name="negativeOutcomeStep">
			<ref bean="localpay-china-exceptionAction" />
		</property>
		<property name="positiveOutcomeStep">
			<ref local="localpay-china-payeeSwiftCheckRule" />
		</property>
		<property name="messageId" value="0080" />
		<property name="message" value="Invalid shipping country:收货人国家地区英文码不正确" />
	</bean>
	
	<bean id="localpay-china-payeeSwiftCheckRule"
		class="com.pay.gateway.validate.localpay.china.PayeeSwiftCheckRule">
		<property name="negativeOutcomeStep">
			<ref bean="localpay-china-exceptionAction" />
		</property>
		<property name="positiveOutcomeStep">
			<ref local="localpay-china-payeeBanknumCheckRule" />
		</property>
		<property name="messageId" value="0081" />
		<property name="message" value="Invalid swift code:收款行swift不正确" />
	</bean>
	
	<bean id="localpay-china-payeeBanknumCheckRule"
		class="com.pay.gateway.validate.localpay.china.PayeeBanknumCheckRule">
		<property name="negativeOutcomeStep">
			<ref bean="localpay-china-exceptionAction" />
		</property>
		<property name="positiveOutcomeStep">
			<ref local="localpay-china-payeeAccountCheckRule" />
		</property>
		<property name="messageId" value="0082" />
		<property name="message" value="Invalid bank number:收款人银行账号不正确" />
	</bean>
	
	<bean id="localpay-china-payeeAccountCheckRule"
		class="com.pay.gateway.validate.localpay.china.PayeeAccountCheckRule">
		<property name="negativeOutcomeStep">
			<ref bean="localpay-china-exceptionAction" />
		</property>
		<property name="positiveOutcomeStep">
			<ref local="localpay-china-payeeAddressCheckRule" />
		</property>
		<property name="messageId" value="0083" />
		<property name="message" value="Invalid shipping account:收货人账户不正确" />
	</bean>
	
	<bean id="localpay-china-payeeAddressCheckRule"
		class="com.pay.gateway.validate.localpay.china.PayeeAddressCheckRule">
		<property name="negativeOutcomeStep">
			<ref bean="localpay-china-exceptionAction" />
		</property>
		<property name="positiveOutcomeStep">
			<ref local="localpay-china-payCurrencyCheckRule" />
		</property>
		<property name="messageId" value="0084" />
		<property name="message" value="Invalid shipping address:收货人地址不正确" />
	</bean>
	<bean id="localpay-china-payCurrencyCheckRule"
		class="com.pay.gateway.validate.localpay.china.PayCurrencyCheckRule">
		<property name="negativeOutcomeStep">
			<ref bean="localpay-china-exceptionAction" />
		</property>
		<property name="positiveOutcomeStep">
			<ref local="localpay-china-registerUserIdCheckRule" />
		</property>
		<property name="messageId" value="0085" />
		<property name="message" value="Invalid payment currency:收款币种不正确" />
	</bean>
	
	<bean id="localpay-china-registerUserIdCheckRule"
		class="com.pay.gateway.validate.localpay.china.RegisterUserIdCheckRule">
		<property name="negativeOutcomeStep">
			<ref bean="localpay-china-exceptionAction" />
		</property>
		<property name="positiveOutcomeStep">
			<ref local="localpay-china-attachmentCheckRule" />
		</property>
		<property name="messageId" value="0086" />
		<property name="message" value="Invalid registerUserId:用户注册ID不正确" />
	</bean>
	
	<bean id="localpay-china-attachmentCheckRule"
		class="com.pay.gateway.validate.localpay.china.AttachmentCheckRule">
		<property name="negativeOutcomeStep">
			<ref bean="localpay-china-exceptionAction" />
		</property>
		<property name="positiveOutcomeStep">
			<ref local="localpay-china-remarkCheckRule" />
		</property>
		<property name="messageId" value="0087" />
		<property name="message" value="Invalid transaction vouchers address:交易凭证地址不正确" />
	</bean>
	
	<bean id="localpay-china-remarkCheckRule"
		class="com.pay.gateway.validate.localpay.china.RemarkCheckRule">
		<property name="negativeOutcomeStep">
			<ref bean="localpay-china-exceptionAction" />
		</property>
		<property name="positiveOutcomeStep">
			<ref local="localpay-china-orderTerminalCheckRule" />
		</property>
		<property name="messageId" value="0088" />
		<property name="message" value="Invalid remark:备注信息不正确" />
	</bean>
	
	<bean id="localpay-china-orderTerminalCheckRule"
		class="com.pay.gateway.validate.localpay.china.OrderTerminalCheckRule">
		<property name="negativeOutcomeStep">
			<ref bean="localpay-china-exceptionAction" />
		</property>
		<property name="positiveOutcomeStep">
			<ref local="localpay-china-charsetCheckRule" />
		</property>
		<property name="messageId" value="0068" />
		<property name="message" value="DeviceFingerprintId is empty or too long:设备指纹ID为空或过长" />
	</bean>
	
		<bean id="localpay-china-charsetCheckRule" class="com.pay.gateway.validate.localpay.china.CharsetCheckRule">
		<property name="negativeOutcomeStep">
			<ref bean="localpay-china-exceptionAction" />
		</property>
		<property name="positiveOutcomeStep">
			<ref local="localpay-china-signTypeCheckRule" />
		</property>
		<property name="messageId" value="0046" />
		<property name="message" value="Character encoding is wrong:编码方式不正确" />
	</bean>

	<bean id="localpay-china-signTypeCheckRule" class="com.pay.gateway.validate.localpay.china.SignTypeCheckRule">
		<property name="negativeOutcomeStep">
			<ref bean="localpay-china-exceptionAction" />
		</property>
		<property name="positiveOutcomeStep">
			<ref local="localpay-china-crosspayAcquireApiSignMsgCheckRule" />
		</property>
		<property name="messageId" value="0047" />
		<property name="message" value="Signature type is wrong:签名类型不正确" />
	</bean>

	<bean id="localpay-china-crosspayAcquireApiSignMsgCheckRule"
		class="com.pay.gateway.validate.localpay.china.ChinaLocalpaySignMsgCheckRule">
		<property name="negativeOutcomeStep">
			<ref bean="localpay-china-exceptionAction" />
		</property>
		<property name="positiveOutcomeStep">
			<ref local="localpay-china-gatewayRequestSaveAction" />
		</property>
		<property name="txncoreClientService" ref="txncoreClientService" />
		<property name="tradeDataSingnatureService" ref="tradeDataSingnatureService" />
		<property name="messageId" value="0048" />
		<property name="message" value="Signature verification fails:签名校验不通过" />
	</bean>
	
	<bean id="localpay-china-gatewayRequestSaveAction"
		class="com.pay.gateway.validate.localpay.china.GatewayRequestSaveAction">
		<property name="gatewayRequestService" ref="gatewayRequestService" />
		<property name="nextStep">
			<ref bean="stopExecuteAction" />
		</property>
	</bean>

	<bean id="localpay-china-exceptionAction" class="com.pay.gateway.validate.localpay.china.ExceptionAction">
		<property name="tradeDataSingnatureService" ref="tradeDataSingnatureService" />
		<property name="nextStep">
			<ref bean="stopExecuteAction" />
		</property>
	</bean>

</beans>