启赟支付	业务批次号：${businessNo}								
开户银行所属省份,开户银行所属城市,银行名称,开户行名称,收款方账户类型（C个人 B企业）,收款方姓名,收款方银行账号,金额（元）,不能付款原因,备注（50字以内）,商家订单号（30字符以内-支持字母和数字）
#foreach($detailInfo in $detailList)									
$!{detailInfo.payeeBankProvinceName},$!{detailInfo.payeeBankCityName},$!{detailInfo.payeeBankName},$!{detailInfo.payeeOpeningBankName},$!{detailInfo.tradeType},$!{detailInfo.payeeName},$!{detailInfo.payeeBankAcctCode},$!{detailInfo.requestAmount},$!{detailInfo.errorMsg},$!{detailInfo.remark},$!{detailInfo.foreignOrderId}
#end