启赟支付	业务批次号：${businessNo}																																																																																																																																																																																																																																																								
商户流水号,收款方姓名,收款方帐户,付款金额,状态,不能付款原因,备注																																																																																																																																																																																																																																																				
#foreach($detailInfo in $detailList)																																																																																																																																																																																																																																																										
$!{detailInfo.foreignOrderId},$!{detailInfo.payeeName},$!{detailInfo.PayeeLoginName},$!{detailInfo.requestAmount},$!{detailInfo.orderStatusDesc},$!{detailInfo.errorMsg},$!{detailInfo.remark}																																																																																																																																																																																																																																																				
#end