<table width="20%" align="center">
	<tr>
		<td height="5"></td>
	</tr>
</table>
<table width="750" align="center" cellpadding="0" cellspacing="0"
	bgcolor="#F4F4F4" style="border: 1 solid #CCCCCC">
	<tr>
		<td height="30" align="center">&nbsp;&nbsp;
		共 <font color="blue">${total}</font>条记录&nbsp;
		${firstPageStart}首页${firstPageEnd}&nbsp;
		${perPageStart}上一页${perPageEnd}&nbsp;
		${nextPageStart}下一页${nextPageEnd}&nbsp;
		${lastPageStart}尾页${lastPageEnd}&nbsp;&nbsp;&nbsp;
		页次：${page}/${allPage}&nbsp;&nbsp;
		每页显示	${numPage} 条&nbsp;&nbsp; 
		跳转到第&nbsp;${jumpPage}&nbsp;页 
		${gotoPage}
		</td>
	</tr>
</table>
