<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
  http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
  http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
  http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd">

	<bean id="bank-corp-LobHandler" class="org.springframework.jdbc.support.lob.DefaultLobHandler"
		lazy-init="true" />

	<!-- Transaction manager for a single JDBC DataSource -->
	<bean id="bank-corp-TransactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource">
			<ref bean="foDs" />
		</property>
	</bean>

	<bean id="bank-corp-SqlMapClient" class="org.springframework.orm.ibatis.SqlMapClientFactoryBean">
		<property name="configLocation">
			<value>
				classpath:sqlmap/bankcorp/sqlmap-config.xml
			</value>
		</property>
		<property name="mappingLocations">
			<value>
				classpath*:sqlmap/bankcorp/**/*.xml
			</value>
		</property>
		<property name="dataSource" ref="foDs" />
		<property name="lobHandler" ref="bank-corp-LobHandler" />
	</bean>

</beans>