<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans   
        http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">

	<bean id="gatewayBaseDAO" class="com.pay.inf.dao.impl.BaseDAOImpl"
		abstract="true">
		<property name="sqlMapClient" ref="gatewaySqlMapClient" />
	</bean>

	<bean id="gatewayPaymentChannelCategoryDAO" class="com.pay.channel.dao.impl.PaymentChannelCategoryDAOImpl"
		parent="gatewayBaseDAO">
		<property name="namespace" value="paymentChannelCategory" />
	</bean>

	<bean id="gatewayPaymentChannelDAO" class="com.pay.channel.dao.impl.PaymentChannelDAOImpl"
		parent="gatewayBaseDAO">
		<property name="namespace" value="paymentChannel" />
	</bean>

	<bean id="gatewayPaymentChannelItemDAO" class="com.pay.channel.dao.impl.PaymentChannelItemDAOImpl"
		parent="gatewayBaseDAO">
		<property name="namespace" value="paymentChannelItem" />
	</bean>

	<bean id="gatewayPaymentChannelItemConfigDAO"
		class="com.pay.channel.dao.impl.PaymentChannelItemConfigDAOImpl"
		parent="gatewayBaseDAO">
		<property name="namespace" value="paymentChannelItemConfig" />
	</bean>

	<bean id="gatewayPaymentChannelItemDefaultDAO"
		class="com.pay.channel.dao.impl.PaymentChannelItemDefaultDAOImpl"
		parent="gatewayBaseDAO">
		<property name="namespace" value="paymentChannelItemDefault" />
	</bean>

	<bean id="channelSecondRelationDAO" class="com.pay.channel.dao.impl.ChannelSecondRelationDAOImpl"
		parent="gatewayBaseDAO">
		<property name="namespace" value="channelSecondRelation" />
	</bean>

	<bean id="gatewayChannelRequestDAO" class="com.pay.channel.dao.impl.ChannelRequestDAOImpl"
		parent="gatewayBaseDAO">
		<property name="namespace" value="channelRequest" />
	</bean>

	<bean id="gatewayChannelResponseDAO" class="com.pay.channel.dao.impl.ChannelResponseDAOImpl"
		parent="gatewayBaseDAO">
		<property name="namespace" value="channelResponse" />
	</bean>

	<bean id="channelConfigDAO" class="com.pay.channel.dao.impl.ChannelConfigDAOImpl"
		parent="gatewayBaseDAO">
		<property name="namespace" value="channelConfig" />
	</bean>

	<bean id="channelConfigTempDAO" class="com.pay.channel.dao.impl.ChannelConfigTempDAOImpl"
		parent="gatewayBaseDAO">
		<property name="namespace" value="channelConfigTemp" />
	</bean>
	 <!--
	<bean id="channelMidCountDAO" class="com.pay.channel.dao.impl.ChannelMidCountDAOImpl"
		parent="gatewayBaseDAO">
		<property name="namespace" value="channelMidCount" />
	</bean>
        -->  
	<bean id="channelMidAmountDao" class="com.pay.channel.dao.impl.ChannelMidAmountDAOImpl"
		parent="gatewayBaseDAO">
		<property name="namespace" value="channelMidAmount" />
	</bean>

	<bean id="paymentChannelItemConfigDAO" class="com.pay.channel.dao.impl.PaymentChannelItemConfigDAOImpl"
		parent="gatewayBaseDAO">
		<property name="namespace" value="paymentChannelItemConfig" />
	</bean>
	
	<bean id="channelCurrencyDao" class="com.pay.channel.dao.impl.ChannelCurrencyDaoImpl"
		parent="gatewayBaseDAO">
		<property name="namespace" value="channelCurrency" />
	</bean>
	
	<bean id="channelItemRCurrencyDAO" class="com.pay.channel.dao.impl.ChannelItemRCurrencyDAOImpl"
				 parent="gatewayBaseDAO">
		<property name="namespace" value="channelItemRCurrency" />
	</bean>

	<bean id="parnterChannelCountryDAO" class="com.pay.channel.dao.impl.ParnterChannelCountryDAOImpl"
		  parent="gatewayBaseDAO">
		<property name="namespace" value="parnterChannelCountry" />
	</bean>

	<bean id="memberConnectHisDAO" class="com.pay.channel.dao.impl.MemberConnectHisDAOImpl"
		  parent="gatewayBaseDAO">
		<property name="namespace" value="com.pay.channel.dao.MemberConnectHisMapper" />
	</bean>

	<bean id="memberCurrentConnectDAO" class="com.pay.channel.dao.impl.MemberCurrentConnectDAOImpl"
		  parent="gatewayBaseDAO">
		<property name="namespace" value="com.pay.channel.dao.MemberCurrentConnectMapper" />
	</bean>

	<bean id="memberSecondLimitDAO" class="com.pay.channel.dao.impl.MemberSecondLimitDAOImpl"
		  parent="gatewayBaseDAO">
		<property name="namespace" value="com.pay.channel.dao.MemberSecondLimitMapper" />
	</bean>

	<bean id="paymentChannelCountDAO" class="com.pay.channel.dao.impl.PaymentChannelCountDAOImpl"
		  parent="gatewayBaseDAO">
		<property name="namespace" value="com.pay.channel.dao.PaymentChannelCountMapper" />
	</bean>

	<bean id="secondMerchantCountDAO" class="com.pay.channel.dao.impl.SecondMerchantCountDAOImpl"
		  parent="gatewayBaseDAO">
		<property name="namespace" value="com.pay.channel.dao.SecondMerchantCountMapper" />
	</bean>

	<bean id="usableSecondMerchantDAO" class="com.pay.channel.dao.impl.UsableSecondMerchantDAOImpl"
		  parent="gatewayBaseDAO">
		<property name="namespace" value="com.pay.channel.dao.UsableSecondMerchantMapper" />
	</bean>
	<!-- add by yang.zhao at 20160907 start-->
	<bean id="settlementCurrencyConfigDAO" class="com.pay.channel.dao.impl.SettlementCurrencyConfigDAOImpl" 
	    parent="gatewayBaseDAO">
	    <property name="namespace" value="settlementCurrencyConfig" />
	</bean>
	<!-- add by yang.zhao at 20160907 end-->
</beans> 