<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
  http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
  http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
  http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd">

	<bean id="gatewayLobHandler" class="org.springframework.jdbc.support.lob.DefaultLobHandler"
		lazy-init="true" />

	<bean id="gatewayTransactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource">
			<ref bean="fiDs" />
		</property>
	</bean>

	<bean id="gatewaySqlMapClient" class="org.springframework.orm.ibatis.SqlMapClientFactoryBean">
		<property name="configLocations">
			<value>classpath*:sqlmap/fi/sqlmap-config.xml</value>
		</property>
		<property name="mappingLocations">
			<value>classpath*:sqlmap/fi/mapping/*.xml</value>
		</property>
		<property name="dataSource" ref="fiDs" />
		<property name="lobHandler" ref="gatewayLobHandler" />
	</bean>

	<aop:config>
		<aop:pointcut id="serviceGatewayMethod"
			expression="execution(* com.pay.gateway.service..*.*(..))" />
		<aop:advisor advice-ref="txGatewayAdvice" pointcut-ref="serviceGatewayMethod" />
	</aop:config>

	<!-- 新加切面pay -->
	<aop:config>
		<aop:pointcut id="serviceGatewayMethod21"
			expression="execution(* com.pay.fi..service..*.*(..))" />
		<aop:advisor advice-ref="txGatewayAdvice" pointcut-ref="serviceGatewayMethod21" />
	</aop:config>

	<aop:config>
		<aop:pointcut id="serviceGatewayMethod22"
			expression="execution(* com.pay.fi.facade..*.*(..))" />
		<aop:advisor advice-ref="txGatewayAdvice" pointcut-ref="serviceGatewayMethod22" />
	</aop:config>

	<aop:config>
		<aop:pointcut id="serviceGatewayMethod23" expression="execution(* com.pay.fi.cost..*.*(..))" />
		<aop:advisor advice-ref="txGatewayAdvice" pointcut-ref="serviceGatewayMethod23" />
	</aop:config>
	<!-- 新加切面com.pay.gateway.merchant -->
	<aop:config>
		<aop:pointcut id="merchantGatewayMethod"
			expression="execution(* com.pay.gateway.merchant..*.*(..))" />
		<aop:advisor advice-ref="txGatewayAdvice" pointcut-ref="merchantGatewayMethod" />
	</aop:config>

	<!-- 新加切面com.pay.gateway.model -->
	<aop:config>
		<aop:pointcut id="modelGatewayMethod"
			expression="execution(* com.pay.gateway.model..*.*(..))" />
		<aop:advisor advice-ref="txGatewayAdvice" pointcut-ref="modelGatewayMethod" />
	</aop:config>

	<aop:config>
		<aop:pointcut id="serviceGatewayMethod1"
			expression="execution(* com.pay.gateway.facade..*Service*.*(..))" />
		<aop:advisor advice-ref="txGatewayAdvice" pointcut-ref="serviceGatewayMethod1" />
	</aop:config>
	<aop:config>
		<aop:pointcut id="serviceGatewayMethod11"
			expression="execution(* com.pay.gateway.facade..*service*.*(..))" />
		<aop:advisor advice-ref="txGatewayAdvice" pointcut-ref="serviceGatewayMethod1" />
	</aop:config>

	<aop:config>
		<aop:pointcut id="serviceGatewayMethod2"
			expression="execution(* com.pay.fi.supplement.service.*.*(..))" />
		<aop:advisor advice-ref="txGatewayAdvice" pointcut-ref="serviceGatewayMethod2" />
	</aop:config>

	<aop:config>
		<aop:pointcut id="serviceGatewayMethod3"
			expression="execution(* com.pay.fi.reconcile.service.*.*(..))" />
		<aop:advisor advice-ref="txGatewayAdvice" pointcut-ref="serviceGatewayMethod3" />
	</aop:config>

	<aop:config>
		<aop:pointcut id="serviceGatewayMethod4"
			expression="execution(* com.pay.fi.reversed.service.*.*(..))" />
		<aop:advisor advice-ref="txGatewayAdvice" pointcut-ref="serviceGatewayMethod4" />
	</aop:config>

	<tx:advice id="txGatewayAdvice" transaction-manager="gatewayTransactionManager">
		<tx:attributes>
			<tx:method name="query*" read-only="true" />
			<tx:method name="*" propagation="SUPPORTS" rollback-for="AppException" />
			<tx:method name="*RnTx" propagation="REQUIRES_NEW"
				rollback-for="AppException" />
			<tx:method name="*SpTx" propagation="SUPPORTS"
				rollback-for="AppException" />
			<tx:method name="*NsTx" propagation="NOT_SUPPORTED"
				rollback-for="AppException" />
			<tx:method name="*RdTx" propagation="REQUIRED"
				rollback-for="AppException" />
			<tx:method name="process*" propagation="REQUIRED"
				rollback-for="AppException" />
			<tx:method name="execute*" propagation="REQUIRED"
				rollback-for="AppException" />
			<tx:method name="change*" propagation="REQUIRED"
				rollback-for="AppException" />
			<tx:method name="update*" propagation="REQUIRED"
				rollback-for="AppException" />
			<tx:method name="insert*" propagation="REQUIRED"
				rollback-for="AppException" />
			<tx:method name="create*" propagation="REQUIRED"
				rollback-for="AppException" />
			<tx:method name="delete*" propagation="REQUIRED"
				rollback-for="AppException" />
		</tx:attributes>
	</tx:advice>
</beans>